	div#artBlock
	{
		position:relative;
		background-color:#ccc;
		border:1px solid red;
		padding:80px;
	}
	div.addLink
	{
		text-align:right;
		border-bottom:1px solid silver;
		padding:5px;
		margin:10px;
	}
	div.addLink span, div.navigationLinks span
	{
		margin:0px 5px;	
	}
	div.categoryBlock1
	{
		position:relative;
		padding:3px;
		margin-bottom:10px;
		background-color:#ECF2FF;
	}
	div.categoryBlock2
	{
		position:relative;
		padding:3px;
		margin-bottom:10px;
		background-color:#ffffff;
	}
	div.categoryCaption
	{
		position:relative;
		border:0px solid red;
		line-height:20px;
		vertical-align:middle;
		padding-left:5px;
		font-size:12px;
		font-weight:bold;
		margin-bottom:5px;
	}
	div.categoryCaption span
	{
		position:absolute;
		top:2px;
		font-weight:normal;
		font-size:10px;
	}
	span.categoryEdit
	{
		right:5px;
	}
	span.categoryDelete
	{
		right:40px;
	}
	div.categoryCaption a:link, div.categoryCaption a:visited
	{
		color:#5778BB;
	}
	div.categoryDescription
	{
		position:relative;
		border:0px solid green;
	}
	div.articlesFormBlock
	{
		position:relative;
		border:0px solid red;
	}
	input.catCaption
	{
		width:560px;
	}
	textarea.catDesc
	{
		width:560px;
		height:130px;
	}
	
	div.categoryAction
	{
		position:relative;
		margin:3px;
		text-align:center;
		border:0px solid blue;
		padding:3px;
		color:green;
	}
	div.navigationLinks
	{
		position:relative;
		margin-bottom:12px;
		padding-bottom:5px;
		border-bottom:1px dashed silver;
	}
	div.categoryHeader
	{
		position:relative;
		padding:5px;
		margin-bottom:10px;
	}
	div.categoryHeader div.artCaption
	{
		color:#5778BB;
		font-size:12px;
		font-weight:bold;
		margin-bottom:7px;
	}
	div.atricleBlock
	{
		position:relative;
		margin-bottom:5px;
		padding:5px;
	}

	div.atricleBlock1, div.atricleBlock2
	{
		position:relative;
		margin-bottom:5px;
		padding:5px;
	}
	div.atricleBlock1
	{
		background-color:#E7E4F4;
	}
	div.atricleBlock2
	{
		background-color:#fff;
	}	
	div.atricleBlock1 div.title, div.atricleBlock2 div.title, div.atricleBlock div.title
	{
		position:relative;
		margin-bottom:3px;
		font-size:12px;
		font-weight:bold;
	}
	div.atricleBlock1 div.preview, div.atricleBlock2 div.preview, div.atricleBlock div.preview
	{
		
	}
	div.atricleBlock1 div.date, div.atricleBlock2 div.date, div.atricleBlock div.date
	{
		position:relative;
		text-align:right;
		font-style:italic;
	}
	div.atricleBlock1 div.mainTitle, div.atricleBlock2 div.mainTitle, div.atricleBlock div.mainTitle
	{
		position:relative;
		text-align:center;
		font-size:13px;
		font-weight:bold;
	}
	textarea.articl
	{
		width:560px;
		height:430px;
	}