	div#container_menu
	{
		position:relative;
		overflow:hidden;
		border:0px solid red;
		margin-bottom:10px;
	}
	div#sex_age_block
	{
		position:relative;
		border:0px solid red;
		overflow:hidden;
		margin-bottom:10px;		
	}
	div#sex_age_block div
	{
		position:relative;
		border:0px solid red;
		float:left;
		width:265px;
		height:37px;
	}
	div#sex
	{
		
	}
	div#age
	{
		
	}
	div#relationships
	{
		position:relative;
		border:0px solid green;
		overflow:hidden;
		margin-bottom:10px;
	}
	div#relationships div.checkboxes div
	{
		position:relative;
		float:left;
		border:0px solid red;
	}
	div#relationships div#country_block
	{
		position:relative;
		border:0px solid red;
		margin:10px 0px;
	}
	div#submit
	{
		position:relative;
		border:0px solid blue;
		text-align:center;
	}
	div#only
	{
		position:relative;
		overflow:hidden;
		border:0px solid red;
		text-align:center;
		margin-bottom:10px;
	}
	div.design_box_border
	{
	    float: left;
	    margin-left: 5px;
	    margin-bottom: 10px;
	    width: 120px;
	}

	div.design_box_border div.header
	{
	    overflow: hidden;
	}
	div.design_box_border div.keeper
	{
		padding:0px;
	}

	div.thumbnail_block
	{
		margin-left:auto;
		margin-right:auto;
	}
	
	