	table, tr, td
	{
		text-align:left;
	}
	
	.join_header_first, .join_header
	{
		height:25px;
		background-repeat:repeat-x;
		border:1px solid #9B9A9A;
		text-align:center;
	}
	.join_td_1
	{
		text-align:left;
	}