.login_form_cont
{
	position:relative;
	border:0px solid gray;
	margin:0px auto;
	background-color:#FFF;
	padding:5px;
	font-size:12px;
}

.login_form_header
{
	display:none;
}

.login_form_warning
{
	font-weight:bold;
	color:#bd320b;
	text-align:left;
}

.login_form_row
{
	padding:4px;
}

.login_form_label
{
	float:left;
	width:80px;
	text-align:right;
	margin-right:7px;
	height:21px;
	line-height:21px;
}

.login_form_row_forgot
{
	padding-left:90px;
	margin-bottom:3px;
}

.login_form_val
{
	float:left;
	width:190px;
}

.login_form_input
{
	width:98%;
	/*border:1px solid gray;*/
}

.login_form_submit
{
	margin-top:2px;
}

.login_form_join
{
	font-size: 13px;
	font-weight: bold;
	float: left;
	margin-top: 3px;
	margin-left: 10px;
}
