.news_cont
{
	position:relative;
}

.news_date
{
	float:left;
	font-style:italic;
	position:relative;
	padding:2px;
}

.news_header
{
	text-align:center;
	font-weight:bold;
	font-size:14px;
	margin-bottom:5px;
}

.news_snippet
{
	font-weight:bold;
	margin:5px;
	text-align:center;
}

.news_text
{
	text-align:justify;
}