
.news_preview_wrapper
{
	padding-left:5px;
	padding-right:5px;
}

.no_news
{
	text-align:center;font-weight:bold;
}

.news_cont
{
	border-bottom:2px dotted #CCCCCC;
	margin-bottom:10px;
	padding-bottom:3px;
}

.news_header_cont
{
	font-size:12px;
}

.news_date
{
	font-style:italic;
	margin-right:10px;
}

.news_header
{
	font-weight:bold;
}