/*.divUnderCustomization
{
	border:1px solid #cccccc;
	padding:3px;
}*/

#thin_column
{
	position:relative;
	float:left;
}

#thick_column
{
	position:relative;
	float:left;
}

/*
.order_thin_thick
{
	float:left;
}

.order_thick_thin
{
	float:right;
}

.order_thin_thick#thin_column,
.order_thick_thin#thick_column
{
	margin-right:6px;
}
*/

#thin_column div.pollBlock
{
	width:170px;
}

/* * * * Friend list * * * */

#container_friend_list .thumbnail_block
{
	margin:0px;
}

.friends_thumb_1
{
	position:relative;
	width:112px;
	float:left;
	margin: 0px 7px 7px 0px;	
}

.friends_thumb_2
{
	position:relative;
	width:112px;
	float:left;
	margin: 0px 0px 7px;
}

.browse_nick
{
	position:relative;
	text-align:center;
}

.browse_nick a
{
	font-weight:bold;
}

/* * * * Profile Comments * * * */

.commentNew
{
	color:red;
	font-size:9px;
	position:relative;
	top:-3px;
}

.comment_row
{
	border-bottom:1px dotted #CCCCCC;
	margin-bottom:3px;
}

.comment_author
{
	font-weight:bold;
}

.comment_text
{
	border:1px solid #CECECE;
	background-color:#F3F5FF;
	padding:2px;
}

.comment_actions
{
	/*background-color:#EFF0F4;*/
	margin-bottom:2px;
	padding:2px;
	float:right;
}

.comment_replies
{
	padding-left:30px;
	float:left;
	clear:left;
	margin-bottom:10px;
}
.comment_replies img
{
	height:15px;
	margin-left:5px;
}
.comment_replies .commentUnit
{
	width:310px;
}
.comment_replies .commentMain
{
	width:240px;
}
.comment_replies .userPic
{
	width:45px;
}

.comment_textarea
{
	width:99%;
}

/* * * * Profile Details * * * */

#profile_details_wrapper
{

}

.profile_td_1,
.profile_td_1_first
{
	vertical-align:top;
	padding:2px;
}

.profile_td_2,
.profile_td_2_first
{
	padding:2px;
	font-weight:bold;
}

/* * * * Photos * * * */

.photoBlock
{
	position:relative;
	text-align:center;
	border:1px solid #cccccc;
	background-repeat:no-repeat;
	background-position: center center;	
}

.photo
{
	background-repeat:no-repeat;
	background-position: center center;
}

.votingBlock
{
	text-align:center;
}

.RatePhotoCont
{
	margin:6px;
}

.icons:hover
{
	border: 1px solid gray;
	background-color:#eeeeee;
}

.icons
{
	border: 1px solid #cccccc;
	margin: 2px;
	cursor: pointer;
	background-position:center center;
	background-repeat:no-repeat;
}

.iconBlockCont
{
	position:relative;
	height:51px;
	border:1px solid #cccccc;
	overflow:hidden;
}

.iconBlock
{
	position:absolute;
	white-space:nowrap;
	float:left;
}

.scrollCont
{
}

.scrollLeft
{
	position:relative;
	float:left;
	cursor:default;
	font-weight:bold;
}

.scrollRight
{
	position:relative;
	float:right;
	cursor:default;
	font-weight:bold;
}
