.qsearch_wrapper
{
	padding:5px;
}

.qsearch_form
{
	text-align:center;
	font-weight:bold;
}

.qsearch_label
{
	margin:5px;
}

.qsearch_notfound
{
	text-align:center;
	font-weight:bold;
	margin:10px;
}


.qsearch_row
{
	position:relative;
	margin:5px;
	border:1px solid silver;
	background-color:#FFE;
}

.qsearch_thumb
{
	position:relative;
	border:0px solid green;
	float:left;
	padding:3px;
}

.qsearch_info
{
	position:relative;
	width:130px;
	float:left;
	margin:3px;
	border:0px solid green;
}

.qsearch_actions
{
	position:relative;
	border:0px solid green;
	float:right;
	padding-top:20px;
	padding-right:3px;
	text-align:center;
	font-weight:bold;
}