	div.rate_sex_form
	{
		position:relative;
		text-align:center;
		margin-bottom:15px;
	}
	div.rate_photo
	{
		position:relative;
		margin-bottom:15px;
	}
	div.rate_vote_form
	{
		position:relative;
		width:250px;
		margin-left:auto;
		margin-right:auto;
		margin-bottom:25px;
	}
	div.rate_results
	{
		position:relative;
		border:0px solid red;
		text-align:left;
	}
	div.photoTumb
	{
		
	}