	div.by_nick_by_id
	{
		position:relative;
		margin-bottom:10px;
		border:0px solid red;
	}
	div.by_nick_by_id div.by_id
	{
		position:relative;
		float:left;
		width:262px;
	}
	div.end_form
	{
		position:relative;
		margin-bottom:10px;
		width:350px;
		border:0px solid red;
		margin-left:auto;
		margin-right:auto;
	}
	div.end_form div
	{
		position:relative;
		border:0px solid red;
		float:left;
		height:21px;
		line-height:21px;
		vertical-align:middle;
		margin:0px 5px;
	}

    div.search_show_hide
    {
        position:absolute;
        top:-25px;
        right:15px;
	}
