	body
	{
		margin:0px;
		padding:0px;
		font-family:Verdana, Arial, Helvetica, sans-serif;
		font-size:11px;
		color:#333333;
		margin-bottom:20px;
		background-color:#FFFFFF;
	}
/*------------------*/
	.shoutbg1
	{
		height:15px;
		line-height:15px;
		vertical-align:middle;
	}
	.shoutbg2
	{
		height:15px;
		line-height:15px;
		vertical-align:middle;
		background-color:#dedede;
	}

/*------------------*/