	div.choiseBlock
	{
		position:relative;
		border:0px solid red;
		text-align:right;
		padding:0px;
		padding-right:5px;
		border-bottom:1px solid silver;
		margin-bottom:12px;
		height:23px;
		line-height:23px;
		vertical-align:middle;
	}
	div.choiseBlock div.item
	{
		position:relative;
		border:0px solid red;
		float:right;
		height:inherit;
		margin:0px;
		margin-left:5px;
		width:76px;
		text-align:center;
		font-weight:bold;
	}
	div.choiseBlock div.item div
	{
		position:absolute;
		top:0px;
		right:0px;
		border:0px solid red;
		width:76px;
	}
	div.choiseBlock div.passive
	{
		background-image:url('../images/media_tab_passive.png');
	}
	div.choiseBlock div.hover
	{
		background-image:url('../images/media_tab_hover.png');
	}

	div.choiseBlock div.active
	{
		height:24px;
		background-image:url('../images/media_tab_active.png');
		background-position:top;
	}
	div.addNew
	{
		position:relative;
		text-align:right;
		padding:2px;
		padding-right:5px;
		/*border-bottom:1px solid silver;*/
		margin-bottom:12px;
	}
	div#addNewBlock
	{
		position:relative;
		width:310px;
		border:0px solid red;
		margin-left:auto;
		margin-right:auto;
	}
	div#addNewBlock input.title,
	div#addNewBlock input.file
	{
		font-size:13px;
		/*font-family:Georgia, Verdana, "Times New Roman", Times, serif;
		font-weight:normal;
		color:#3F3F3F;
		vertical-align:middle;
		line-height:12px;
		padding:2px;*/
	}

	div#addNewBlock input.title
	{
		width:300px;
	}
	div#addNewBlock input.file
	{
		/*padding-top:2px;*/
	}
	div#addNewBlock div
	{
		margin-bottom:5px;
	}
	div.iconBlock
	{
		position:relative;
		width:520px;
		margin-left:auto;
		margin-right:auto;
		margin-top:20px;
		text-align:center;
	}

	img.iconsHover, img.icons, img.photo
	{
		background-repeat:no-repeat;
		background-position:center;
		margin:2px;
	}
	img.iconsHover
	{
		border:1px solid silver;
		background-color:#f1f1f1;
	}

	img.icons, img.photo
	{
		border:1px solid #f1f1f1;
	}
	div.photoBlock
	{
		position:relative;
		margin-bottom:5px;
		padding-left:15px;
		text-align:left;
		text-align:center;
	}

	div.ratingParentBlock
	{
		display:none;
	}
	
	div.votingBlock
	{
        margin-left:215px;
        border:1px solid red;
	}

	div.photoMenu
	{
		position:relative;
		text-align:center;
		margin-bottom:15px;
	}
	div.photoMenu input
	{
		margin:5px;
	}
	span.charCount
	{
		font-weight:bold;
		color:green;
		margin:0px 5px;
	}
	div.mediaTitle
	{
		text-align:center;
		font-weight:bold;
		margin-bottom:7px;
		overflow:hidden;
	}
	div.mediaBlock
	{
		position:relative;
		margin-bottom:15px;
	}
	div.mediaTitleVA
	{
		border:0px solid blue;
		width:400px;
		font-weight:bold;
		text-align:left;
	}
	div.mediaActions
	{
		position:absolute;
		top:0px;
		right:0px;
	}
	div.mediaActions span
	{
		margin:0px 5px;
	}

	div.votingBlock
	{
		position:relative;
		border:0px solid red;
		padding-left:15px;
		margin-bottom:7px;
	}
	div.votingBlock span
	{
		border:0px solid green;
		padding:0px;
		margin-right:10px;
	}
	div.votingBlock span input
	{
		margin:0px 2px 0px 0px;
		padding:0px;
		vertical-align:bottom;
	}
	div.rate_sex_form
	{
		position:relative;
		text-align:center;
		margin-bottom:10px;
	}
	div.rate_sex_form span
	{
		margin:0px 5px;
	}

	.rate_prev_photo_nickname
	{
		font-weight:bold;
		text-align:center;
		font-size:12px;
	}
	
	.rate_prev_photo_bars
	{
		margin:3px;
	}
