	body
	{
		margin:0px;
		padding:0px;
		background-color:#EDEDED;
		color:#3F3F3F;
		font-family:Arial, Helvetica, sans-serif;
		font-size:13px;
	}
	a:link, a:visited
	{
		color:#00C;
		text-decoration:underline;
	}
	a:active, a:hover
	{
		color:#FF412D;
		text-decoration:underline;
	}
	a img
	{
		border:none;
	}
/*---------------------------*/
	div#main
	{
		position:relative;
		width:776px;
		margin-left:auto;
		margin-right:auto;
		margin-top:15px;
		margin-bottom:15px;
		background-color:#FFF;
		border:1px solid #999;
	}
	div#header
	{
		position:relative;
		height:100px;
		margin:auto;
		width:199px;
		margin-top:30px;
	}
	div.intro
	{
		position:absolute;
		top:70px;
		left:170px;
		color:#333366;
		font-size:30px;
		font-weight:bold;
	}
	div.version
	{
		position:absolute;
		top:5px;
		right:5px;
		text-transform:uppercase;
		color:#333366;
		text-align:left;
	}
/*---------------------------*/
	div#footer
	{
		padding-left:15px;
		padding-top:15px;
		padding-bottom:15px;
		width:327px;
		margin:auto;
	}
/*---------------------------*/
	div#content
	{
		border-top:0px solid #999999;
		border-bottom:0px solid #999999;
		padding:15px;
	}
	* html div#content
	{
		height:500px;
	}
	div.position
	{
		position:relative;
		border:0px solid red;
		margin-left:auto;
		margin-right:auto;
		font-size:24px;
		font-weight:bold;
		width:545px;
		color:#39C;
	}
	div#content div.LeftRirght
	{
		position:relative;
		border:0px solid blue;
		margin-left:auto;
		margin-right:auto;
		overflow:hidden;
		width:545px;
	}
	
	div#content div.LeftRight
		{
		position:relative;
		border:0px solid blue;
		margin-left:auto;
		margin-right:auto;
		overflow:hidden;
		width:545px;
	}

	div#content div.left
	{
		position:relative;
		border:0px solid green;
		overflow:hidden;
		margin-bottom:16px;
	}
	div#content div.right
	{
		position:relative;
		border:0px solid red;
		overflow:hidden;
	}
	
	tr.head td
	{
		text-align:center;
		font-weight:bold;
		height:17px;
		padding:5px;
		background-color:#fff;
	}
	tr.cont td
	{
		height:15px;
		padding:2px 5px;
	}
	
	tr.cont td.span
	{
		padding:2px 5px 2px 25px;;
	}
	
	tr.cont td div
	{
		border:0px solid red;
		height:20px;
		line-height:20px;
		vertical-align:middle;
	}
	span.writable
	{
		font-weight:bold;
		color:green;
		margin-right:5px;
	}
	span.unwritable
	{
		font-weight:bold;
		color:red;
		margin-right:5px;
	}
	span.desired
	{
		font-weight:bold;
		margin-right:5px;
	}
	
/*---------------------------*/
	.clearBoth
	{
		position:relative;
		clear:both;
		height:1px;
		margin:0px;
		padding:0px;
		font-size:1px;
		border:0px solid red;
	}
	div.error
	{
		position:relative;
		border:1px solid #ef4f4f;
		background-color:#f9adad;
		padding:15px;
		margin-left:170px;
		font-size:16px;
	}
	
/*---------------------------*/
	input.button
	{
		border:1px solid silver;
		background-color:#f1f1f1;
	}
	div.debug
	{
		padding:5px;
		margin-bottom:10px;
		border:1px solid silver;
		font-size:13px;
	}
	div.formKeeper
	{
		position:relative;
		margin-top:10px;
		margin-bottom:10px;
		margin-left:auto;
		margin-right:auto;
		width:207px;
		text-align:center;
	}
	
	div.formKeeper1
	{
		position:relative;
		margin-top:10px;
		margin-bottom:10px;
		margin-left:auto;
		margin-right:auto;
		width:314px;
		text-align:center;
	}

	input, select
	{
		font-size:11px;
		background-color:#FFFFFF;
		border:1px solid #ccc;
	}

	input#button
	{
		border:0px;
	}

	textarea.headerTextarea
	{
		border:1px solid silver;
		background-color:#fff;
		width:710px;
		height:150px;
	}
	
	.image_copy
	{
		margin-top:10px;
		margin-left:auto;
		margin-right:auto;
		width:100px;
	}
	
/*---------------------------*/
	.install_pic
	{
		position:relative;
		width:325px;
		height:45px;
		background-image:url('images/dolphin_install.jpg');
		background-repeat:no-repeat;
		margin:auto;
		padding-top:280px;
		text-align:center;
		color:#2E86B3;
		font-weight:bold;
		font-size:24px;
		text-transform:capitalize;
	}
	
	.installed_pic
	{
		position:relative;
		width:325px;
		height:325px;
		margin:auto;
	}
	
	.install_text
	{
		position:relative;
		width:326px;
		margin-right:auto;
		margin-left:auto;
		margin-top:35px;
		text-align:center;
		color:#666;
		font-size:11px;
	}
	
	.installed_text
	{
		position:relative;
		width:400px;
		margin-right:auto;
		margin-left:auto;
		margin-top:35px;
		text-align:center;
		font-weight:bold;
		color:#C33;
		font-size:24px;
	}
	
	.install_button
	{
		position:relative;
		width:100px;
		margin:auto;
		margin-top:30px;		
	}

	div#topActive
	{
		position:relative;
		float:left;
		padding:0px 7px;
		height:26px;
		line-height:22px;
		background-image:url('images/bg_active.gif');
		background-repeat:repeat-x;
		font-weight:bold;
		font-size:11px;
		color:#FFF;
	}
	
	div#topInactive
	{
		position:relative;
		float:left;
		padding:0px 7px;
		height:26px;
		line-height:22px;
		background-image:url('images/bg_inactive.gif');
		background-repeat:repeat-x;
		font-weight:bold;
		font-size:11px;
		color:#666;
	}

	div#topMenuActive
	{
		position:relative;
		width:776px;
		height:26px;
		background-image:url('images/bg_active.gif');
		background-repeat:repeat-x;
	}
	
	div#topMenuInactive
	{
		position:relative;
		width:776px;
		height:26px;
		background-image:url('images/bg_inactive.gif');
		background-repeat:repeat-x;
	}

	div#topMenu
	{
		position:relative;
		width:776px;
		height:26px;
		background-image:url('images/bg_inactive.gif');
		background-repeat:repeat-x;
	}

	.button_area_1
	{
		width:100px;
		float:left;
		margin-right:7px;		
	}
	
	.button_area_2
	{
		width:100px;
		float:left;
	}
	
	div#topMenuActive img, div#topMenuInactive img
	{
		position:relative;
		float:left;
	}