			<div class="clear_both"></div>
		</div>
	<!-- end of body -->
	
	__banner_bottom__
	
	<!-- bottom -->
		<div class="bottomBlock">
			<div class="clear_both"></div>
			
			__dol_orca_ray__
			
			<div class="bottomTexts">
				<div class="bottomLinks">
					__BMI_Links__
					__BMI_News__
					__BMI_ContactUs__
					__BMI_About__
					__BMI_Privacy__
					__BMI_Termsofuse__
					__BMI_FAQ__
					__BMI_Feedback__
					__BMI_Aff__
					__BMI_Invitefriend__
					__BMI_Bookmark__
				</div>
				
				<div class="bottomPowered">__powered__</div>
				
				<div class="bottomCopyright">__copyright__</div>
			</div>
			
			<div class="clear_both"></div>
		</div>
	<!-- end of bottom -->
</div>

__includebase _footer.html__
