__includebase _header.html__

	__ray_invite_swf__
	
	__banner_left__
	<div style="position:absolute;top:0px;right:0px;width:1px;height:1px;">__banner_right__</div>
	
	<div class="main">
	<!-- top -->
		<div class="topestMenuWrapper">
			<div class="topestMenu">
				__TOP_Links__
				__TOP_News__
				__TOP_ContactUs__
				__TOP_About__
				__TOP_Privacy__
				__TOP_Termsofuse__
				__TOP_FAQ__
				__TOP_Feedback__
				__TOP_Aff__
				__TOP_Invitefriend__
				__TOP_Bookmark__
				__switch_lang_block__
			</div>
		</div>
		
		<div class="topBlock">
			__main_logo__
			__hello_member__
		</div>
		__banner_top__
		<div class="topMenuWrapper">
			__top_menu__
			__hidden_menu__
		</div>
		
	<!-- end of top -->
	
	<!-- body -->
		<div class="bodyBlock">
