__include _header.html__
	<div class="disignBoxFirst">
		<div class="boxFirstHeader">__page_header_text__</div>
		<div class="boxContent">
			<div class="clear_both"></div>
				__page_main_code__
			<div class="clear_both"></div>
		</div>
	</div>
	<div class="clear_both"></div>	
__include _footer.html__
