<form action="__action_url__" method="post">
	<input type="hidden" name="relocate" value="__relocate_url__" />
	<div class="login_form_cont">
		<div class="login_form_warning">__warning_text__</div>
		<div class="login_form_row">
			<div class="clear_both"></div>
			<div class="login_form_label">__name_label__:</div>
			<div class="login_form_val">
				<input type="text" name="ID" class="login_form_input" />
			</div>
			<div class="clear_both"></div>
		</div>
		<div class="login_form_row">
			<div class="clear_both"></div>
			<div class="login_form_label">__password_label__:</div>
			<div class="login_form_val">
				<input type="password" name="Password" maxlength="8" class="login_form_input" />
			</div>
			<div class="clear_both"></div>
		</div>
		<div class="login_form_row_forgot">
			<a href="__forgot_page_url__">__forgot_label__</a>
		</div>
		<div class="login_form_row">
			<div class="clear_both"></div>
			<div class="login_form_label"></div>
			<div class="login_form_val">
				<input type="submit" class="login_form_submit" value="__submit_label__"/>
			</div>
			<div class="login_form_join">
			__or__ <a href="__join_page_url__">__join_label__</a>
			</div>
		</div>
	</div>

</form>