<table style="width:100%">
	<tr>
		<td style="width:50%">
			<table>
				<tr tal:repeat="mylink myleftlinks"><td><div metal:use-macro="mylink.tal/mylink"/></td></tr>
			</table>
		</td>
		<td>
			<table>
				<tr tal:repeat="mylink myrightlinks"><td><div metal:use-macro="mylink.tal/mylink"/></td></tr>
			</table>
		</td>
	</tr>	
</table>