__include _header.html__

	__promo_code__

	<div id="first_column">
		__compose_index_col1__
	</div>

	<div id="second_column">
		__compose_index_col2__
	</div>

__include _footer.html__