__include _header.html__
	<div class="disignBoxFirst">
		<div class="boxFirstHeader">__page_header_text__</div>
		<div class="boxContent">
			<div class="clear_both"></div>
					
				<div class="news_cont">
					<div class="news_header">__news_header__</div>
					<div class="news_date">__news_date__</div>
					<div class="news_snippet">__news_snippet__</div>
					<div class="news_text">__news_text__</div>
				</div>
						
			<div class="clear_both"></div>
		</div>
	</div>
	<div class="clear_both"></div>	
__include _footer.html__
