__include _header.html__
	<div class="disignBoxFirst">
		<div class="boxFirstHeader">__page_header_text__</div>
		<div class="boxContent">
			<div class="clear_both"></div>
				__bread_crumbs__
				<div class="group_mem_showing">__showing_results__</div>
				<div class="group_mem_pagination">__pagination__</div>
				<div class="group_mem_main_wrapper">__page_main_code__</div>
				<div class="group_mem_showing">__showing_results__</div>
				<div class="group_mem_pagination">__pagination__</div>
			<div class="clear_both"></div>
		</div>
	</div>
	<div class="clear_both"></div>
__include _footer.html__
