__includebase _header.html__
	<div class="groups_help_wrapper"><!-- Main Content Block -->
		
		
			<div class="disignBoxFirst">
				<div class="boxFirstHeader">
					__page_header_text__
					<div class="caption_item">__close_window__</div>
				</div>
				<div class="boxContent">
					<div class="clear_both"></div>
						__page_main_code__
					<div class="clear_both"></div>
				</div>
			</div>
			<div class="clear_both"></div>
			
			

	</div><!-- [END] Main Content Block -->
	<div class="clear_both"></div>
	
__includebase _footer.html__