__include _header.html__

	<div class="disignBoxFirst">
		<div class="boxFirstHeader">__page_header_text__</div>
		<div class="boxContent">
			<div class="clear_both"></div>
			
			<div class="by_nick_by_id">
				<div class="by_id">__search_by_id__</div>
				<div class="by_id" style="left:10px;">__search_by_nick__</div>
			</div>
			
			<div class="clear_both"></div>
			__zip_locator__
			<div class="clear_both"></div>
			
		</div>
	</div>
	
__include _footer.html__
