__include _header.html__

				<div class="disignBoxFirst">
					<div class="boxFirstHeader">__page_header__</div>
					<div class="boxContent">
								<div class="clear_both"></div>
								__sorting__
								<div class="clear_both"></div>
								__page_navigation__
								<div class="clear_both"></div>
								__page_main_code__
								<div class="clear_both"></div>
								__page_navigation2__
								<div class="clear_both"></div>
					</div>
				</div>

__include _footer.html__
