
<form method="post" action="__form_action__">
	<table class="story_edit_table">
		<tr>
			<td class="story_edit_label">__header_l__:</td>
			<td><input name="header" value="__story_header__" class="story_edit_input" /></td>
		</tr>
		
		<tr>
			<td class="story_edit_label">__text_l__:</td>
			<td><textarea name="text" class="story_edit_area">__story_text__</textarea></td>
		</tr>

		<tr>
			<td colspan="2" class="story_edit_colspan">__actions__</td>
		</tr>
	</table>
</form>