div.mailbox_header
{
	margin-bottom:5px;
	font-weight:bold;
}

img.mailbox_header_img
{
	vertical-align:middle;
}

table.table_mailbox
{
	border-collapse:collapse;
	width:100%;
}

table.table_mailbox thead td
{
	cursor:pointer;
	font-weight:bold;
	text-align:center;
	vertical-align:middle;
	padding:4px;
	border:1px solid #cccccc;
}

table.table_mailbox thead td.curcol
{
	background-color:#999999;
	color:#FFFFFF;
}

table.table_mailbox tbody td
{
	padding:3px;
	border:1px solid #cccccc;
}

tr.tr_mailbox_row_odd
{
	background-color:#f5f5f5;
}

table.table_mailbox tbody tr:hover
{
	background-color:#eeeeee;
}

td.td_mailbox_select
{
	width:20px;
}

td.td_mailbox_flag
{
	width:20px;
	text-align:center;
}

td.td_mailbox_from
{
	width:100px;
	font-weight:bold;
}

td.td_mailbox_date,
td.td_mailbox_datenew
{
	width:85px;
}

td.td_mailbox_datenew
{
	font-weight:bold;
}

td.td_mailbox_subjectnew
{
	font-weight:bold;
}

div.mailbox_actions
{
	height:20px;
	margin-top:5px;
}