@charset "iso-8859-1";
@import url(../../base/css/membership.css);
	div.status_box
	{
		position:relative;
		margin-left:auto;
		margin-right:auto;
		width:450px;
		text-align:center;
	}
	
	div.result_message
	{
		position:relative;
		margin-left:2px;
		margin-right:2px;
		margin-bottom:4px;
		padding:4px;
		text-align:center;
		background-color:#F9B2AD;
		font-weight:bold;
	}
	
	div.subscriptions_box
	{
		position:relative;
		margin-left:auto;
		margin-right:auto;
		width:540px;
		text-align:center;
	}
	
	tr.subscriptions_row_header
	{
		font-weight:bold;
	}
	
	tr.subscriptions_row
	{
		font-weight:normal;
	}
	
	div.credits_box
	{
		position:relative;
		margin-left:auto;
		margin-right:auto;
		width:500px;
		text-align:center;
	}
	
	div.memberships_box
	{
		position:relative;
		margin-left:auto;
		margin-right:auto;
		width:500px;
		text-align:center;
	}
	
	div.membership_line
	{
		position:relative;
		margin-left:auto;
		margin-right:auto;
		width:500px;
		text-align:center;
	}