@charset "iso-8859-1";

@import url(../../base/css/profile_customize.css);

	div#profile_bg_image, div#profile_bg_color, div#profile_font_color, div#profile_font_size,
	div#profile_font_family, div#profile_mylinks, div#profile_feednews

	{

		position:relative;

		/*background-color:#F0F0F0;*/

		padding:4px;

		margin-bottom:1px;

		border-bottom:1px solid #ccc;

	}

	div.customize_content

	{

		position:relative;

		border:0px solid red;

		

	}

	

	div.customize_header_box

	{

		text-align: center;

		width: 100%;

		margin-bottom:20px;

	}

	

	div.customize_footer_box

	{

		text-align: center;

		width:540px;

		margin-left: auto;

		margin-right: auto;

	}

	

	.button

	{

		position:relative;

		margin-top:8px;

	}

	

	div.customize_box, div.customize_box_pic, div.customize_box_mylinks

	{

		position:relative;

		clear: left;

		height: expression( this.scrollHeight < 50 ? "50px" : "auto" ); /* sets max-height for IE */
		
    	min-height: 50px; /* sets max-height value for all standards-compliant browsers */
		
		width: 80%;

		margin-left:auto;

		margin-right:auto;

		border:0px solid green;

	}

	div#profile_feednews
	{
		height: 180px;
	}
	
	div.customize_box_mylinks
	{
		height: 570px;
	}
	

	span.left_box

	{

		float: left;

		width: 180px;

		text-align: left;

	}

	

	span.right_box

	{

		position:absolute;

		top:4px;

		right:4px;

		text-align:right;

	}
	
TABLE#colorsTable {
    margin-top: 3px;
}

TABLE#colorsTable TD {
    width: 12px;
    height: 10px;
    border: 1px solid Black;
    cursor: pointer;
}