
table.story_edit_table
{
	/*border:1px solid #cccccc;
	background-color:#f5f5f5;*/
	border-collapse:collapse;
	width:400px;
	margin:0px auto;
}

table.story_edit_table td
{
	padding:4px;
}

td.story_edit_label
{
	text-align:right;
	width:100px;
	/*font-weight:bold;*/
	vertical-align:top;
}

input.story_edit_input,
textarea.story_edit_area
{
	width: 450px;	
	border: 1px solid gray;
}
textarea.story_edit_area
{
	height: 350px;
	border: 1px solid gray;
}

td.story_edit_colspan
{
	text-align:center;
}