@import url("layouts/layout-3d.css");

.calendar {
  border-color: #0482FC;
  border-width: 1px;
  color: #000;
  background-color: #C4E2FF;
}

.calendar table {
  border-color: #0466F4;
  
}

.calendar .nav {
  background-color: #1CAE1C;

}
/* Header part -- contains navigation buttons and day names. */

.calendar .button { /* "<<", "<", ">", ">>" buttons have this class */
  border-color: #74BD74 #063B06 #095A09 #40A540;
  color: #FFFFFF;
  background-color: #1CAE1C;
}

.calendar thead .title { /* This holds the current "month, year" */
  border-color: #6EA7F9 #022B66 #03419B #3886F6;
  background-color: #0466F4;
  color: #fff;
}

.calendar thead .headrow { /* Row <TR> containing navigation buttons */

}

.calendar thead .daynames { /* Row <TR> containing the day names */
}

.calendar thead .name { /* Cells <TD> containing the day names */
  border-color: #000;
  background-color: #0482FC;
  color: #ffffff;
}

.calendar thead .weekend { /* How a weekend day name shows in header */
  color: #f00;
}

.calendar thead .hilite { /* How do the buttons in header appear when hover */
  border-color: #74BD74 #063B06 #095A09 #40A540;
  background-color: #0E8D0E;
}

.calendar thead .active { /* Active (pressed) buttons in header */
  padding: 2px 0px 0px 2px;
  border-color: #404040 #d4d0c8 #d4d0c8 #404040;
  background-color: #2CC22C;
}

/* The body part -- contains all the days in month. */

.calendar tbody .day { /* Cells <TD> containing month days dates */
}
.calendar tbody .day.othermonth {
  color: #888;
}
.calendar tbody .day.othermonth.oweekend {
  color: #e88;
}

.calendar table .wn {
  border-color: #000000;
  background-color: #0482FC;
}

.calendar tbody .rowhilite td {
  background-color: #5EB0FF;
}

.calendar tbody .rowhilite td.wn {
  background-color: #0466F4;
}

.calendar tbody td.hilite { /* Hovered cells <TD> */
  border-color: #A2D1FF #274A6B #3C70A2 #7FC0FF;
}

.calendar tbody td.active { /* Active (pressed) cells <TD> */
  border-color: #404040 #d4d0c8 #d4d0c8 #404040;
}

.calendar tbody td.selected { /* Cell showing selected date */
  border-color: #404040 #d4d0c8 #d4d0c8 #404040;
  background-color: #e4e0d8;
}

.calendar tbody td.weekend { /* Cells showing weekend days */
  color: #f00;
}

.calendar tbody td.today { /* Cell showing today date */
  color: #00f;
}

.calendar tbody .disabled { color: #999; }

.calendar tbody .emptycell { /* Empty cells (the best is to hide them) */
}

.calendar tbody .emptyrow { /* Empty row (some months need less than 6 rows) */
}

/* The footer part -- status bar and "Close" button */

.calendar tfoot .footrow { /* The <TR> in footer (only one right now) */
}

.calendar tfoot .ttip { /* Tooltip (status bar) cell <TD> */
  border-color: #022B6A #6EA7FD #0466FC #0341A0;
  background-color: #0466FC;
  color: #fff;
}

.calendar tfoot .hilite { /* Hover style for buttons in footer */
  border-color: #404040 #d4d0c8 #d4d0c8 #404040;
  background-color: #e4e0d8;
}

.calendar tfoot .active { /* Active (pressed) style for buttons in footer */
  border-color: #000 #fff #fff #000;
}

/* Combo boxes (menus that display months/years for direct selection) */

.calendar .combo {
  border-color: #1CAE1C;
  background-color: #96E496;
  color: #000000;
}

.calendar .combo .active {
  background-color: #1CAE1C;
  border-color: #404040 #d4d0c8 #d4d0c8 #404040;
}

.calendar .combo .hilite {
  border-color: #74BD74 #063B06 #095A09 #40A540;
  background-color: #0E8D0E;
  color: #ffffff;
}

/* time */

.calendar tfoot tr.time td { border-color: #8f8b7e; }
.calendar tfoot tr.time td.hour,
.calendar tfoot tr.time td.minute { border-color: #cdcabc; }
.calendar tfoot tr.time td.hilite { background-color: #e4e0d8; }
.calendar tfoot tr.time td.active { background-color: #b4b0a8; }
.calendar-time-scroller { border-color: #adaa9c; }
