@charset "iso-8859-1";

@import url(../../base/css/anchor.css);

	a,

	a:link

	{

		color:#0000CC;

		text-decoration:underline;

	}

	a:visited

	{

		color:#0000CC;

		text-decoration:underline;

	}



	a:hover,

	a:active

	{

		color:#0000FF;

		text-decoration:none;

	}

	a.menu_item_link,
	a.menu_item_link:link,
	a.menu_item_link:visited,
	a.menu_item_link:active,
	a.menu_item_link:hover,
	
	a.title_content_link,
	a.title_content_link:link,
	a.title_content_link:visited
	{
		text-decoration:none;
	}

	a.menu_item_link,

	a.menu_item_link:link,

	a.menu_item_link:visited

	{

		color:#fff;

	}

	

	a.menu_item_link:active,

	a.menu_item_link:hover

	{

		color:#fff;

	}

	

	.no_hello_actions a,

	.no_hello_actions a:link,

	.no_hello_actions a:visited,

	.no_hello_actions a:hover,

	.no_hello_actions a:active

	{

		color:#336699;

	}

	

	a.customMenuItem,

	a.customMenuItem:link,

	a.customMenuItem:visited

	{

		color:#fff0c7;

		text-decoration:none;

	}

	

	.one_tag a,

	.one_tag a:link,

	.one_tag a:active,

	.one_tag a:visited

	{

		color:#0000CC;

	}

	

	.one_tag a:hover

	{

		color:#0000FF;

	}

a.inboxLink,
a.inboxLink:link,
a.inboxLink:active,
a.inboxLink:visited
{
	color:#ffffff;
	text-decoration:none;
}