.navigationLinks
{
	display:none;
}

.articleBlock
{
	
	margin-left:12px;
	margin-right:12px;
	/*text-align:justify;*/
}

.articleBlock .mainTitle
{
	font-size:14px;
	font-weight:bold;
	padding-left:25px;
	padding-bottom:5px;
	background-position:left top;
	background-repeat:no-repeat;
	background-image:url(../images/icons/artic_papr.gif);
}

.addLink, .categoryEdit, .categoryDelete
{
	position:relative;
	float:right;
	font-size:11px;
	color:#666666;
	margin-right:12px;
}

.articleBlock .date
{
	font-size:11px;
	color:#666666;
}