
	div.action a,
	div.action a:link,
	div.action a:visited
	{
		color:#FFFFFF;
	}
	
	div.thumbnail_block
	{
		border:none;
	}
	div.listBlock
	{
		margin-bottom:10px;
		border-bottom:1px solid #e4e4e4;
		padding:3px;
	}
	div.listSubject
	{
		font-weight:bold;
		margin-bottom:3px;
	}
	div.listDate
	{
		text-align:right;
		font-style:italic;
		margin-bottom:3px;
	}
	div.listLink
	{
		text-align:right;
	}
	input.formSubject
	{
		width:200px;
	}
	textarea.formText
	{
		width:530px;
		height:200px;
	}
	
	.categoryBlock
	{
		margin:0px 12px 15px;
	}
	
	.blog_tr_bg
	{
		border:0px solid red;
	}
	
	
	.blog_table
	{
		border:0px solid #F0F0FF;
	}
	
	.blog_table_brd
	{
		border:1px solid #B7B7E3;
		background-color:#B7B7E3;
	}
	
	.subject
	{
		border:0px solid #F0F0FF;
		color:#fff;
		font-weight:bold;
	}
	
	.blog_clock
	{
		color:#fff;
		text-align:right;
	}
	
	.blog_content
	{
		/*border:1px solid #F0F0FF;*/
		background-color:#F0F0FF;
	}
	
	.blog_trbot_bg
	{
		border:0px solid blue;
	}
	
	.mainBackGr
	{
		background-color:#B7B7E3;
	}
	
	.blogPic
	{
		vertical-align:middle;
		/*margin-right:10px;*/
	}
	
	.blog_prof
	{
		color:#fff;
		text-align:center;
	}
		
	.blogCaption
	{
		margin-left:12px;
		margin-right:12px;
		font-size:16px;
		font-weight:bold;
		padding-bottom:2px;
	}
	
	.blogText
	{
		font-size:12px;
		margin-left:12px;
		margin-right:12px;
		margin-bottom:5px;
	}
	
	.categoryDate
	{
		font-size:11px;
		color:#666666;
		margin-left:12px;
		padding-bottom:2px;
		width:500px;
	}
	
	.categoryDatePadded
	{
		font-size:11px;
		color:#666666;
		padding-bottom:2px;
		width:500px;
	}
	
	.editBlock
	{
		float:right;
		top:0px;
		right:0px;
		position:absolute;
		font-size:12px;
	}
	
	.categoryCaption .editBlock
	{
		top:15px;
	}
	
	textarea.categoryDesc,
	textarea.blogText
	{
		width:490px;
		height:250px;
	}

