.blog_wrapper
{
	margin:0px 12px 15px;
}

.blog_subject
{
	font-size:14px;
	font-weight:bold;
	padding-left:25px;
	padding-bottom:5px;
	background-repeat:no-repeat;
	background-position:left top;
	background-image:url(../images/icons/artic_papr.gif);
}

.blog_author
{
	font-size:11px;
	color:#666666;
	padding-top:2px;
	padding-bottom:2px;
}

.blog_infoItem
{
	float:left;
	clear:both;
	width:100%;
}

a.miniAction
{
	font-size:9px;
	font-weight:bold;
	text-transform:capitalize;
}
img.miniAction
{
	height:18px;
	vertical-align:middle;
	margin: 2px 0px;
}

.blog_text
{
	font-size:12px;
	clear:left;
	text-align:left;
	float:left;
	width:100%;
	padding: 10px 0px;
}

.blog_text p
{
	margin-top:10px;
}

.blogs_pages
{
	margin:4px;
	text-align:center;
	font-weight:bold;
	font-size:12px;
}

	/**************************************************************/

	.cls_result_row

	{

		position:relative;

		border:0px solid #EEA;

		/*padding:14px;*/

		margin-bottom:10px;

	}

	.cls_res_info_nowidth
	{
		position:relative;
		float:left;
		font-size:12px;
		/*font-weight:bold;*/
		color:#666666;
		width: expression( this.scrollWidth > 100 ? "100px" : "auto" ); /* sets max-width for IE */
    	max-width: 100px; /* sets max-width value for all standards-compliant browsers */		
    	overflow:hidden;
	}

	.cls_res_info_p
	{
		margin-left: 10px;
	}

	.clr3
	{
		color:#000000;
		display:inline;
		width:100%;
		overflow:hidden;
		float:left;
	}
	.cls_info_left  /*new PSD styling*/
	{
		position:relative;
		float:left;
		width:506px;
		overflow:hidden;
	}
	.cls_info
	{
		position:relative;
		float:right;
		width:238px;
		overflow:hidden;
		/*padding-right:4px;*/
	}
	.actions
	{
		font-weight:bold;
		font-size:12px;
	}
	.fr
	{
		position:relative;
		float:right;
		font-size:13px;
	}
	.fr_small
	{
		position:relative;
		float:right;
		font-size:11px;
	}
	.fr_small_gray_centered
	{
		position:relative;
		color:#666666;
		vertical-align:middle;
		margin-top: 6px;
    	height: expression( this.scrollHeight > 28 ? "28px" : "auto" ); /* sets max-height for IE */
    	max-height: 28px; /* sets max-height value for all standards-compliant browsers */
		font-size:11px;
		float:left;
		overflow:hidden;
		width:100%;
	}
	
	div.pic_centered
	{
		vertical-align:middle;
		height:25px;
	}

	img.marg
	{
		margin-right:10px;

		position:static;
	}
	img.marg_icon
	{
		margin-right:1px;

		position:static;
	}
	img.static_icon
	{
		position:static;
	}
	img.marg_icon_both
	{
		margin-right:1px;
		margin-bottom:1px;

		position:static;
	}
	.marg_both
	{
		margin-bottom:10px;
		margin-right:10px;

		position:relative;
	}

	div.marg_icon_both
	{
		margin-bottom:5px;
		margin-right:5px;

		position:relative;
	}

	div.marg_both_left img
	{
		margin-right:10px;
		position:relative;
		float:left;
		background-position:center top;
		background-repeat:no-repeat;
	}


	.margined
	{
		margin-right:10px;

	}

	.margined_left
	{
		margin-right:30px;
		float:left;
		position:relative;

	}

	.cls_res_thumb

	{
		position:relative;
		float:left;
	}
	.comment_actions
	{
		margin-bottom:2px;
		padding:5px;
		text-align:left;
	}
	.comment_row
	{
		/*border-bottom:1px dotted #CCCCCC;*/
		/*margin-bottom:3px;*/
	}

	.comment_author
	{
		margin-top:10px;
		font-weight:bold;
	}

	.comment_text
	{
		border:1px solid #CECECE;
		background-color:#F3F5FF;
		padding:2px;
	}

	.comment_text_r
	{
		border:1px solid #CECECE;
		background-color:#F3F5FF;
		/*padding:2px;*/
		text-align:right;
	}
	.commentMain
	{
		position: relative;
		float: left;
		width: 400px;
	}
	div#commentNavigation
	{
		width:470px;
	}
	.navigation {
		float:left;
		width:100%;
	}
	div.padds
	{

		padding:8px;

	}
	div.edit_error
	{
		background-color:#FFFFFF;

		border:1px solid red;

		margin:2px;

		padding:3px;
		width:350px;
	}
/**************************************************************/
	.block_cont
	{

		background-image:url(../images/sp_op.png);

		border:1px solid #CCCCCC;

		padding:10px;

		position:relative;

		width:754px;

	}
	   
    .blog_category
    {
    	display: block;
    	overflow: hidden; 
    	float: left;
  		height: expression( this.scrollHeight > 30 ? "30px" : "auto" ); /* sets max-width for IE */
    	max-height: 30px; /* sets max-height value for all standards-compliant browsers */  
    }
    
/*** VOTING ***/
div#blogsmall
{
	float: left;
	clear: left;
	margin-top:10px;
	padding-bottom:10px;
}
.votes_small b
{
	font-size:12px;
}

/*** Edit post form ***/

.WordWarning
{
	float:right; 
	padding-left:10px; 
	width:160px;
}
.YouTubeWarning
{
	float:right; 
	padding-top:30px; 
	padding-left:10px; 
	width:160px;
}

.assocImageBlock
{
	float:left;
	padding-top:10px;
}
.uploadImageCaption
{
	float:left;
	margin-bottom:5px;
}
.imageTip
{
	float:left;
	margin-left:20px;
}
.imageTipText
{
	float:left;
	margin-left:10px;
	width:360px;
}
.imageInput
{
	float:left; 
	clear:both;
}
.imageHint
{
	font-size:10px; 
	float:left; 
	clear:left;
}
.imageOptions
{
	float:left; 
	clear:both; 
	margin:10px 0;
	width:220px;
}
.postImage
{
	float:left;
	clear:both;
}
.permissions
{
	float:left;
	width:100%;
	padding-top:10px; 
	margin-top:15px; 
	margin-bottom:15px; 
	border-top:1px solid #CCCCCC;
}
.submit
{
	float:left; 
	clear:both; 
	width:100%; 
	text-align:center;
}
.pagination {
	text-align:center;	
}

/****** RSS ******/

.blogBlock
{
	width:215px;
	overflow:hidden;
}
.blogHead
{
	float:left;
	padding-bottom:5px;
}
.blogSnippet
{
	float:left;
	clear:both;
	width:100%;
}
#commenttext_to_0
{
	width:300px;
	height:150px;
}