@charset "iso-8859-1";

@import url(../../base/css/browse.css);

	

	div.design_box_border

	{

	    float:left;

	    margin-left:3px;

	    margin-bottom:10px;

		margin-right:6px;

	    width:120px;

		border:1px solid #ccc;

	}



	div.design_box_border div.header

	{

	    overflow:hidden;

	}

	div.design_box_border div.keeper

	{

		padding:0px;

	}



	div.thumbnail_block

	{



	}

	

	div#container_result

	{

		position:relative;

		border:1px solid green;

	}

	

	.no_result

	{

		padding-left:60px;

		margin-top:20px;

	}

	

	

	/**** ****/

	

	.browse_form_wrapper

	{

		border:1px solid #CCCCCC;

		width:430px;

		margin:10px auto;

		padding:3px 12px;

	}

	

	.browse_form_row

	{

		margin-bottom:10px;

	}

	

	.label

	{

		font-weight:bold;

		width:70px;

		margin-right:5px;

		text-align:left;

		padding-top:2px;

	}

	

	* html .label

	{

		padding-top:4px;

	}

	

	.label,

	.value,

	.checkboxes

	{

		float:left;

		position:relative;

	}

	

	.checkboxes div

	{

		float:left;

		padding-right:5px;

	}

	

	.submit,

	.only

	{

		text-align:center;

	}

	

	select#country

	{

		width:200px;

	}

	

	.browse_thumb

	{

		position:relative;

		float:left;

		margin:0px 12px 10px 0px;

	}

	

	.browse_thumb_thin

	{

		position:relative;

		float:left;

		margin:0px 0px 10px 0px;

	}

	.browse_nick
	{
		position:relative;
		text-align:center;
		width:110px;
		overflow:hidden;
		float:left;
		clear:left;
		margin-top:5px;
	}
	
	.browse_nick a
	{
		font-weight:bold;
	}
	

	.friends_thumb_1

	{

		position:relative;

		width:112px;

		float:left;

		margin: 0px 7px 7px 0px;	

	}



	.friends_thumb_2

	{

		position:relative;

		width:112px;

		float:left;

		margin: 0px 0px 7px;

	}