/* * * * Photos * * * */

.photoBlock
{
	position:relative;
	text-align:center;
}

.photo
{
	border:1px solid #cccccc;
	background-repeat:no-repeat;
	background-position: center center;
}

.icons:hover
{
	border: 1px solid gray;
	background-color:#eeeeee;
}

.icons
{
	border: 1px solid #cccccc;
	margin: 2px;
	cursor: pointer;
	background-position:center center;
	background-repeat:no-repeat;
}

.iconBlockCont
{
	position:relative;
	height:51px;
	border:1px solid #cccccc;
	overflow:hidden;
}

.iconBlock
{
	position:absolute;
	white-space:nowrap;
}

.scrollCont
{
}

.scrollLeft
{
	position:relative;
	float:left;
	cursor:default;
	font-weight:bold;
}

.scrollRight
{
	position:relative;
	float:right;
	cursor:default;
	font-weight:bold;
}

.cls_result_wrapper

{

	position:relative;

	padding: 3px;

}



.cls_result_row

{

	position:relative;

	border:0px solid #EEA;

	/*padding:14px;*/

	margin-bottom:10px;

}



.cls_res_thumb

{

	position:relative;

	float:left;
	width:300px;
}

.cls_thumb

{

	border:1px solid silver;

	padding:5px;

	background-color:#EEE;

	text-align:center;

}



.cls_res_info

{
	position:relative;
	width:330px;
	/*margin-left:7px;*/
	font-size:12px;
	/*font-weight:bold;*/
	color:#666666;

}

.cls_res_info_nowidth

{
	position:relative;

	float:left;
	font-size:12px;
	/*font-weight:bold;*/
	color:#666666;
	width:600px;

}

.clr3

{
	font-weight:normal;
	color:#333333;
	display:inline;

}


.cls_info

{
	position:relative;

	float:right;

	width:372px;
	overflow:hidden;
}

.cls_info_left  /*new PSD styling*/

{
	position:relative;

	float:left;

	width:372px;
	overflow:hidden;
}

a.actions
{
	font-weight:bold;
	font-size:14px;
}


.cls_res_info_p

{
	/*font-weight:bold;*/

	margin-left: 10px;

}

.classfiedsTextArea
{
	width: 99%;
	height: 300px;
}

.block_cont /*bigger width*/
{
	background-image:url(../images/sp_op.png);

	border:1px solid #CCCCCC;

	padding:5px;

	position:relative;

	width:760px;
}

/*tables*/
	table.cls_tree_table
	{
		width:400px;
		border:0;
	}
	td.cls_tree_left

	{

		width:40px;

	}
	td.cls_tree_right

	{

		width:360px;

	}
	td.cls_tbl_left_t

	{

		width:20%;
		text-align:right;
		vertical-align:top;

	}
	td.cls_tbl_left_m

	{

		width:20%;
		text-align:right;
		vertical-align:middle;

	}
	td.va
	{
		text-align:left;
		vertical-align:top;
	}
	td.vab
	{
		text-align:center;
		vertical-align:bottom;
	}
	td.cls_tbl_right_m

	{

		width:80%;
		vertical-align:middle;

	}
	td.colored_gray
	{
		border:1px solid #CCCCCC;
	}
	table.cls_100_cp
	{
		width:100%;
		border:0;
	}
	tr.vc
	{
		vertical-align:middle;
	}
	div.fl
	{
		float:left;
	}
	div.fr
	{
		float:right;
	}
	div.ar
	{
		text-align:right;
		position:relative;
		height:28px;
		vertical-align:middle;
		margin-bottom:10px;
	}
	div.fs_13
	{
		font-size:12px;
	}
	td.w50_fs8
	{
		font-size: 11px;
		width: 50%;
	}
	div.tar /*user+admin*/
	{
		text-align: center;
	}

	div.tabled_tr
	{
	}
	div.tabled_td_l
	{
	}
	.leftNavDiv_ /*overrided*/
	{
		/*display:none;*/
		float:left;

		margin-right:8px;

		position:absolute;

		width:182px;
		left:-210px;
	}
	div.rightNavDiv_  /*new PSD styling, overrided*/
	{

		overflow:hidden;

		padding:0px;

		position:relative;

		width:770px;
		/*left:-12px;*//*because Padding in Main*/

	}
	div.padds  /*new PSD styling*/
	{

		/*padding:8px;*/

	}
	div.edit_error
	{
		background-color:#FFFFFF;

		border:1px solid red;

		margin:2px;

		padding:3px;
		width:300px;
	}
	p.submit
	{
		text-align: center;
	}
	input.cur_pnt
	{
		cursor: pointer;
	}
	div.breadcrumbs
	{
		margin-bottom:10px;
		font-size:12px;
	}


	/*.main {

		background-color:#FFFFFF;

		border:1px solid #999999;

		margin:4px auto 5px;

		padding:8px 12px 12px 11px;

		position:relative;

		width:770px;

	}*/
/**************************************************************/	

	.disignBoxFirstA

	{
		background-color:#FFFFFF;

		background-image:url(../images/box2mid.gif);

		background-repeat:repeat-x;

		border-left: 1px solid #CCCCCC;
		border-right:1px solid #CCCCCC;
		border-bottom: 1px solid #CCCCCC;

		margin-bottom:10px;

		position:relative;

		margin-bottom:10px;
		width:242px;
		float:left;
	}	

/**************************************************************/


	.comment_actions
	{
		margin-bottom:2px;
		padding:5px;
		text-align:left;
	}

	.comment_row
	{
		border-bottom:1px dotted #CCCCCC;
		margin-bottom:3px;
	}

	.comment_author
	{
		margin-top:10px;
		font-weight:bold;
	}

	.comment_text
	{
		border:1px solid #CECECE;
		background-color:#F3F5FF;
		padding:2px;
	}

	.comment_text_r
	{
		border:1px solid #CECECE;
		background-color:#F3F5FF;
		/*padding:2px;*/
		text-align:right;
	}

	div.addcomment_textarea

	{

		position:relative;

		text-align:right;

		margin-bottom:5px;

	}

	img.marg
	{
		margin-right:10px;

		position:static;
	}
	img.marg_icon
	{
		margin-right:5px;

		position:static;
	}
	.marg_both
	{
		margin-bottom:10px;
		margin-right:10px;

		position:relative;
	}

	.browseCheckbox
	{
		position:relative;
		float:left;
	}