@charset "iso-8859-1";
@import url(../../base/css/communicator.css);
	td.cc_td_1_border
	{
		border:0px solid red;
	}
	
	td.cc_td_2_border
	{
		text-align:left;
		padding-left:3px;
		white-space:nowrap;
		border:0px solid red;
	}
	
	td.cc_td_3_border
	{
		border:0px solid blue;
		width:33px;
		padding-left:4px;
	}
	
	td.cc_td_4_border
	{
		border:0px solid blue;
		width:33px;
	}
	
	
	td.head_td
	{
		position:relative;
		border:1px solid #F0F0F9;
		height:20px;
		vertical-align:middle;
		text-align:center;
		padding-top:2px;
		
		font-size:11px;
		font-weight:bold;
		color:#3399CC;
	}
	tr.tr_bgcolor
	{
		background-color:#E7E9FA;
	}