@charset "iso-8859-1";

@import url(../../base/css/compose.css);

	.composeHeader

	{

		position:relative;

		padding:3px 0px 2px 3px;

		border:0px solid red;

		border:0px solid blue ;

		width:530px;

		height:25px;

	}

	

	.composeBody

	{

		position:relative;

		padding:10px;

	}

	

	.bodySubject

	{

		text-align:left;

		border:0px solid red;

		margin:3px 0px;

	}

	

	.divInpSubj

	{

		position: absolute;

		top:5px;

		left:151px;

	}

	

	.inpSubj

	{

		width:300px;

	}

	

	.divMessageText

	{

		border:0px solid red;

		text-align:left;

		margin:3px 0px;

	}

	

	.maxCharsTip

	{

		position:relative;

		text-align:left;

		font-size:10px;

		color:#338866;

	}

	

	.messageTxtArea

	{

		width:500px;

	}

	

	.divSmiles

	{

		border:0px solid red;

		margin:5px 0px;

		margin-top:7px;

	}

	

	.characterCounter

	{

		position:absolute;

		top:5px;

		right:10px;

	}

	

	.divRadBoxes

	{

		position:relative;

		border:0px solid red;

		text-align:left;

		margin-top:5px;

	}

	

	.divButtonSend

	{

		position:relative;

		border:0px solid red;

		text-align:center;

		padding-bottom:6px;

	}

	

	.boxContent

	{

		padding-left:9px;

	}

	.leftColumn

	{

		width:617px;

	}

	

	.disignBoxGreen .boxContent

	{

		border:0px solid red;

		padding-left:0px;

	}

	

	.disignBoxFirst .menu_item_block 

	{

		border:0px solid red;

		padding-left:0px;

		margin-left:-5px;

	}

	

	

	.profile_disp

	{

		position:absolute;

		top:0px;

		left:100px;

		width:200px;

		margin-left:120px;

		text-align:left;

		border:0px solid blue;

		padding:0px;

		margin:0px;

	}



	.profile_details

	{

		position:relative;

		border:0px solid red;

		padding:0px;

		margin:0px;

		overflow:hidden;

		height:105px;

	}

	.profile_thumb

	{

		position:absolute;

		top:0px;

		left:0px;

		width:102px;

		height:102px;

		border:1px solid #066;

		text-align:center;

		line-height:102px;

		vertical-align:middle;

		float:left;

		padding:0px;

		margin:0px;

		background-repeat:no-repeat;

		background-position:center;

	}

/*Styles For Inbox*/

	div.inbox_block

	{

		position:relative;

		border:0px solid red;		

		margin:0px 0px 10px 0px;

	}

/*End Styles For Inbox*/



/*Style for Comunicator Page*/

	.cc_out

	{

		position:relative;

		border:0px solid red;

		height:145px;

		margin-bottom:10px;

		

	}

	.cc_pre_1

	{

		position:absolute;

		top:0px;

		left:0px;

		border:0px solid red;

		width:190px;

	}

	.cc_pre_2

	{

		position:absolute;

		top:0px;

		left:240px;

		border:0px solid red;

		width:190px;		

	}

	.cc_pre_3

	{

		position:absolute;

		top:80px;

		left:0px;

		border:0px solid red;

		width:190px;

	}

	.cc_pre_4

	{

		position:absolute;

		top:80px;

		left:240px;

		border:0px solid red;

		width:190px;		

	}

	.cc_pre_icon

	{

		position:absolute;

		top:0px;

		left:0px;

	}

	.cc_pre_link

	{

		position:absolute;

		top:0px;

		left:50px;

		border:0px solid green;

	}

	.cc_link

	{

		font-size:14px;

	}

	.cc_pre_text

	{

		position:absolute;

		top:17px;

		left:50px;

		font-size:12px;

	}

	.cc_action

	{

		position:relative;

		border:0px solid red;

		height:30px;

	}

	.cc_action_block

	{

		position:relative;

		float:left;

		width: 100px;

		border:0px solid green;

		margin:2px 8px;

	}

	.cc_action_img

	{

		position:absolute;

		top:0px;

		left:0px;

	}

	.cc_action_link

	{

		position:absolute;

		top:0px;

		left:25px;	

		border:0px solid red;

		width:90px;

	}

	.cc_td_2_border

	{

		text-align:left;

	}

	

	

/*End Style for Comunicator Page*/





	tr.tr_hover:hover

	{

		background-color:#FAE4CF;

	}

/**********************************/

/******Styles For Messages Inbox **/

/**********************************/

	div.replyForm
	{
		float:left;
		display:none;
		width:100%;
	}

	div.m_block
	{
		float:left;
		width:100%;
		border:1px solid #F8DAA8;
		margin:20px 0px 0px 0px;
	}

	div.m_subject_date

	{

		background-color:#F8F8E7;

		border-bottom:1px solid #F8DAA8;

		

	}

	div.m_subject_date .name

	{

		float:left;

		width:70px;

		margin:0px 0px 1px 0px;

		text-align:left;

		padding-left:5px;

		height:25px;

		line-height:25px;

		vertical-align:middle;		

		font-weight:bold;

	}

	div.m_subject_date .value

	{

		margin:0px 0px 1px 70px;

		background-color:#FFFFFF;

		text-align:left;

		padding-left:5px;

		height:25px;

		line-height:25px;

		vertical-align:middle;		

	}	

	div.m_text

	{

		text-align:left;

		padding:15px;

		background-color:#fff;

	}

	div.reply_block

	{

		position:relative;

	}

	div.reply

	{

		position:relative;

		height:25px;

		line-height:25px;

		vertical-align:middle;

		text-align:center;		

		float:left;

		padding:0px 10px;

	}

	div.profile_ditails_block

	{

		position:relative;

		height:115px;

		border:0px solid red;

		margin:0px;

		padding:5px;

		overflow:hidden;

	}



	div.prof_ditails_block

	{

		position:relative;

		width:298px;

		float:left;

		margin-left:10px;

		text-align:left;

		background-color:#F0F0F0;

		padding-top:10px;

		height:99px;

		border:1px solid #C6C4C4;

	}

	div.prof_ditails_block div.li_word

	{

		position:relative;

		float:left;

		width:80px;

		text-align:left;

		border:0px solid red;

		margin:1px;

		font-weight:bold;

		background-color:#F0F0F0;

		height:20px;

		line-height:20px;

		vertical-align:middle;

		padding-left:5px;		

	}

	div.prof_ditails_block div.li_value

	{

		position:relative;

		float:left;

		text-align:left;

		width:202px;

		border:0px solid red;

		margin:1px;

		height:20px;

		line-height:20px;

		vertical-align:middle;

		padding-left:5px;

		background-color:#FFFFFF;

	}

/***********************************/

	div.cor_block
	{
		position:relative;
		border:1px solid red;
		padding:3px;
		overflow:hidden;
	}

	div.member_to_sender
	{
		position:relative;
		width:264px;
		float:left;
		border:0px solid red;
	}

	div.sender_to_member
	{
		position:relative;
		width:264px;
		left:7px;
		float:left;
		border:0px solid red;
	}

	div.cor_date
	{
		position:relative;
		float:left;
		width:80px;
		text-align:center;
		border:0px solid red;
	}

	div.cor_subject
	{
		position:relative;
		float:left;
		text-align:left;
		margin-left:5px;
		width:145px;
	}

	div.cor_new
	{
		position:relative;
		float:left;
		width:17px;
		background-color:#999999;
	}

	.cor_title
	{
		height:25px;
		text-align:center;
	}

	.action_result
	{
		position:relative;
		border:0px solid #409bdb;
		margin:20px 0px;
		height:25px;
		line-height:25px;
		vertical-align:middle;
		background-color:#c2daeb;
		font-weight:bold;
		text-align:center;
	}

	div.no_messages
	{
		position:relative;
		height:20px;
		line-height:20px;
		vertical-align:middle;
		text-align:center;
	}

	.com_box
	{
		border:0px solid red;
	}

	textarea.blogText
	{
		width:340px;
		height:170px;
	}
	

	table.composeTable
	{
		border-collapse:collapse;
		width:100%;
	}

	table.composeTable td
	{
		padding:5px;
	}
	
	table.composeTable td.form_label
	{
		vertical-align:top;
		text-align:right;
		padding-top:6px;
		width:210px;
	}

	table.composeTable td.form_colspan
	{
		text-align:center;
	}
	
	#composeErrorMsg
	{
		color:red; 
		display:none; 
		float:left; 
		width:330px;
		margin-left:10px;
	}