.no_results
{
	line-height:50px;
	vertical-align:middle;
	text-align:center;
	font-weight:bold;
}

table.results_table
{
	border-collapse:collapse;
	width:235px;
}

.td_collumn
{
	float:left;
	margin-right:5px;
	vertical-align:top;
}

table.results_table td
{
	padding:2px;
	border:0px solid red;
	white-space:nowrap;
}

tr.result_row_even
{
	background-color:#EEEEEE;
}

td.res_checkbox
{
	width:20px;
}

td.res_thumb
{
	width:50px;
}

td.res_nick
{
	font-weight:bold;
}

.nickNameLink
{
	float:left;
	overflow:hidden;
	width: expression( this.scrollWidth > 120 ? "120px" : "auto" ); /* sets max-width for IE */
    max-width: 120px; /* sets max-height value for all standards-compliant browsers */
}

td.res_kiss
{
	width:25px;
}

td.row_actions
{
	float:left;
	margin-top:7px;
	font-weight:bold;
}

.resultsPages
{
	float:right;
	margin-top:7px;
}
.paginate
{
	float:right;
	margin-left:20px;
}
.pages
{
	float:right;
}
