.faq_cont
{
	margin-bottom:15px;
}

.no_faq
{
	text-align:center;font-weight:bold;
}

.faq_header,
.faq_snippet
{
	margin-left:12px;
	margin-right:12px;
	padding-bottom:5px;
}


.faq_header
{
	font-size:12px;
	font-weight:bold;
	padding-left:35px;
	padding-top: 5px;
	padding-bottom:8px;
	background-repeat:no-repeat;
	background-position:left top;
	background-image:url(../images/icons/faq.gif);
}