@charset "iso-8859-1";


@import url(../../base/css/general.css);
@import url(login_section.css);



	body

	{
		margin: 4px 0 0 0;
		padding:0px;
		background-image:url('../images/bgcolor.gif');
	    background-repeat:repeat;
		font-family:Verdana;
		font-size:11px;
		color:#999;
	}

	

	td

	{
		text-align:left;
	}

	

	a img, form 

	{
		border:none;
		margin:0px;
		padding:0px;
	}	

	

	select,
	select.no,
	input,
	input.no,
	textarea,
	textarea.no

	{
		font-size:12px;
		font-family:Arial;
	}


	/* * * * MsgBox * * * */

	

	.MsgBox

	{

		margin:15px auto 15px auto;

	}

	

	.MsgBox td

	{

		margin:0px;

		padding:0px;

	}

	

	.MsgBox .corner,
	.MsgBox .corner img
	{
		width:7px;
		height:7px;
		font-size:0px;
	}
	
	.MsgBox .left_side,
	.MsgBox .right_side,
	.MsgBox .top_side,
	.MsgBox .bottom_side
	{
		background-color:#F8F8F8;
		background-image:url(../images/msgbox_bd.gif );
		font-size:0px;
	}
	
	.MsgBox .left_side
	{
		width:7px;
		background-position:left top;
		background-repeat:repeat-y;
	}
	
	.MsgBox .right_side
	{
		width:7px;
		background-position:right top;
		background-repeat:repeat-y;
	}
	
	.MsgBox tr .top_side

	{
		height:7px;
		background-position:left top;
		background-repeat:repeat-x;
	}
	
	.MsgBox .bottom_side
	{
		height:7px;
		background-position:left bottom;
		background-repeat:repeat-x;

	}


	.MsgBox .msgbox_content

	{
		background-color:#F8F8F8;
	}
	
	.MsgBox .msgbox_text

	{
		text-align:center;
		color:#CCCCCC;
		font-weight:bold;
		font-size:24px;
		padding:10px;
		text-transform:uppercase;
	}

	
		/* * * *  * * * */
	
	
		.main

	{
		position:relative;
		width:780px;
		background-color:#fff;
		margin-bottom:5px;
		margin-top:8px;
		margin-left:auto;
		margin-right:auto;
		padding:2px ;
	}
	
	
		
	.topestMenuWrapper
	{
		position:relative;
		
	}
	
	.topestMenu
	{
		position:absolute;
		top:-8px;
		left:-10px;
		width:774px;
		padding-top:3px;
		border-bottom:1px solid #999999;
		background-image:url(../images/navbk.gif);
		font-size:11px;
		text-align:center;
		color: #fff;
	}
	
	.topestMenu a

	{
		margin-left:5px;
	}
	

	.topBlock

	{
		position:relative;
		height:155px;
		border:0px dashed blue;
		margin:0px;
		padding:0;
		background: url(../images/YHheader.jpg) left top no-repeat;
	}
	
	
	#globalnav 
	{  
		float:left;
		clear:left;
		width:428px;
		padding-top: 3px;  
		padding-left: 10px; 
		font-size: 10px;   
	}

	img.mainLogo

	{
		position:absolute;
		top:0px;
		left:0px;
	}

	.topBigText
	{
		position:absolute;
		top:7px;
		left:70px;
	}

	.topBigText .title

	{
		font-size:36px;
		line-height:36px;
	}
	
	.topBigText .title a,
	.topBigText .title a:link,
	.topBigText .title a:visited,
	.topBigText .title a:active,
	.topBigText .title a:hover
	{
		font-weight:bold;
		color:#666666;
		text-decoration:none;
	}

	

	.topBigText .powered

	{
		font-size:8px;
		font-weight:bold;
		text-transform:uppercase;
		color:#666666;
		margin-left:3px;
	}

	
		.topMenuWrapper

	{
		position:relative;
		z-index:100;

	}
	
	
		
/*================*/

/*	.topMenu

	{
		position:relative;
		top:0px;
		width:780px;
		height: 39px; 
	}  */


/*================*/


	table.topMenuCont

	{
		width:100%;
		/*background-color:#999999;*/
		/*border-collapse:collapse;*/
	}
	

	

	table.topMenuCont td

	{
		padding:0px;
		margin:0px;
	}
	
	.topMenuItem,
	.topMenuItemActive
	{
		/*border-top:1px solid #dddddd;
		border-left:1px solid #aaaaaa;
		border-bottom:1px solid #999999;*/	
		
	}
	
	td.topMenuItemHover

	{
		/*border-top:1px solid #bbbbbb;
		border-left:1px solid #bbbbbb;
		border-bottom:3px solid #4c9fd5;*/
		
	}

	
	.topMenuItem .topMenuItemCont

	{
		background-image:url(../images/tab_cutting.gif);
		border-left:1px solid #00448d;
		border-right:1px solid #00448d;
		color:#fff;
	}
	
	.topMenuItemActive .topMenuItemCont
	{
		background-image:url(../images/tab_cutting_h.gif);
		border-left:1px solid #00448d;
		border-right:1px solid #00448d;
		color:#fff;
	}

	
	.topMenuItemHover .topMenuItemCont

	{
		background-image:url(../images/tab_cutting_h.gif);
		border-left:1px solid #00448d;
		border-right:1px solid #00448d;
		color:#fff;
	}
	

	.topMenuItemCont

	{
		text-align:center;
		/*background-color:#ffffff;*/
		padding-left:3px;
		padding-right:3px;
		font-weight:bold;
		text-transform:capitalize;
		white-space:nowrap;
		color:#fff;
		height:28px;padding-top:10px
	}

	
	.topPageHeader
	{
		font-weight:bold;
		font-size:16px;
		color:#fff;
		text-transform:capitalize;
		margin-bottom:2px;
		width: expression( this.scrollWidth > 180 ? "180px" : "auto" ); /* sets max-width for IE */
    	max-width: 180px; /* sets max-width value for all standards-compliant browsers */
    	overflow:hidden;
	}

	.topCustomMenu
	{
	margin-bottom:5px;
	font-size:12px;
		font-weight:bold;
		text-transform:capitalize;
		color:#fff;
		height:15px;
		position:relative;
	}
	
	.topCustomMenu a,
	.topCustomMenu span
	{
		margin-right:9px;
	}
	
	.hiddenMenu
	{
		position:absolute;
		top:24px;
		left:0px;
		z-index:101;
	}
	
	.hiddenMenuBgCont
	{
		width:780px;
		padding-top:2px;
		/*background-image:url( ../images/h_menu_bg.png );*/
		background-color: #4c9fd5;
		position:relative;
	}
	
	
	/*	* html .hiddenMenuBgCont

	{
		background-image:none;
		filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(src='templates/tmpl_uni/images/h_menu_bg.png', sizingMethod='scale');
	}   */

	
	
	.hiddenMenuCont

	{
		margin-left:14px;
		position:relative;
	}


	a.customMenuItem

	{
		position:relative;
	}

		.Notice

	{
		padding:3px;
		width:70%;
		border:1px solid #cc6;
		background-color:#ffc;
		margin:5px auto;
		text-align:center;
		color:black;
	}

	
	.bodyBlock

	{
		margin:35px 11px 13px 11px;
		z-index:50;
	}

	

	.leftNavDiv

	{
		position:relative;
		width:182px;
		float:left;
		margin-right:8px;
	}

	
	.rightNavDiv

	{
		position:relative;
		width:749px;
		/*float:left;*/
		padding:0px;
		overflow:hidden;
	}
	
		/* * * * * * */


	.bottomBlock

	{

		/*position:relative;
		border:1px solid #D0D0D0;*/ background: url(../images/box2mid.gif) repeat-x; height: 31px;

	}


	.bottomImages

	{
		margin-top:7px;
		margin-left:7px;
		float:left;
		position:relative;
	}
	
	.bottomTexts
	{
		  
	}
	
	.bottomTexts div

	{
		
	}
	
	.bottomLinks a

	{
		font-size:10px;  margin-left:5px;

	}
	
		.bottomCopyright { float: left; padding: 7px 9px;  font-size: 10px; }


	.loginDiv

	{
		position:relative;
		height:201px;
		border:1px solid #ccc;
		margin-bottom:13px;
	}

	* html .loginDiv

	{
		margin-bottom:14px;
	}
	
	
		.shoutboxDiv
	{
		position:relative;
		border:1px solid #ccc;
		margin-bottom:13px;
		height:241px;
	}
	
	* html .shoutboxDiv
	{
		height:242px;
	}
	
	.pollsDiv
	{
		position:relative;
		border:0px solid green;
	}
	
	
	.boxHeader

	{
		position:relative;
		background-image:url('../images/head_cutting.gif');
	    background-repeat:repeat-x;
		height:22px;
		padding:4px 0px 0px 6px;
		font-size:10px;
		font-weight:bold;
		color:#666;
		text-align:left;
		text-transform:uppercase;
	}

/**************************************************************/


	.menu_item_link
	{
		text-decoration:none;
	}
	

/**************************************************************/	

		div.menu_item_line
	{
		position:relative;
		padding:0px 0px 0px 25px;
		margin:0px 0px 1px 0px;
		height:20px;
		line-height:20px;
		vertical-align:middle;
		font-weight:bold;
		text-transform:capitalize;
	}

	div.menu_item_line_active

	{
		position:relative;
		height:20px;
		line-height:20px;
		vertical-align:middle;
		font-weight:bold;
		text-transform:capitalize;
		padding:0px 0px 0px 25px;
		margin:0px 0px 1px 0px;
		background-image:url(../images/bullet.gif);
		background-repeat:no-repeat;
		background-position:left center;
	}
	
	/**************************************************************/

	.disignBoxFirst

	{
		/* border:1px solid #eee; */
		margin-bottom:10px;
		background: #ffffff url('../images/box2mid.gif') top left repeat-x ;
		/*margin-left: 8px; margin-right: 8px;*/
		position:relative;
		float:left;
		width:100%;
	}


	.boxFirstHeader

	{
		height:31px;
		padding:7px 0px 0px 8px;
		font-size:12px;
		font-weight:bold;
		color:#00448d;
		text-align:left;
		text-transform:uppercase;
	}
	
	
	.boxContent
	{
		overflow:hidden;
		font-size:12px;
		color:#000000;
		padding:10px;
	}
	
	.disignBoxFirst .boxFirstHeader .dbTopMenu
	{
		white-space:nowrap;
		color: #00448d;
		font-size: 11px;
		text-transform: capitalize;
		float:right;
		margin-top:-6px;
	}
	
	.all_events_link
	{
		color: #0000cc;
		font-size: 11px;
		padding-right: 10px;
		float:right;
		text-transform: capitalize;
	}
	.title_content
	{
		color: #0000cc;
		font-size: 11px;
		padding-right: 10px;
		float:right;	
		text-transform: none;
		text-decoration: none;
	}
	.feeds_links
	{
		float:right;
		margin-right:10px;
		padding-top: 2px;
		color: #0000cc;
		font-size: 11px;
		text-transform: capitalize;
	}
	
	.disignBoxFirst .boxFirstHeader .caption_item
	{
		float: right;
		white-space:nowrap;
		color: #00448d;
		font-size: 11px;
		text-transform: capitalize;
		padding-right:10px;
	}

	.caption_item
	{
		margin-top:-3px;
		padding-right:0 !important;	
	}

	.disignBox2
	{
		position:relative;
		/* border:1px solid #eee; */
		margin-bottom:10px;
		background-image:url('../images/box2mid.gif');
		background-repeat:repeat-x;
		background-color:#fff;
		
	}
	
	.box2Header
	{
		position:relative;
		height:31px;
		padding:7px 0px 0px 8px;
		font-size:12px;
		font-weight:bold;
		color:#fff;
		text-align:left;
		text-transform:uppercase;
		
	}
	

	
	.dbTopMenu div
	{
		float: left;
		padding-left: 5px;
		padding-right: 5px;
		border-left: 1px solid #ccc;
		height:17px;
		padding-top:3px;
	}

	.dbTopMenu div a,
	.dbTopMenu div a:link,
	.dbTopMenu div a:hover,
	.dbTopMenu div a:active,
	.dbTopMenu div a:visited,
	.caption_item a,
	.caption_item a:link,
	.caption_item a:hover,
	.caption_item a:active,
	.caption_item a:visited	
	{
		text-decoration: none;
		color: #0000CC;
	}
	
	.dbTopMenu div.active
	{
		border-bottom: 1px solid #F7F7F7;
	}
	
	.dbBottomMenu
	{
		position:relative;
	}

	

/**************************************************************/

	div.design_box_border

	{
		position:relative;
		border:1px solid #ccc;
		margin:10px;
		padding:1px;
	}
	div.design_box_border div.header
	{
		position:relative;
		padding:0px 0px 0px 7px;
		height:30px;
		line-height:23px;
		vertical-align:middle;
		font-size:12px;
		font-weight:bold;
		text-transform:uppercase;
		
		background-image:url('../images/design_border_cutting.gif');
	    background-repeat:repeat-x;
		
	}
	div.design_box_border div.keeper
	{
		position:relative;
		padding:5px;
		border:0px solid red;
		text-align:center;
		margin:2px;
	}


		

/**************************************************************/	

	.emptyBox

	{
		position:relative;
		border:1px solid #ccc;
		margin:0px;
		padding:3px;
	}





/**************************************************************/	



	.languageBlock

	{
		position:relative;
		border:0px solid red;
		float:right;
		margin-top:0px;
	}
	
	.skinBlock
	{
		position:relative;
		border:0px solid red;
		float:right;
		margin-top:24px;
		margin-right:-90px;
	}

	

/*####################################################################*/



	.topBannerBlock

	{
		position:relative;
		width:770px;
		/*height:40px;*/
		margin-top:5px;
		border:1px solid red;
		margin-left:auto;
		margin-right:auto;
	

	}

	

	.bannerBlock
	{
		position:relative;
		width:770px;
		margin:0px auto;
		border:0px solid red;
	}
	

	.leftBanner
	{
		position:absolute;
		top:0px;
		left:-150px;
		border:0px solid red;
	}
	
	.rightBanner

	{
	position:absolute;
		top:0px;
		right:-150px;
		border:0px solid red;
	}
	
	.bottomBannerBlock
	{
		position:relative;
		width:770px;
		margin-top:0px;
		border:0px solid red;
		margin:auto;

	}

	
	.bannerInnerBlock

	{
		position:relative;
		margin-left:auto;
		margin-right:auto;
		border:0px solid blue;
		width:470px;
	}

/*####################################################################*/

	div.playerAdminLink

	{
		position:relative;
  		text-align:left;
 		margin-bottom:15px;
 	}
	
	
	
	.action

	{
		margin-top:20px;
	}

/**************************************************************/	


/*======================================================= */

	.logInRegistrationText

	{	
		margin:5px;
	}

	

	/**************************************************************/	

	div.pollBlock

	{
		position:relative;
		overflow:hidden;
		height:154px;
		
		border:0px solid #96B2C9;
		text-align:left;
		float:left;
		margin-bottom:10px;
	}
	div.pollBody

	{
		/*border:1px dashed #CCC;*/
		margin:5px;
	}

	div.pollCaption

	{
		position:relative;
		margin:3px;
		padding:0px;
		overflow:hidden;
		height:15px;
		line-height:15px;
		vertical-align:middle;
		font-weight:bold;
		/*background-color:#96B2C9;
		color:#fff;*/
	}
	div.pollAnswerBlock
	{
		position:relative;
		margin:2px;
		overflow:hidden;
		height:100px;
		border:0px solid #96B2C9;
		text-align:left;
	}
	div.pollUp
	{
		position:absolute;
		left:2px;
		top:2px;
	}

	div.pollDown

	{
		position:absolute;
		left:2px;
		bottom:2px;
	}

	div.pollQuestionBlock
	{
		position:absolute;
		
		padding:2px;
		overflow:hidden;
		margin-left:18px;
	}

	div.pollSubmitBlock
	{
		position:relative;
		margin:2px;
		overflow:hidden;
		height:30px;
		border:solid 0px #0000cc;
		text-align:center;
	}
	
		
	.small

	{
		font-size:11px;
		color:#333366;
	}

	

	.text2
	{
		border:1px solid #fff;
	}
	
	.pollContainer
	{
		position:relative;
		margin-top:2px;
		padding:10px;
		background-color:transparent;
		border:0px solid red;
	}
	
	.createPollSection
	{
		position:relative;
		padding:10px;
		background-color:transparent;
		border:0px solid red;
	}
	
	.controlsDiv
	{
		position:relative;
		clear:both;
		margin:10px;
		background-color:#ffffff;
	}
	
	.innerControlBlock
	{
		position:relative;
		float:none;
		width:auto;
	}
	
	.controlsHeader

	{
		padding: 0px 2px;
		font-weight:bold;
	}
	
	.deleteDiv
	{
		padding: 2px 0px 0px 2px;
		
	}
	
	/*.rightNavDiv .boxContent table textarea
	{
		width:300px;
	}*/

	

/*####################################################################*/



	.customMenuItemActive
	{
		color:black !important;
		text-decoration:none !important;
	}


	div.menuLine,
	div.menuLine:hover,
	div.menuLineActive
	{
		font-size:13px;
		margin-bottom:5px;
		text-transform:capitalize;
		color:black;
	}
	
	.menuLineDivider
	{
		
	}
	
	div.menuLinkBlock
	{
		padding-left:20px;
		background-repeat:no-repeat;
		background-image:url(../images/menu_pt.gif);
		height:25px;
	}
	
	div.menuLine div.menuLinkBlock:hover
	{
		background-image:url(../images/menu_pt_h.gif);
	}

	a.header2,
	a.header2:link,
	a.header2:visited,
	a.header2:hover,
	a.header2:active
	{
	font-size:9px;
	text-decoration:none;
	
	}
	
	span.headerNickname
	{
	font-weight:bold;
	overflow:hidden;
	display:block;
	float:left;
	margin-right:3px;
	}

	.header3
	{
	font-size:10px;
	text-decoration:none;
	color:#FFFFFF;
	
	}
	
	a.header3,
	a.header3:link,
	a.header3:visited,
	a.header3:hover,
	a.header3:active
	{
	font-size:10px;
	text-decoration:none;
	color:#4D9FD7;
	font-weight:bold;
	
	}
	

/*.topMemberBlock
	{
		position:absolute;
		right:5px;
		top:4px;
		height:50px;
		text-align:right;
		padding:3px;
		width:350px;
		font-size:11px;
	/*background-color:#FFFFFF;
	border:1px #DD0000 solid;*/

	}  */


	.topMemberBlock .thumbnail_block, .HelloMemberBlock .thumbnail_block

	{
	margin-left:5px;		
	}

	.thumb { border: 1px solid #ffffff; }

	.hello_member

	{
		padding:7px 12px 0px;
		font-size:14px;
	}
	
	.hello_actions
	{
		text-transform:capitalize;
		font-size:11px;
	}
	
	.hello_actions span
	{
		margin-left:5px;
	}
	
	.no_hello_actions
	{
		/*font-size:18px;
		font-weight:bold;
		padding-right:10px;
		padding-top:9px;*/
		
		margin-top:-17px; margin-left: 540px; font-size:10px; color:#FFFFFF;  z-index:19999; position:absolute; 
	}
	
	.no_hello_actions a
	{
		color: #0000ff;
	}
	
	.no_login_actions
	{
		/*font-size:18px;
		font-weight:bold;
		padding-right:10px;
		padding-top:9px;*/
		width:280px;
		margin-top:-17px; 
		margin-left: 495px; 
		font-size:9px; 
		color:#FFFFFF; 
		z-index:19999; 
		position:absolute;
	}
	
	
	#loginform {     padding-top:0px;             }
	
	
	/* * * * Tags * * * */
	
	.tags_wrapper
	{
		text-align:center;
		border:0px solid green;
		margin:0px 18px 20px auto;
	}

	.one_tag

	{

		margin:0px 1px;
		line-height:20px;
		border:0px solid green;
		

	}

	

	div.rate_text

	{

		text-align:center;

		font-weight:bold;

	}

	

	

	

	

	/* * * * STANDART * * * */

	

	.newsWrap,

	.categoryBlock1,

	.categoryHeader,

	.articleBlock,

	.articleBlock1,

	.articleBlock2

	{

		margin: 0px 0px 10px;

	}

	

	.categoryBlock1,

	.categoryHeader,

	.articleBlock,

	.articleBlock1,

	.articleBlock2

	{

		margin-left:12px;

		margin-right:12px;

		text-align:left;

	}

	

	.newsHead,

	.categoryCaption,

	.artCaption,

	.articleBlock1 .title,

	.articleBlock2 .title

	{

		font-size:12px;

		font-weight:bold;

		padding-left:30px;

		padding-bottom:10px;

		background-position:left top;

		background-repeat:no-repeat;

	}



	.newsHead

	{

		background-image:url(../images/icons/news.gif);

		text-align:left;

	}

	

	.newsInfo

	{

		font-size:11px;

		color:#666666;

	}

	

	.newsText

	{

		

	}

		

	.articleBlock1 .title,

	.articleBlock2 .title

	{

		margin-bottom:5px;

		background-image:url(../images/icons/artic_papr.gif);

	}

	

	.categoryCaption,

	.artCaption

	{

		background-image:url(../images/icons/artic_fldr.gif);

	}

	

	.articleBlock .date,

	.articleBlock1 .date,

	.articleBlock2 .date

	{

		font-size:10px;

		color:#666666;

	}



	.guestbookTextArea
	{
		width: 530px;
		height:250px;
	}

	/* Blog Design Box */
	.blogBlock
	{
		margin-bottom:15px;
		float:left;
		width:350px;
	}

	.blog_wrapper
	{
		margin-bottom:15px;
		overflow:hidden;
	}

	.blog_subject
	{
		font-size:13px;
		font-weight:bold;
		padding-left:35px;
		padding-bottom:10px;
		background-repeat:no-repeat;
		background-position:left top;
		background-image:url(../images/icons/artic_papr.gif);
	}

	.blog_author
	{
		font-size:10px;
		font-style:normal;
		color:#666666;
		padding-top:2px;
		padding-bottom:2px;
	}

	.blogs_pages
	{
		margin:4px;
		text-align:center;
		font-weight:bold;
		font-size:12px;
	}



	.online_offline_bulb
	{
		position:absolute;
		z-index:10;
		right:0px;
		top:0px;
	}
	
	/* * * * RSS Feed * * * */
	
	.rss_item_wrapper
	{
		padding-bottom:15px;
	}
	
	.rss_item_header
	{
	font-size:12px;
	font-weight:bold;
	}
	
	.rss_item_info

	{
		color:#666;
		font-size:10px;
	}

	

	.rss_read_more
	{
		text-align:right;
		font-weight:bold;
	}
	
a.thumbUnavailable
{
	color:#808080 !important; 
	text-decoration: none !important;
}

a.thumbUnavailable:hover
{
	text-decoration: underline !important;
}

.videoInfoTitle
{
	display: block; 
	clear: right; 
    height: expression( this.scrollHeight > 30 ? "30px" : "auto" ); /* sets max-height for IE */
    max-height: 30px; /* sets max-height value for all standards-compliant browsers */
	overflow: hidden;
}

.photoInfoTitle
{
	display: block; 
	clear: right; 
    height: expression( this.scrollHeight > 30 ? "30px" : "auto" ); /* sets max-height for IE */
    max-height: 30px; /* sets max-height value for all standards-compliant browsers */
	overflow: hidden;
	width:100px;
}

/* * * * News Feed * * * */

.newsItem
{
	/*border-bottom: 1px solid #ccc;*/
	padding-bottom: 10px;
}

.newsDate
{
	font-size: 11px;
	color: gray;
	margin-right: 5px;
}
.newsTextContent
{
	font-style: italic;
	color: brown;
}
.newsPhoto
{
	height: 40px;
	float: right;
	margin-left: 5px;
}
.newsIcon
{
	vertical-align: middle;
	margin-right: 5px;
}
.captionIcon
{
	vertical-align: middle;
}
.newsMemberPhotos
{
	margin-top: 5px;
	text-align: center;
}
.newsMemberPhoto
{
	height: 30px;
	vertical-align: top; 
	margin-right: 10px;
	float: left;
}

.eventInfoItem {
	font-weight:bold;
	padding-left: 5px;
}

.eventInfoItemValue {
	background-color: #FFFFFF;
	padding-left: 5px;
}

/* comments */

div#comments
{
	float:left;
	width:100%;
}	

div#commentNavigation
{
	margin: 5px 5px 5px 5px;
	border: 0px solid navy;
	text-align: center;
	float:left;
	background-color: lightgrey;
	width:340px;
}
.navigation
{
	width:340px;
	height:18px;
	padding: 2px 0;
	border: 0px solid navy;
	text-align: center;
	background-color: lightgrey;
}
.navigationTop
{
	margin-bottom:10px;
}
.navigationBottom
{
	margin-top:10px;
}
.commentNavUnit
{
	margin: 5px 5px 5px 5px;
	position: relative;
	float: left;
}
.comment_add_comment
{
	position:relative;
	background-color:#FFFFFF;
	float:left;
	padding-left:25px;
	color:#333366;
	font-size:14px;
	font-weight:bold;
	background-image:url('../images/icons/add_comment.gif');
	background-repeat:no-repeat;
	clear:left;
	width:150px;
}
.commentUnit
{
	margin-bottom: 15px;
	position: relative;
	float:left;
	clear:left;
	width:340px;
}
.commentMain
{
	position: relative;
	float: left;
	width: 270px;
}
.commentInfo
{
	font-weight: bold;
	position: relative;
	float: left;
	width: expression( this.scrollWidth > 200 ? "200px" : "auto" ); /* sets max-width for IE */
    max-width: 200px; /* sets max-width value for all standards-compliant browsers */
    overflow:hidden;
}
.commentText
{
	padding: 0px 0px 8px 0px;
	text-align: left;
	position: relative;
	float: left;
	clear: left;
	width:100%;
	overflow:hidden;
}
.userPic
{
	margin-left: 5px;
	margin-right: 5px;
	border: 0px solid red;
	position: relative;
	float: left;
	width:55px;
	overflow:hidden;
}
.adminActions
{
	clear: left;
	margin-bottom: 5px;
}
div#add_comment_label
{
	clear:left;
}
.addcomment_textarea
{
	clear:left;
}

div#col1
{
	width: 430px;
	margin-right: 10px;
	overflow:hidden;
}
div#col2
{
	width: 310px;
	overflow:hidden;
}
div#actionList
{
	float:left;
}
div#actionList div
{
	position: relative;
	float: left;
	width: 140px;
	margin: 5px;
	font-weight: bold;
	height: 25px;
}
div#actionList img
{
	margin: 0px 7px -6px 0px;
}
div#actionList a
{
	font-size: 13px;
}

.fieldComment
{
	color:#808080;
	font-size:10px;
}

.oneline {
	height: expression( this.scrollHeight > 15 ? "15px" : "auto" ); /* sets max-height for IE */
    max-height: 15px; /* sets max-height value for all standards-compliant browsers */
    overflow: hidden;
}

.margin_bottom_10
{
	margin-bottom:10px;
}

.verifImgCont
{
	vertical-align:middle;
	padding:10px 0 0 5px;
}