.intro
{
	font-size:13px;
	font-family:Arial;	
}
.content
{
	width:780px;
	background:url(img/left-bkgd.jpg);
	padding:10px;
}
.contentPage
{
	background-color:#FFF;
}
.comment
{
	color:#515151;
	font-size:12px;	
}
.fieldCaption
{
	font-weight:bold;
	text-align:right;
	vertical-align:top;
	padding-right:10px;
	font-size:14px;
	color:#515151;
	width:36%;
}
.fieldInputCont
{
	width:64%;	
}
.fieldInput
{
	height:18px;
	font-family:Georgia;
	font-size:16px;	
	width:100%;
}
.fieldRow
{
	vertical-align:top;
	font-size:12px;
}
.bottomHint, .rightHint
{
	font-size:12px;
	font-style:italic;	
	font-family:Verdana;
	color:#515151;
}
.rightHint
{
	width:170px;
	position:absolute;
	padding:7px;
	background-color:#FFFCC5;
	border:1px solid #979797;
	color:#404117;
	z-index:2;
}
.profileInfo select
{
	font-size:14px;
	height:24px;
	font-family:Verdana;	
}
.profileInfo textarea
{
	font-size:16px;
	font-family:Georgia;	
}
.infoSection
{
	border-bottom:1px dotted #CCCCCC;
	float:left;	
	width:100%;
	padding:5px 0;
}
.infoLabel
{
	font-weight:bold;
	font-size:12px;
	float:left;
}
.requiredMark
{
	color:red;
	font-size:12px;
}
.requiredLabelCont
{
	float:left;
	margin-left:45px;	
	font-size:12px;
}
.requiredLabel
{
	font-style:italic;
	font-family:Times New Roman;
	font-size:14px;
}
.skipLink
{
	float:right;
	font-size:11px;
}
.invalidComment {
	display: block;
    clear: left;
    color: red;
    font-size:12px; 
}
#registrationRes, #loginRes
{
	background-color:#FFF;
	padding:20px;
}
.regErrorMsg
{
	margin:10px 0;
	color:red;
}
.errorMsg
{
	color:red;
	font-size:14px;
	font-weight:bold;
	margin-left:10px;	
}
.backLink
{
	font-size:14px;	
}
.submitBlock
{
	text-align:center;
	padding-top:10px;	
}
#footer
{
	background-color:#FFF8DC;
	font-size:9px;
	padding:3px 0 3px 10px;
	text-align:left;
	width:770px;
}
.remindCont
{
	font-size:14px;	
}
.forgetLinkCont
{
	font-size:12px;
	text-align:left;
	padding-top:10px;
}