@charset "iso-8859-1";

@import url(../../base/css/index.css);

@import url(login_section.css);

	

	/*.bodyBlock

	{

		margin-top:18px;

	}*/

	

	#first_column

	{

		position:relative;

		width:210px;

		margin-right:15px;

		 

		float:left;

		overflow:hidden;

	}

	

	#second_column

	{

		position:relative;

		width:530px;

		float:left;

		overflow:hidden;

	}

	

	.login_block

	{

		width:300px;	

		height:120px;

	}

	

	* html .login_block

	{

		padding-top:11px;

	}

	

	.login_area

	{

		margin-left:5px;

		width:168px;

	}



	input { border: 1px solid #999; background-color: #f2f2f2; }

	

	.login_section_hello

	{

		height:50px;

		position:relative;

	}

	

	.login_section_hello .topMemberBlock

	{

		top:0px;

		right:30px;

	}

		

	.indexPhoto

	{

		position:relative;

		height:203px;

		border:0px solid red;

		margin-bottom:14px;

	}

	

	.promo_code_wrapper

	{

		/*border:1px solid #ccc;

		margin-bottom:10px;

		padding:10px;*/

	}

	

	.memberDiv, .photosDiv, .tagsDiv

	{

		position:relative;

		margin-bottom:13px;

		padding-bottom:13px;

	}

	

	.blogsDiv

	{

		position:relative;

		/*margin-bottom:13px;*/

	}

	.blog_wrapper,
	.blog_wrapper_n
	{
		position: relative;
		float: left;
		margin-top:0px;
		margin-bottom:15px;
			
	}

	.blog_wrapper_n
	{
		width:430px;
	}

	.blog_wrapper
	{
		width:500px;
	}

	

	/*div#show_photos,

	div#show_members

	{

		width:355px;

		padding-left:8px;

		padding-bottom:27px;

	}

	

	div#show_blogs

	{

		padding-bottom:27px;

	}*/

	

	.blog_subject

	{

		font-size:12px;

		font-weight:bold;

		padding-left:35px;

		padding-bottom:5px;

		background-repeat:no-repeat;

		background-position:left top;

		background-image:url(../images/icons/artic_papr.gif);

	}

	

	 .subject

	 {

	 	font-size:12px;

		font-weight:bold;

		padding-bottom:5px;

	 }

	 



.blog_subject_n

	{

		font-size:12px;

		font-weight:bold;

		/*margin-left:12px;*/

		/*padding-left:25px;*/

		padding-bottom:5px;

		background-repeat:no-repeat;

		background-position:left top;

		/*background-image:url(../images/icons/artic_papr.gif);*/

	}

	

	.blog_author, .author

	{

		font-size:11px;

		color:#666666;

		padding-top:2px;

		padding-bottom:2px;

	}

	

	.blog_author_n

	{

		font-size:11px;

		color:#666666;

		padding-top:2px;

		padding-bottom:2px;

	}



	.rss_item_header

	{

		padding-bottom:5px;

	}



	.rss_item_info

	{

		padding:2px 0px;

	}

	

	.rss_item_desc

	{

		text-align:left;

	}

	

	.blog_author span,

	.blog_author_n span,

	.rss_item_info span

	{

		margin-right:5px;

		line-height:18px;		

	}

	

	.blog_author span img,

	.blog_author_n span img,

	.rss_item_info span img,

	.newsInfo img

	{

		vertical-align:middle;

		margin-right:3px;

	}



	.blog_text_n

	{

		text-align:left;

	}

	

	.blog_text, .text
	{
		font-size:12px;
		/* text-align:justify; */
		overflow:hidden;
		width:100%;
	}

	

	.blogs_pages

	{

		margin:4px;

		text-align:center;

		font-weight:bold;

		font-size:12px;

	}

	

	.backMembers

	{

		float:left;

		margin-top:5px;

		margin-left:7px;

		font-size:11px;

		color:#669;

		text-transform:capitalize;

		font-weight:bold;

		position:relative;

	}

	

	.moreMembers

	{

		float:right;

		margin-top:5px;

		margin-right:7px;

		font-size:11px;

		color:#669;

		text-transform:capitalize;

		font-weight:bold;

		position:relative;

	}

	

	

	/*##############################################################*/

	

	

	div#TopMembers

	{

		position:relative;

		display:block;

		

		

	}

	div#top_members_menu

	{

		position:absolute;

		right:-1px;

		top:-28px;

		text-transform:capitalize;

		height:26px;

		text-align:center;

		border:0px solid red;

		font-family:Arial;

		font-size:12px;

		color:#669;

		text-decoration:none;

	}

	

	.boxTitle

	{

		position:absolute;

		top:4px;

		left:0px;

		font-family:Arial;

		font-size:14px;

		text-transform:uppercase;

		font-weight:bold;

		color:#666;

	}

	

	/*.active, .notActive

	{

		position:relative;

		width:60px;

		height:21px;

		float:left;

		text-align:center;

		padding-top:5px;

		border:1px solid #ccc;

	}

	

	div#top_members_menu .active

	{

		background-image:url('../images/ActiveCutting.gif');

	    background-repeat:repeat-x;

		border-bottom:1px solid #fff;

		color:#333;

		font-family:Arial;

	}

	

	div#top_members_menu  .notActive

	{

		background-color:#EFEFEF;

	}*/

	div.topmembers_block
	{
		position:relative;
		overflow:hidden;
		float:left;
		width:112px;
		margin: 0px 7px 7px 0px;
	}
	
	div.topmembers_desc_block

	{

		position:relative;

		float:left;

		border:0px dashed blue;

		width:100%;

		left:0;

	}

	

	div.topmembers_nickname

	{

		position:relative;

		height:17px;

		line-height:17px;

		vertical-align:middle;

		text-align:center;

		border:0px solid red;

		

	}

	

	div.topmembers_age_sex_country

	{

		position:relative;

		line-height:15px;

		vertical-align:middle;

		text-align:center;

		color:#555;

		border:0px solid blue;

		font-weight:normal;

	}

	

	.thumbnail_block

	{

		text-align:center;

	}

	

	div.logged_section_block

	{

		position:relative;

		padding-top:0px;

		padding-left:3px;

		font-size:13px;

		font-weight:bold;

		text-align:center;

	}

	

	.loading

	{

		text-align:center;

		margin-bottom:10px;

	}

	

	* html .loading

	{

		padding-top:60px;

	}

	

	/* * * * * * */

	

	.qsi_wrapper

	{

		height:162px;

	}

	

	div.qsi_line

	{

		position:relative;

		overflow:hidden;

		height:20px;

		margin-bottom:5px;

	}



	div.qsi_first

	{

		position:relative;

		float:left;

		width:100px;

		line-height:18px;

		vertical-align:middle;

		text-align:right;

		white-space:nowrap;

		margin-right:6px;

	}

	

	div.qsi_second

	{

		position:relative;

		float:left;

		width:170px;

		padding-bottom:10px;

	}

	

	div.qsi_second span input

	{

		height:14px;

	}

	

	div.qsi_second span select

	{

		width:50px;

	}	

	

	div.qsi_second select,

	div.qsi_second input

	{

		vertical-align:middle;

		font-size:11px;

		font-family:Arial, Helvetica, sans-serif;

		margin:0px;

		padding:0px;

		width:170px;

	}

	

	div.qsi_second input

	{

		width:166px;

	}

	

	

	/* * * * * * */

	

	div.pollInfo

	{

		left:0px;

		margin-bottom:10px;

	}

	

	div.pollBody

	{

		left:0px;

		width:285px;

		margin:0px;

		margin-top:5px;

	}

	

	div.featured_info

	{

		left:10px;

		top:0px;

		font-weight:normal;

	}

	

	

	div.pollBlock

	{

		margin-top:3px;

		width:285px;

	}

	div.pollQuestionBlock

	{

		/*width:170px;*/

	}



	* html div.pollBlock input

	{

		border:none;

	}

	

	/*div#prof_of_week

	{



	}

	

	div#prof_of_month

	{

		left:5px;

	}*/

	

	div#prof_of_month,

	div#prof_of_week,

	div#prof_of_day

	{

		width:112px;

		margin-left:0px;

		margin-right:0px;

		left:0px;

		float:left;

		position:relative;

	}

	



	div#prof_of_month,

	div#prof_of_week

	{

		margin:0px 7px 0px 0px;

	}

	

	div.rate_block_position

	{

		margin-bottom:10px;

	}

	

	div.top_rated_head

	{

		text-align:center;

	}

	

	/*div.featured_container

	{

		position:relative;

		width:343px;

		left:0px;

	}*/

	

	div.featured_block_1

	{

		position:relative;

		float:left;

		border:none;

		margin:0px 7px 7px 0px;

	}

	div.featured_block_2

	{

		position:relative;

		float:left;

		border:none;

		margin:0px 0px 7px;

	}

	div.featured_block

	{

		margin:0px 2px 7px 2px;

		float:left;

		border:none;

	}

	

	* html div.featured_block

	{

		margin:3px 0px;

	}

	

	div.member_stat_block

	{

		float:left;

	}

	

	div.topOfBlock

	{

		font-weight:bold;

	}

	

	.online_offline_bulb

	{

		position:absolute;

		z-index:10;

		right:0px;

		top:0px;

		border:0px solid red;

	}

	

	/* * * * News * * * */

	

	div.news_title

	{

		position:relative;

		margin-left:20px;

		margin-bottom:5px;

		color:#0168B9;

		font-weight:bold;

		vertical-align:middle;

	}

	

	

	.siteStatUnit

	{

		position: relative;

		float: left;

		width: 115px;

	}

	

	.siteStatUnit img

	{

		width: 16px;

		height: 16px;

	}



	.sharePhotosContent_1, .sharePhotosContent_2

	{

		position: relative;

		float: left;

		/*width: 112px;*/

		overflow: hidden;

	}

	

	.sharePhotosContent_1

	{

		margin:0px 7px 7px 0px;

	}

	

	.sharePhotosContent_2

	{

		margin:0px 0px 7px;

	}

	

	.lastFilesPic

	{

		position: relative;

		/*float: left;*/

		

		width: 110px;

		

		background-position: center;

		background-repeat: no-repeat;

		margin-right: 10px;

	}

	

	.sharePhotosContent_1 .votes_small b,

	.sharePhotosContent_2 .votes_small b

	{

		display: none;

	}

	

	.sharePhotosContent_1 .votes_small .votes_gray_small,

	.sharePhotosContent_2 .votes_small .votes_gray_small

	{

		

	}

	

	.lastVideoPic

	{

		position: relative;

		/*float: left;*/

		border: 1px solid #EDEDED;

		width: 112px;

		height: 80px;

		margin-right: 10px;

	}

	

	.shareMusicContent_1, .shareMusicContent_2

	{

		position: relative;

		float: left;

		width: 112px;

		overflow: hidden;		

	}

	

	.shareMusicContent_1

	{

		margin:0px 7px 7px 0px;

	}

	

	.shareMusicContent_2

	{

		margin:0px 0px 7px;

	}

	

	.shareMusicContent_1 .votes_small b, .shareMusicContent_2 .votes_small b

	{

		display: none;

	}

	

	.lastMusicPic

	{

		position: relative;

		/*float: left;*/

		border: 1px solid #EDEDED;

		width: 110px;

		height: 110px;

	}

	

	.galleryRate .votes_small

	{

		width:112px;

	}

	

	.icon_block

	{

		position:relative;

		float:left;

		width:47px;

		height:47px;

		margin-right:10px;

	}
.compactMember {
	float:left;
	margin:0 4px 10px 0;	
	border:1px solid lightgrey;
}
.featuredMember {
	float:left;
	width:90px;
	margin-bottom:10px;
	text-align:center;
}
.featuredMemberThumb {
	height:90px;
	position:relative;
}