.login_block
{
	position:relative;
	margin-left:52px;
	margin-top:15px;
	font-size:11px;
	font-weight:bold;
	color:#666;
}	

.login_line
{
	position:relative;
	font-size:12px;
	height:30px;
	color:#333;
	border:0px solid blue;
	margin-right:5px;
}
	
.forgotDiv
{
	position:relative;
	margin-top:8px;
}

.login_area
{
	position:relative;
	height:13px;
	width:160px;
	padding:2px;
	font-size:11px;
	border:1px solid #999;
	background-image:url('../images/textarea_bg.gif');
	background-repeat:repeat-x;
}

.login_button
{
	position:relative;
	float:left;
	margin-top:7px;
}

.join_now
{
	position:relative;
	float:left;
	margin-top:12px;
	margin-left:7px;
}