.leftCol {
	float:left;
	width:506px;
}
.rightCol {
	float:right;
	width:238px;
	overflow:hidden;
	position:relative;
	z-index:0;
}
.miniActionCont {
	float:left;
}
.lastLogin {
	float:left;
	margin-top:30px;
}
.quickLink {
	float:left;
	clear:both;
	margin-top:5px;
	width:100%;	
}
.quickLinkImg {
	vertical-align:middle;
}