.photo_block
{
	float:left;
	position:relative;
	border: 0px solid green;
	padding:12px;
}
.photo_nickname
{
	text-align:center;
	font-weight:bold;
	font-size:12px;
}

.photos_pages
{
	text-align:center;
	font-weight:bold;
	font-size:12px;
}