@charset "iso-8859-1";

@import url(../../base/css/profile_customize.css);

	div#profile_bg_image, div#profile_font_color, 
	div#profile_font_size, div#profile_font_family, div#profile_mylinks, 
	div#profile_feednews, div#profile_myblog, div#profile_rssblogfeed

	{

		position:relative;

		/*background-color:#F0F0F0;*/

		padding:4px;

		margin-bottom:3px;

		border-bottom:1px solid #ccc;

	}
	
	div#profile_bg_image
	{
		border-top:1px solid #ccc;
	}

	div.customize_content

	{

		position:relative;

		border:0px solid red;

		

	}

	

	div.customize_header_box

	{

		text-align: center;

		width: 100%;

		margin-bottom:20px;

	}

	

	div.customize_footer_box

	{
		
		text-align: center;

		width:540px;

		margin-left: auto;

		margin-right: auto;
	}

	
	.button
	{
		margin-top:10px;
	}
	

	div.customize_box, div.customize_box_pic, div.customize_box_mylinks
	{
		position:relative;
		clear: left;
		height: expression( this.scrollHeight < 60 ? "60px" : "auto" ); /* sets max-height for IE */
    	min-height: 60px; /* sets max-height value for all standards-compliant browsers */
		width: 80%;
		margin-left:auto;
		margin-right:auto;
		border:0px solid green;
	}
	
	div.customize_box_pic
	{
		margin-top:10px;
	}
	
	div.customize_box_mylinks, div#profile_mylinks
	{
		border:none;
	}

	div#profile_feednews
	{   height: 220px;        	}
	
/*	div.customize_box_mylinks
	{    height: 590px;       	}*/

	span.left_box
	{
		float: left;
		width: 100%;
		text-align: left;
	}

	span.right_box
	{
		position:absolute;
		top:4px;
		right:4px;
		text-align:right;
	}
	
	span.selection
	{
		float:right;
		height:22px;
	}
	
	div.rowContent
	{
		float:left;
		clear:left;
		width:100%;
		padding-top:15px;
	}
	
TABLE#colorsTable {
    margin-top: 3px;
}

TABLE#colorsTable TD {
    width: 12px;
    height: 10px;
    border: 1px solid Black;
    cursor: pointer;
}

.RSSSettings
{
	float:left;
	clear:both;
	width:80%;
	padding:10px 0;
	border-top:1px solid #ccc;
}

.legend
{
	float:left;
	padding:10px 0;
	border-top:1px solid #ccc;	
	width:100%;
}
.customizeSubheader {
	font-weight:bold;
	margin-bottom:5px;
}
.syndVideoUrl {
	width:350px;
}
.hint {
	padding-top: 5px;
	color: grey; 
	font-size: 10px; 
}