@charset "iso-8859-1";

@import url(../../base/css/profile_view.css);



#thin_column

{

	width:372px;

	margin-right:10px;

}



#thick_column

{

	width:372px;

}



.photo_title

{

	position:relative;

	float:left;

	font-size:11px;

	left:5px;

}



.iconBlockCont

{

	white-space:nowrap;

	width:307px;

	margin-left:auto;

	margin-right:auto;

	border:none;

	z-index:15;

}



.scrollCont

{

	position:absolute;

	width:346px;

	top:18px;

	left:0px;

	z-index:10;

}



.scrollIconContainer

{

	position:relative;

	width:346px;

	top:0px;

	left:0px;

}



#profile_details_wrapper

{

	font-weight:bold;

	padding-left:10px;

}



#profile_details_wrapper table

{

	width:100%;

	border-collapse:collapse;

}



.profile_td_1,

.profile_td_1_first

{

	position:relative;

	width:100px;

}



.profile_td_2,

.profile_td_2_first

{

	position:relative;

}



#profile_details_wrapper .field

{

	color:#666666;

	float:left;

}



#profile_details_wrapper .value

{

	color:#333333;

	margin-left:5px;

	position:relative;

	float:left;

}



.profile_headline

{

	font-size:13px;

	font-weight:bold;

}



.profile_td_1, .profile_td_1_first

{

	color:#333;

}



.profile_td_2, .profile_td_2_first

{

	color:#4d9fd7;

}



.menuBlock { margin: 2px;  padding: 0; }

.menu_item_block

{

	position: relative;

}



.menu_item_block_left

{

	position:relative;

	float:left;

	width:175px;

	margin: 2px;

	padding:0;

}



.menu_item_block_right

{

	position:relative;

	float:left;

	width:140px;

	margin: 2px;

}





.menuLine 

{

	position:relative;

}



.menuLink 

{

	margin: 0px 0px 0px 10px;

}



.menuLinkBlock

{

	position:relative;

	line-height: 25px; 

}

div#commentNavigation
{
	width:330px;
}

.comments_wrapper

{

	position:relative;

}



.comment_author 

{

	float:left;

	margin-right:12px;

	font-size:12px;

	position:relative;

}



.comment_view

{

	font-size:12px;

}



.comment_text

{

	background-color:#FFFFFF;

	border:0px;

	font-size:11px;

	padding-left:59px;

}



.comment_row 

{

	border-bottom:0px;

}



div#comments_wrapper
{
	float:left;
	position:relative;
	width:346px;
}



.comment_add_comment

{

	position:relative;

	background-color:#FFFFFF;

	float:left;

	padding-left:25px;

	color:#333366;

	font-size:14px;

	font-weight:bold;

	background-image:url('../images/icons/add_comment.gif');

	background-repeat:no-repeat;

}

.replyComment
{
	float:left;
	padding-left:15px;
	background-image:url('../images/icons/ico_Reply.gif');
	background-repeat:no-repeat;
}

.blogHead
{
	float:left;	
	padding-bottom:5px;
	padding-left:33px;
	height: expression( this.scrollHeight < 15 ? "15px" : "auto" ); /* sets max-height for IE */
   	min-height: 15px; /* sets max-height value for all standards-compliant browsers */
	background-image:url(../images/icons/artic_papr.gif);
	background-position:left top;
	background-repeat:no-repeat;
	font-size:12px;
	font-weight:bold;
}



.blogInfo
{
	color:#666666;
	font-size:11px;
	padding-bottom:2px;
	padding-top:2px;
	float:left;
	width:100%;
}

.blogInfo span
{
	margin-right:5px;
	line-height:18px;
}

.blogInfo span img
{
	vertical-align:middle;
	margin-right:3px;
}

.blogSnippet
{
	font-size:12px;
	float:left;
}

	

	.sharePhotosContent_1, .sharePhotosContent_2 

	{

		position: relative;

		float: left;

		width: 112px;

		overflow: hidden;

	}

	

	.sharePhotosContent_1

	{

		margin:0px 7px 7px 0px;

	}

	

	.sharePhotosContent_2

	{

		margin:0px 0px 7px;

	}

	

	.lastFilesPic

	{

		position: relative;

		float: left;

		border: 1px solid #EDEDED;

		width: 110px;

		height: 110px;

		background-position: center;

		background-repeat: no-repeat;

	}

	

	.sharePhotosContent_1 .votes_small b, .sharePhotosContent_2 .votes_small b

	{

		display: none;

	}

	

	.sharePhotosContent_1 .votes_small .votes_gray_small,

	.sharePhotosContent_2 .votes_small .votes_gray_small

	{

		

	}

	

	.galleryRate .votes_small

	{

		width:112px;

	}

	

	.lastVideoPic

	{

		position: relative;

		float: left;

		border: 1px solid #EDEDED;

		width: 112px;

		height: 80px;

	}

	

	.shareMusicContent_1,

	.shareMusicContent_2

	{

		position: relative;

		float: left;

		width: 112px;

		overflow: hidden;

	}



	.shareMusicContent_1

	{

		margin:0px 7px 7px 0px;

	}

	

	.shareMusicContent_2

	{

		margin:0px 0px 7px;

	}



	.shareMusicContent_1 .votes_small b,

	.shareMusicContent_2 .votes_small b

	{

		display: none;

	}

	

	.lastMusicPic

	{

		position: relative;

		float: left;

		border: 1px solid #EDEDED;

		width: 110px;

		height: 110px;

	}

	

	.blogHead1

	{

		font-size:14px;

		font-weight:bold;

		/*margin-left:12px;*/

		/*padding-left:25px;*/

		padding-bottom:5px;

		background-repeat:no-repeat;

		background-position:left top;

		/*background-image:url(../images/icons/artic_papr.gif);*/

	}



	.rss_item_header

	{

		padding-bottom:5px;

	}

	

	.rss_item_info span

	{

		margin-right:5px;

		line-height:18px;

	}

	

	.rss_item_info span img

	{

		vertical-align:middle;

		margin-right:3px;

	}