
@charset "iso-8859-1";
@import url(../../base/css/profile_photo_gallery.css);
	body
	{
		margin:0px;
		padding:0px;
		font-family:Arial, Helvetica, sans-serif;
		font-size:11px;
		background-color:#FFFFFF;
		width:500px;
	}
	
	.main
	{
		position:relative;
		border:0px solid red;
		width:100%;
	}
	
	
	.bodyBlock
	{
		position:relative;
		margin-bottom:0px;
		border:0px solid red;
		padding:0px;
		width:500px;
		font-size:0px;
		overflow:hidden;
	}


	.leftColumn
	{
		position:relative;
		border:0px solid green;
		padding:0px;
		overflow:hidden;
		position:relative;		
		float:left;
		font-size:12px;
	}
	
	.disignBoxFirst
	{
		position:relative;
		border:1px solid #ccc;
		margin-bottom:13px;
	}

	.boxFirstHeader
	{
		position:relative;
		background-image:url('../images/head_cutting.gif');
	    background-repeat:repeat-x;
		height:26px;
		padding:4px 0px 0px 6px;
		font-size:10px;
		font-weight:bold;
		color:#666;
		width:500px;
		font-family:Verdana;
		text-transform:uppercase;
	}

	.boxContent
	{
		position:relative;
		overflow:visible;
		width:500px;
		/*height:200px;*/
		font-size:11px;
		color:#336699;
		border:0px solid blue;
		padding:10px 3px 5px 80px;
		
	}

	.clear_both
	{
		position:relative;
		clear:both;
		height:1px;
		margin:0px;
		padding:0px;
		font-size:1px;
		border:0px solid red;
	}

		.box_head_left
	{
		position:absolute;
		top:0px;
		left:0px;
	}

	.box_head_right
	{
		position:absolute;
		top:0px;
		right:0px;
	}

	
	.photos_menu
	{
		border:0px solid red;
		padding-left:130px;
	}
	
	.votes
	{
		border:0px solid red;
		padding:0px;
		width:240px;
		text-align:left;
	}
	
	.image
	{
		border:0px solid blue;
		width:300px;
		text-align:center;
	}
	
	
	.close
	{
		border:0px solid blue;
		margin-left:135px;
	}
	
	div.rate_block /* ### in design.inc.php function DesignProgress() ### */
	{
		position:relative;
		margin-left:auto;
		margin-right:auto;
		margin-bottom:2px;
		border:0px solid red;
		
	}
	div.rate_text /* ### in design.inc.php function DesignProgress() ### */
	{
		position:relative;
		text-align:left;
		border:0px solid red;
		
	}
	div.rate_scale /* ### in design.inc.php function DesignProgress() ### */
	{
		position:relative;
		height:10px;
		font-size:1px;
		line-height:10px;
		border:1px solid #9DA0A1;
		background-image:url(../images/icons/scale_bg.gif);
		margin:0px;
		padding:0px;
	}
	div.no_result, div.action
	{
		position:relative;
		border:1px solid #A0C238;
		padding:1px;
		margin:10px 0px;
		width:80%;
		margin-left:auto;
		margin-right:auto;
	}
	div.no_result div, div.action div
	{
		position:relative;
		background-color:#709812;
		vertical-align:middle;
		font-weight:bold;
		color:#fff;
		text-align:center;
		margin:0px;
		padding:0px;
		line-height:20px;
	}
	div.err
	{
		position:relative;
		border:1px solid #FF412D;
		padding:1px;
		margin:10px 0px;
		width:80%;
	}
	div.err div
	{
		position:relative;
		background-color:#FF412D;
		vertical-align:middle;
		font-weight:bold;
		color:#fff;
		text-align:center;
		line-height:20px;
	}
/* Do  not delete 
	div.action 
	{
		position:relative;
		border:1px solid #A0C238;
		padding:1px;
		margin:10px 0px;
		width:80%;
		margin-left:auto;
		margin-right:auto;
	}
	div.action div
	{
		position:relative;
		background-color:#709812;
		vertical-align:middle;
		font-weight:bold;
		color:#fff;
		text-align:center;
	}
*/
* html div.no_result div, * html div.action div, * html div.err div
	{
		line-height:normal;
		padding:3px 0px;
	}
/*##############################################################*/