#description
{
	width:100%;
}
.submitRow
{
	padding-top:20px;
	border-top:1px dotted #CCCCCC;	
}
.heardLabel
{
	float:left;
	margin:3px 0 10px 66px;
}
.heardSelect
{
	float:right;
	margin-left:13px;
	clear:right;
	width:222px;
}
#discounts
{
	float:right;
}
.discountsMsg
{
	float:right;
	margin-left:5px;
	width:321px;
}