#registerLight
{
	background-color:#FFF;
	text-align:left;
}
.verifInput
{
	float:left;
	font-size:16px;	
	height:23px;
	width:120px;
}
.verifImgCont
{
	float:right;
	margin-right:5px;
}
#verif_bottom_hint
{
	clear:left;	
}
#benefits
{
	float:left;	
}
.benefitsHint
{
	font-size:12px;
	font-family:Verdana;
	float:left;
	width:350px;
	margin-left:5px;
	margin-bottom:10px;
}
.termsCont
{
	padding-left:70px;
}
.terms
{
	border-top:1px dotted #CCCCCC;
	padding-top:5px;
	padding-bottom:15px;
	font-size:12px;
	font-family:Verdana;	
	float:left;	
	width:100%;
}
.termsLink
{
	text-decoration:none;
	color:#1E90FF;
}
.problems
{
	float:left;
	margin-top:10px;
	text-decoration:none;
	font-size:14px;
	font-weight:bold;
	font-family:Arial;
	color:#1E90FF;
}
.submitCont
{
	float: right;
}
.submit
{
	width:240px;
	height:45px;
	border:none;
	background-color:transparent;
}
.infoIcon
{
	margin-right:5px;	
}
.refreshIcon
{
	height:28px;
	float:right;
	border:0;
}