@charset "iso-8859-1";
@import url(../../base/css/shoutbox.css);
	body
	{
		border:0px solid red;
		padding:0px;
		font-family:Verdana, Arial, Helvetica, sans-serif;
		font-size:11px;
		color:#333333;
		margin:0px;
		background-color:#FFFFFF;
		
	}
	
/*##############################################################*/
	
	input
	{
		margin-bottom:10px;
	}
	
	.shoutbg1
	{
		height:15px;
		line-height:15px;
		vertical-align:middle;
		/*width:150px;*/
		border:0px solid red;
	}
	.shoutbg2
	{
		height:15px;
		line-height:15px;
		vertical-align:middle;
		background-color:#F2F2F2;
		border:0px solid blue;
	}
	
	.shoutinp
	{
		width:135px;
	}
	

/*##############################################################*/