@charset "iso-8859-1";
@import url(../../base/css/tellfriend.css);
	body
	{
		margin:0px;
		padding:0px;
		background-color:#FFFFFF;
		font-size:11px;
		font-family:Arial, Helvetica, sans-serif;
		color:#fff;
		width:300px;
		height:300px;
	}
	
	form
	{
		margin:0px;
		padding:0px;
	}
	
	.main
	{
		position:relative;
		border:0px solid red;
		height:300px;
	}
	
	.bodyBlock
{
	position:relative;
	margin-bottom:6px;
	border:0px solid red;
	padding:0px;
	font-size:0px;
	overflow:hidden;
}


	.leftColumn
	{
		width:300px;
		height:300px;
		margin-right:5px;
		border:0px solid green;
		padding:0px;
		overflow:hidden;
		position:relative;		
		font-size:12px;
		background-color:#fff;
	}

	.boxFirstHeader
	{
		position:relative;
		
		background-image:url('../images/box2mid.gif');
	    background-repeat:repeat-x;
		height:31px;
		padding:8px 0px 0px 6px;
		font-size:12px;
		font-weight:bold;
		color:#00448d;
		font-family:Verdana;
		text-transform:uppercase;
	}

	.boxContent
	{
		position:relative;
		overflow:visible;
		
		font-size:12px;
		color:#000;
		border:0px solid blue;
		padding:10px 3px 5px 20px;
	}

	.clear_both
	{
		position:relative;
		clear:both;
		height:1px;
		margin:0px;
		padding:0px;
		font-size:1px;
		border:0px solid red;
	}

	.box_head_left
	{
		position:absolute;
		top:0px;
		left:0px;
	}

	.box_head_right
	{
		position:absolute;
		top:0px;
		right:0px;
	}


	div.invit_text
	{
		position:relative;
		text-align:left;
		line-height:18px;
		margin-bottom:5px;
	}
	div.invite_form
	{
		position:relative;
	}
	div.invite_form div
	{
		margin:4px 0px;
	}
	
	div.no_result, div.action
	{
		position:relative;
		border:1px solid #A0C238;
		padding:1px;
		margin:10px 0px;
		width:80%;
		margin-left:auto;
		margin-right:auto;
	}
	div.no_result div, div.action div
	{
		position:relative;
		background-color:#709812;
		vertical-align:middle;
		font-weight:bold;
		color:#fff;
		text-align:center;
		margin:0px;
		padding:0px;
		line-height:20px;
	}
	div.err
	{
		position:relative;
		border:1px solid #FF412D;
		padding:1px;
		margin:10px 0px;
		width:80%;
		margin-left:auto;
		margin-right:auto;
	}
	div.err div
	{
		position:relative;
		background-color:#FF412D;
		vertical-align:middle;
		font-weight:bold;
		color:#fff;
		text-align:center;
		line-height:20px;
	}
/* Do  not delete 
	div.action 
	{
		position:relative;
		border:1px solid #A0C238;
		padding:1px;
		margin:10px 0px;
		width:80%;
		margin-left:auto;
		margin-right:auto;
	}
	div.action div
	{
		position:relative;
		background-color:#709812;
		vertical-align:middle;
		font-weight:bold;
		color:#fff;
		text-align:center;
	}
*/
* html div.no_result div, * html div.action div, * html div.err div
	{
		line-height:normal;
		padding:3px 0px;
	}
/*##############################################################*/