div#col1

{

	width: 372px;

	position: relative;

	margin-right: 10px;

	overflow:hidden;

}

div#col2

{

	width: 372px;

	position: relative;

	overflow:hidden;

}



.userPic

{

	margin-left: 5px;

	margin-right: 5px;

	border: 0px solid red;

	position: relative;

	float: left;

}



div#videoInfo

{

	border: 0px solid #EDEDED;

	position: relative;

}

div#videoInfo div

{

	

}

div#videoInfo a

{

	font-weight: bold;

}



div#videoInfo input

{

	width: 250px;

}



div#fileTop

{

	padding: 0px;

}



div#fileTop div

{

	position: relative;

	margin-left: 10px;

	margin-right: 5px;

}



.fileUserInfo

{

}



.fileTitle

{

	margin: 10px;

	font-size: 14px;

	font-weight: bold;
	
	overflow: hidden;

}



div#serviceInfo

{

	

}

div#serviceInfo div

{

	margin: 10px;

}


/* comments */

div#comments
{
	position: relative;
}

div#commentArea
{
	text-align: center;
}

.commentMain
{
	position: relative;
	float: left;
}

.commentInfo
{
	font-weight: bold;
	position: relative;
}

div#commentNavigation
{
	margin: 5px 5px 5px 5px;
	border: 0px solid navy;
	text-align: center;
}

.commentNavUnit
{
	margin: 5px 5px 5px 5px;
	position: relative;
	float: left;
}

div#lastFiles
{
    margin: 10px 0px 10px 0px;
}



.lastFileUnit
{
    margin: 10px 0px 10px 0px;
    overflow: hidden;
}



#gvideobig b

{

	position: relative;

}



.lastFilesPic
{
	width: 110px;
	border: 1px solid #EDEDED;
	margin-right: 10px;
}



.lastFilesLink
{
	margin: 10px 10px 10px 10px;
}

.videoInfo, .videoInfoLatest
{
	width: 155px; 
	overflow: hidden;
}

.videoInfoLatest
{
	width: 220px;
}

.videoInfoItem
{
	display: block; 
	clear: right;
}

.videoInfoActions
{
	width: 70px; 
	height: 80px; 
	display: block; 
	float: right; 
	overflow: hidden;
}



/* browse Video */



.browseUnit

{

	border: 0px solid navy;

	position: relative;

	float: left;

	width: 350px;

	height: 100px;

	margin-top: 10px;
	
	margin-bottom: 10px;
	
	margin-right: 15px;
	
	display: block;
	
	overflow: hidden;
	
}

.browseUnit div

{

	position: relative;

}



/* UploadVideo */

div#uploadShareMain

{

	width: 300px;

	margin-left: auto;

	margin-right: auto;

}



#uploadShareMain div

{

	

}


/*
.uploadText
{
	position: relative;
	float: left;
	width: 100px;
}

.uploadForm
{
	width: 182px;
}
*/

.uploadForm
{
 	display: none; 
}

.uploadText
{
	text-align: right;
	vertical-align: top;
}

.uploadInput
{
	width: 300px;
	margin-left: 10px;
	margin-bottom: 5px;
}

textarea.uploadInput
{
	height: 100px;
}

#embedUrlErrorMsg
{
	display: block; 
	margin-left: 10px;
}


#agreement

{

	

}



#agreement div

{

	margin: 10px;

}



.lastFilesPic img
{
	width: 110px;
	height: 80px;
}