body
{
	font-family:Verdana,Arial;
	font-size:11px;
	color:#333333;
	padding:4px;
}

p
{
	margin:0 0 0 0;
	padding:0 0 0 0;
}

pre
{
	margin:10px 10px 10px 0;
	padding:5px;
	border:1px solid green;
	background-color:white;
	color:#009900;
	display:block;
}


.quote
{
	font-style:italic;
	border-left:1px solid #666666;	
	display:block;
	padding:2px;
	margin:0;
	margin-left:20px;
}

.quote_post
{
	font-style:italic;
	border:1px solid #666666;	
	display:block;
	padding:2px;
	margin:0;
	margin-left:20px;
}

.code
{
	margin:10px 10px 10px 0;
	padding:5px;
	border:1px solid green;
	background-color:white;
	color:#009900;
	display:block;
	margin:0;
}
