<div class="groups_result_row">
	<div class="clear_both"></div>
	<div class="group_res_thumb">
		__thumbnail__
	</div>
	<div class="group_res_info">
		<div class="group_res_info_p"><b>__group_name__</b></div>
		<div class="group_res_info_p">__group_about__</div>
		<div class="group_res_info_p"><b>Group type:</b> __group_type__ (__group_type_help__)</div>
		<div class="group_res_info_p"><b>Created:</b> __created__</div>
		<div class="group_res_info_p"><b>Members count:</b> __members_count__</div>
		<div class="group_res_info_p"><b>Location:</b> __country__, __city__</div>
		<div class="group_res_info_p">
			<b>Status:</b>
			<span style="font-weight:bold;color:__status_color__;">__status__</span>
			(__status_action__)
		</div>
	</div>
	<div class="clear_both"></div>
</div>
