<!-- <form action="__action_url__" method="post">
	<input type="hidden" name="relocate" value="__relocate_url__" />
	<div class="login_form_cont">
		<div class="login_form_header">__header_text__</div>
		<div class="login_form_warning">__warning_text__</div>
		<div class="login_form_row">
			<div class="clear_both"></div>
			<div class="login_form_label">__name_label__:</div>
			<div class="login_form_val">
				<input type="text" name="ID" class="login_form_input" />
			</div>
			<div class="clear_both"></div>
		</div>
		<div class="login_form_row">
			<div class="clear_both"></div>
			<div class="login_form_label">__password_label__:</div>
			<div class="login_form_val">
				<input type="password" name="Password" class="login_form_input" />
			</div>
			<div class="clear_both"></div>
		</div>
		<div class="login_form_row">
			<div class="clear_both"></div>
			<div class="login_form_label"></div>
			<div class="login_form_val">
				<input type="submit" value="Log in" class="login_form_submit" />
			</div>
			<div class="clear_both"></div>
		</div>
	</div>

</form>
-->

<div class="login">
	<div class="login_header">__header_text__</div>
	<div class="login_form">	
		<form action="__action_url__" method="post">
		<input type="hidden" name="relocate" value="__relocate_url__" />
			<div class="login_form_row">
				<div class="clear_both"></div>
				<div class="login_form_label">__name_label__:</div>
				<div class="login_form_val">
					<input type="text" name="ID" class="login_form_input"/>
				</div>
				<div class="clear_both"></div>
			</div>
			<div class="login_form_row">
				<div class="clear_both"></div>
				<div class="login_form_label">__password_label__:</div>
				<div class="login_form_val">
					<input type="password" name="Password" class="login_form_input" />
				</div>
				<div class="clear_both"></div>
			</div>
			<div class="login_form_row">
				<div class="clear_both"></div>
				<div class="login_form_label"></div>
				<div class="login_form_val">
					<input type="submit" value="Enter" class="login_form_submit" />
				</div>
				<div class="clear_both"></div>
			</div>
		</form>
	</div>
</div>