/* * * * Admin Categ Index * * * */

.admin_categ_item
{
	position:relative;
	/*padding-left:35px;*/
	margin-bottom:10px;
}

.admin_categ_item img
{
	position:absolute;
	top:0px;
	left:0px;
}

.admin_categ_item_link
{
	margin-left:35px;
	font-size:18px;
	font-weight:bold;
	margin-bottom:4px;
}

.admin_categ_item_desc
{
	margin-left:35px;
	width:425px;
	height:46px;
	font-size:13px;
	background-image:url(../images/sp_op.png);
}

* html .admin_categ_item_desc
{
	background-image:none;
	filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(src='images/sp_op.png', sizingMethod='scale');
}
