div#artBlock
{
	position:relative;
	border:0px solid red;
}
div.addLink
{
	position:relative;
	margin-bottom:10px;
	text-align:right;
	font-weight:bold;
}
div.addLink span, div.navigationLinks span
{
	margin:0px 5px;
}
div.categoryBlock1
{
	position:relative;
	padding:3px;
	margin-bottom:10px;
}
div.categoryBlock2
{
	position:relative;
	padding:3px;
	margin-bottom:10px;
	background-color:#E6E6E6;
}
div.categoryBlock
{
	position:relative;
	padding:3px;
	margin-bottom:10px;
}
div.categoryCaption
{
	position:relative;
	border:0px solid red;
	vertical-align:middle;
	padding-left:30px;
	padding-right:80px;
	font-size:16px;
	font-weight:bold;
	padding-bottom:5px;
	background-position:left top;
	background-repeat:no-repeat;
	background-image:url(../images/icons/artic_fldr.gif);
}
div.categoryCaption span, div.articleBlock1 div.title span, div.articleBlock2 div.title span
{
	position:absolute;
	top:2px;
	font-weight:normal;
	font-size:10px;
}

div.categoryEdit
{
	text-align:right;
}

div.categoryCaption a:link, div.categoryCaption a:visited
{
	color:#333399;
}
div.categoryDescription
{
	position:relative;
	border:0px solid green;
	padding-bottom:3px;
}
div.articlesFormBlock
{
	position:relative;
	border:0px solid red;
}
input.catCaption
{
	width:560px;
}
textarea.catDesc
{
	width:560px;
	height:130px;
}

div.categoryAction
{
	position:relative;
	border:1px solid green;
	margin-bottom:20px;
	font-weight:bold;
	text-align:center;
	color:green;
	padding:3px;
}

div.navigationLinks
{
	position:relative;
	margin-bottom:12px;
	padding-bottom:5px;
	border-bottom:1px dashed silver;
}
div.categoryHeader
{
	position:relative;
	padding:5px;
	margin-bottom:10px;
	
}
div.categoryHeader div.artCaption
{
	font-size:16px;
	font-weight:bold;
	padding-left:30px;
	padding-bottom:5px;
	background-position:left top;
	background-repeat:no-repeat;
	background-image:url(../images/icons/artic_fldr.gif);
}
div.articleBlock1, div.articleBlock2, div.articleBlock
{
	position:relative;
	margin:0px 5px 10px 5px;
	text-align:justify;
}
div.articleBlock1
{
	background-color:#E6E6E6;
}
div.articleBlock2
{
	background-color:#fff;
}
div.articleBlock1 div.title, div.articleBlock2 div.title
{
	font-size:16px;
	font-weight:bold;
	padding-left:25px;
	padding-bottom:5px;
	background-position:left top;
	background-repeat:no-repeat;
	background-image:url(../images/icons/artic_papr.gif);
}
div.articleBlock1 div.preview, div.articleBlock2 div.preview
{
	font-size:13px;
	text-align:justify;
}
div.articleBlock1 div.date, div.articleBlock2 div.date, div.articleBlock div.date
{
	font-size:11px;
	color:#666666;
	padding-bottom:3px;
}
div.articleBlock div.mainTitle
{
	font-size:16px;
	font-weight:bold;
	padding-bottom:5px;
}
textarea.articl
{
	width:560px;
	height:430px;
}
