div#lastFiles
{
    margin: 10px 0px 10px 0px;
}

.lastFileUnit
{
    margin: 10px 0px 10px 0px;
}

.lastFileUnit div
{
    margin: 0px 10px 0px 10px;
}

.lastFilesPic
{
	position: relative;
	float: left;
	border: 1px solid #EDEDED;
	margin-right: 10px;
	width: 110px;
	height: 110px;
}

.lastFilesPic img
{
}

.lastFilesImage
{
	position: relative;
	float: left;
	border: 1px solid #EDEDED;
	width: 110px;
	height: 110px;
	background-position: center;
	background-repeat: no-repeat;
}

.lastFilesLink
{
	margin: 10px 10px 10px 10px;
}

/* browse Video */

div#browseMain
{
	width: 580px;
	position: relative;
	margin: 5px;
}

.browseUnit
{
	border: 0px solid navy;
	position: relative;
	float: left;
	width: 260px;
	height: 115px;
	margin: 10px;
	padding-top: 5px;
}
.browseCheckbox
{
	position: relative;
	float: left;
}
.bottomPart
{
	text-align: center;
	font-weight: bold;
	margin-top: 10px;
}
.browseInfo
{
	position: relative;
	float: left;
	width: 110px; 
	overflow: hidden;
	margin-left: 5px;
}