@charset "iso-8859-1";

@import url(adm_categ_index.css);
@import url(login_form.css);


/* * * * Body * * * */

body
{
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	color: #000000;
	background-color: #FFFFFF;
	margin: 0px;
	padding: 0px;
}

div#FloatDesc
{
	position:absolute;
	display:none;
	z-index:100;
	background-color:#ffffe0;
	border:1px solid #000000;
	padding:3px;
	width:120px;
}

form, p
{
	margin:0px;
	padding:0px;
}

a,
a:link,
a:visited
{
	color:#333399;
	text-decoration:underline;
}

a:hover,
a:active
{
	color:#333399;
	text-decoration:none;
}

a img
{
	border:none;
}

.clear_both
{
	clear:both;
	font-size:1px;
}

.err
{
	color: #FF0000;
}


/* * * * MsgBox * * * */

.MsgBox
{
	margin:15px auto 15px auto;
}

.MsgBox td
{
	margin:0px;
	padding:0px;
}

.MsgBox .corner,
.MsgBox .corner img
{
	width:7px;
	height:7px;
	font-size:0px;
}

.MsgBox .left_side,
.MsgBox .right_side,
.MsgBox .top_side,
.MsgBox .bottom_side
{
	background-color:#F8F8F8;
	background-image:url(../images/msgbox_bd.gif );
	font-size:0px;
}

.MsgBox .left_side
{
	width:7px;
	background-position:left top;
	background-repeat:repeat-y;
}

.MsgBox .right_side
{
	width:7px;
	background-position:right top;
	background-repeat:repeat-y;
}

.MsgBox tr .top_side
{
	height:7px;
	background-position:left top;
	background-repeat:repeat-x;
}

.MsgBox .bottom_side
{
	height:7px;
	background-position:left bottom;
	background-repeat:repeat-x;
}

.MsgBox .msgbox_content
{
	background-color:#F8F8F8;
}

.MsgBox .msgbox_text
{
	text-align:center;
	color:#CCCCCC;
	font-weight:bold;
	font-size:24px;
	padding:10px;
	text-transform:uppercase;
}

/* * * *  * * * */



/* * * * Top Header * * * */

.top_header
{
	position:relative;
	height:77px;
	background-image:url(../images/top_head_bg.gif);
	margin-bottom:32px;
}

.top_logo
{
	position:absolute;
	top:10px;
	left:17px;
	width:55px;
	height:55px;
}

.top_head_title
{
	font-size:18px;
	text-transform:uppercase;
	position:absolute;
	top:28px;
	left:84px;
	color:#000000;
}

.top_header .head_blue
{
	color:#4646A0;
}


.top_head_title .title_bold
{
	font-weight:bold;
}

.boonex_link
{
	position:absolute;
	top:12px;
	right:15px;
	width:136px;
	height:57px;
}


/*
.top_head_logout
{
	position:absolute;
	top:53px;
	left:300px;
	font-weight:bold;
}

.top_head_buttons_cont
{
	position:absolute;
	top:0px;
	right:0px;
}

.top_head_button,
.top_head_button_active
{
	height:68px;
	padding-top:8px;
	width:110px;
	float:left;
	text-align:center;
}

* html .top_head_button_active
{
	padding-top:7px;
}

.top_head_button:hover,
.top_head_button_active
{
	background-image:url(../images/top_btn_bg.gif);
}

.top_head_button_img
{
	width:50px;
	height:50px;
}

.top_head_button_link
{
	margin-top:2px;
	font-size:11px;
	font-weight:bold;
	text-align:center;
}

.top_logo
{
	position:absolute;
	top:10px;
	left:40px;
	width:55px;
	height:55px;
}

.top_head_title
{
	font-size:25px;
	text-transform:uppercase;
	position:absolute;
	top:23px;
	left:110px;
	color:#999999;
}

.top_head_title .title_bold
{
	font-weight:bold;
	color:#000000;
}
*/

/* * * * Middle Part * * * */

.middle_wrapper
{
	padding-bottom:30px;
}

.main_cont
{
	float:left;
	position:relative;
	background-repeat:no-repeat;
	background-position:470px 0px;
	width:700px;
}

.page_header
{
	font-weight:bold;
	font-size:30px;
}

.page_cont
{
	margin-top:20px;
}

.admin_block
{
	margin-bottom:15px;
}

.block_head
{
	font-size:20px;
	font-weight:bold;
	margin-bottom:3px;
	text-align:left;
}

.block_cont
{
	border:1px solid #CCCCCC;
	padding:5px;
	position:relative;
	width:590px;
	background-image:url(../images/sp_op.png);
}

* html .block_cont
{
	background-image:none;
	filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(src='images/sp_op.png', sizingMethod='scale');
}

/* * * * Right Menu * * * */

.right_menu_wrapper
{
	width:232px;
	float:left;
	padding-right:20px;
	margin-right:14px;
	border-right:1px solid #CCCCCC;
}

.menu_wrapper
{
	padding-left:17px;
}

.menu_categ_wrapper
{
	margin-bottom:9px;
	position:relative;
	width:214px;
}

.menu_categ_active_header,
.menu_categ_hover_header,
.menu_categ_header
{
	position:relative;
	font-size:16px;
	font-weight:bold;
	color:black;
	
	width:170px;
	padding-left:44px;
	
	height:24px;
	padding-top:6px;
	
	z-index:5;
}

.menu_categ_active_header,
.menu_categ_header:hover
{
	background-image:url( ../images/categ_active_bg.gif );

}

.menu_categ_header
{
	background-image:url( ../images/categ_bg.gif );
}

.menu_categ_header a,
.menu_categ_header a:link,
.menu_categ_header a:hover,
.menu_categ_header a:active,
.menu_categ_header a:visited
{
	color:#003399;
	text-decoration:none;
}

img.categ_icon
{
	position:absolute;
	bottom:2px;
	left:7px;
	z-index:10;
}

.menu_categ_header img.categ_arr,
img.categ_arr
{
	position:absolute;
	top:2px;
	right:2px;
	z-index:5;
	cursor:pointer;
	width:
}

.menu_items_wrapper
{
	border:1px solid #ccc;
	border-top:none;
	position:relative;
	color:black;
	font-size:13px;
	top:-1px;
	z-index:1;
}

.menu_item_wrapper
{
	border-top:1px dashed #ccc;
	height:20px;
	padding-left:33px;
	padding-top:3px;
	position:relative;
}

.menu_item_wrapper a,
.menu_item_wrapper a:link,
.menu_item_wrapper a:hover,
.menu_item_wrapper a:active,
.menu_item_wrapper a:visited
{
	color:#003399;
	text-decoration:none;
}


img.menu_item_icon
{
	position:absolute;
	top:4px;
	left:8px;
	width:16px;
	height:16px;
	z-index:5;
}

/*
.right_menu_col
{
	float:left;
	padding-left:25px;
	width:120px;
}

.menu_categ_block
{
	margin-bottom:15px;
}

.menu_categ_block_active
{
	background-color:#EAEAEA;
}

.menu_categ_head,
.menu_categ_head_active
{
	font-weight:bold;
	font-size:18px;
	margin-bottom:2px;
	padding-top:2px;
	padding-bottom:2px;
	padding-left:5px;
}

.menu_categ_head_active
{
	background-color:#EAEAEA;
}

.admin_menu_link,
.admin_menu_link_active
{
	font-size:13px;
	font-weight:bold;
	margin-bottom:2px;
	padding-top:3px;
	padding-bottom:3px;
	padding-left:5px;
}

.admin_menu_link:hover,
.admin_menu_link_active
{
	background-color:#eaeaea;
}
*/

/* * * * Bottom Part * * * */

.bottom_cont
{
	height:53px;
	background-color:#6e6e6e;
	color:#ffffff;
	padding-left:25px;
	padding-top:20px;
	background-repeat:repeat-x;
	background-image:url(../images/bottom_bord.gif);
	font-size:14px;
	line-height:20px;
}

.bottom_cont a,
.bottom_cont a:link,
.bottom_cont a:visited,
.bottom_cont a:hover,
.bottom_cont a:active
{
	color:#FFFFFF;
}

.login
{
	width:548px;
	height:510px;
	margin:auto;
	background-image:url(../images/admin_page.jpg);
	background-repeat:no-repeat;
}

.login_form
{
	position:relative;
	top:330px;
	left:100px;
	width:400px;
}