.gs_menu_outer
{
	font-family: Verdana;
	border: 1px solid silver;
	height: 175px;
	margin-bottom: 5px;
	padding-left: 25px;
	padding-right: 35px;
}
.gs_menu_inner
{
	width: 486px;
	height: 140px;
	margin-left: auto;
	margin-right: auto;
	padding-top: 5px;
}
.gs_menu
{
	padding: 0;
	margin: 0px 0px 0px 20px;
	float: left;
}
.gs_menu ul
{
	padding: 0px;
	margin: 0px;
}
.gs_menu ul li
{
	margin: 0px;
	padding: 0px;
	line-height: 18px;
	list-style-image: url(../images/arrow.gif);
	list-style-type: square;
}
.gs_menu ul li.active
{
	list-style-image: url(../images/arrow2.gif);
}



.view_all
{
    float: right;
}
.succ
{
    color: green;
}
.table_odd
{
	background-color: #e0e0e0;
}

