.groups_result_row
{
	position:relative;
	border:1px solid #EEA;
	padding:3px;
	margin:3px 0;
}

.group_res_thumb
{
	position:relative;
	float:left;
}

.group_res_info
{
	position:relative;
	float:left;
	margin-left:7px;
	width:440px;
	border:0px solid green;
}



div.clear_both
{
	clear:both;
	font-size:1px
}

.group_thumb
{
	border:1px solid silver;
	padding:5px;
	background-color:#EEE;
	text-align:center;
}
