.admin_block#quickstat .block_cont
{
	background-color:#f5f5f5;
	filter:none;
	background-image:none;
}

.quick_stat_part
{
	margin-left:25px;
	margin-right:25px;
	margin-top:15px;
	/*padding-left:20px;*/
	border:0px solid red;
	position:relative;
	/*background-color:red;*/
}

.quick_stat_part_list
{
	position:absolute;
	top:0px;
	left:0px;
	width:48px;
	height:48px;
}

.quick_stat_part_head
{
	margin-left:40px;
	padding-left:20px;
	font-size:15px;
	font-weight:bold;
	border-bottom:1px solid #E6E6E6;
	margin-bottom:5px;
	color:#666666;
}
.quick_stat_part_body
{
	margin-left:60px;
	font-size:13px;
	line-height:20px;
}

.quick_stat_part_col
{
	width:160px;
	float:left;
}

.admin_block#version .block_cont,
.admin_block#news_feed .block_cont,
.admin_block#links .block_cont,
.admin_block#downloadz .block_cont
{
	border:none;
	background-image:none;
	filter:none;
	width:auto;
	padding:0px;
}

.admin_block#version .block_cont
{
	font-weight:bold;
	line-height:20px;
}

.admin_link
{
	font-size:13px;
	font-weight:bold;
	margin-bottom:6px;
}

/* * * * News * * * */

.news_block
{
	margin-bottom:7px;
}

.news_title
{
	font-size:13px;
	font-weight:bold;
}

.news_date
{
	color:#666666;
	font-size:11px;
}

.siteStatUnit
{
	position: relative;
	float: left;
	width: 150px;
}
	
.siteStatUnit img
{
	width: 16px;
	height: 16px;
}