div.link_block
{
	position:relative;
	border:0px solid red;
	margin:0px 5px 10px 5px;
}
div.link_block div
{
	position:relative;
	border:0px dashed green;
	margin-bottom:3px;
}
div.link_title
{
	font-size:16px;
	position:relative;
	text-align:left;
	font-weight:bold;
	padding-left:30px;
	padding-bottom:3px;
	background-repeat:no-repeat;
	background-position:left top;
	background-image:url(../images/icons/links.gif);
}
div.linkAdd
{
	position:relative;
	margin-bottom:10px;
	text-align:right;
	font-weight:bold;
}
input.link_text_input
{
	width:220px;
}
textarea.link_textarea
{
	width:320px;
	height:110px;
}