
div.sectionHeader
{
	text-align: left;
	padding: 6px 6px 0px 8px;
	background: url(../images/head_block_green.gif) no-repeat 0px 6px;
	font: bold 10px Verdana;
	color: #FFFFFF;
	height: 21px;
	line-height: 16px;
}

div.sectionBody
{
	text-align: left;
	border-left: 2px solid #2AA181;
	border-right: 2px solid #2AA181;
	width: 598px;
	padding: 0;
	height: auto;
}

table.membershipList
{
	width: 95%;
	border: 0px;
}

table.membershipList td
{
	background: #ffffff;
	padding-bottom: 2px;
	padding-top: 2px;
	height: 20px;
}

table.membershipList td.name
{
	padding-left: 5px;
	text-align: left;
}

table.membershipList td.name a
{
	font: normal 12px Verdana;
	color: green;
}

table.membershipList td.actions
{
	width: 10%;
}

table.membershipList td.actions a
{
	font: normal 10px Verdana;
	color: #881111;
}

table.membershipList td.pricing
{
	width: 10%;
}

table.membershipList td.pricing a
{
	font: normal 10px Verdana;
	color: #445500;
}

table.membershipList td.activate
{
	width: 60px;
	text-align: center;
}

table.membershipList td.activate a
{
	font: normal 10px Verdana;
	color: #aaa;
}

table.membershipList td.deactivate
{
	width: 60px;
	text-align: center;
}

table.membershipList td.deactivate a
{
	font: normal 10px Verdana;
	color: blue;
}

table.membershipList td.delete
{
	width: 10%;
}

table.membershipList td.delete a
{
	font: normal 10px Verdana;
	color: red;
}

table.membershipList tr.headerRow td
{
	text-align: center;
	color: black;
	font-weight: bold;
}

table.membershipList tr.activeRow td
{
	background: #ffbb99;
	padding-bottom: 2px;
	padding-top: 2px;
}

table.priceList
{
	width: 95%;
}

table.priceList td
{
	background: #ffffff;
	height: 20px;
	padding-bottom: 2px;
	padding-top: 2px;
	text-align: center;
	vertical-align: bottom;
}

table.priceList tr.headerRow td
{
	text-align: center;
	color: black;
	font-weight: bold;
}

table.actionForm
{
	width: 100%;
}

table.actionForm tr
{
	height: 30px;
}

table.actionForm td.period
{
	text-align: left;
	padding-left: 5px;
	width: 140px;
}

table.actionForm td.dateStart
{
	text-align: left;
	padding-left: 5px;
	width: 70px;
}

table.actionForm td.dateStart input
{
	width: 150px;
}

table.actionForm td.dateEnd
{
	text-align: left;
	padding-left: 5px;
	width: 70px;
}

table.actionForm td.allowedCnt
{
	text-align: left;
	padding-left: 5px;
	width: 70px;
}

table.actionForm td.additionalParam
{
	text-align: left;
	padding-left: 5px;
	width: 70px;
}

table.actionForm td.name
{
	text-align: left;
	padding-left: 5px;
	width: 70px;
}

table.actionForm td.caption
{
	text-align: left;
	width: 250px;
}


table.actionForm td input
{
	width: 50px;
}

table td.spacer
{
	height: 1px;
	background: #ccc;
	padding: 0px;
}

div.actionSuccess
{
	color: green;
}

div.actionFailure
{
	color: red;
}

div.actionRow
{
	padding: 5px;
	border: 1px solid #ccccde;
	margin-bottom: 5px;
	background: #f5f5f5;
	display: none;
}

div.actionRowHeader
{
	background: #ccccde;
	height: 20px;
	padding-top: 2px;
	padding-bottom: 2px;
	padding-left: 5px;
	padding-right: 9px;
	margin-top: 5px;
}