@charset "iso-8859-1";

@import url(../../base/css/general.css);
@import url(login_section.css);

	body
	{
		margin:0px;
		padding:0px;
		background-image:url('../images/body_backgr.gif');
	    background-repeat:repeat;
		
		font-family:Arial;
		font-size:12px;
		color:#000000;
	}
	
	td
	{
		text-align:left;
	}
	
	a img, form 
	{
		border:none;
		margin:0px;
		padding:0px;
	}	
	
	select,
	select.no,
	input,
	input.no,
	textarea,
	textarea.no
	{
		font-size:12px;
		font-family:Arial;
	}
	
	/* * * * MsgBox * * * */
	
	.MsgBox
	{
		margin:15px auto 15px auto;
	}
	
	.MsgBox td
	{
		margin:0px;
		padding:0px;
	}
	
	.MsgBox .corner,
	.MsgBox .corner img
	{
		width:7px;
		height:7px;
		font-size:0px;
	}
	
	.MsgBox .left_side,
	.MsgBox .right_side,
	.MsgBox .top_side,
	.MsgBox .bottom_side
	{
		background-color:#F8F8F8;
		background-image:url(../images/msgbox_bd.gif );
		font-size:0px;
	}
	
	.MsgBox .left_side
	{
		width:7px;
		background-position:left top;
		background-repeat:repeat-y;
	}
	
	.MsgBox .right_side
	{
		width:7px;
		background-position:right top;
		background-repeat:repeat-y;
	}
	
	.MsgBox tr .top_side
	{
		height:7px;
		background-position:left top;
		background-repeat:repeat-x;
	}
	
	.MsgBox .bottom_side
	{
		height:7px;
		background-position:left bottom;
		background-repeat:repeat-x;
	}

	.MsgBox .msgbox_content
	{
		background-color:#F8F8F8;
	}
	
	.MsgBox .msgbox_text
	{
		text-align:center;
		color:#CCCCCC;
		font-weight:bold;
		font-size:24px;
		padding:10px;
		text-transform:uppercase;
	}
	
	/* * * *  * * * */
	
	
	.main
	{
		position:relative;
		width:754px;
		border:1px solid #999;
		background-color:#fff;
		
		margin-bottom:5px;
		margin-top:4px;
		margin-left:auto;
		margin-right:auto;
		padding:8px 10px;
	}
	
	.topestMenuWrapper
	{
		position:relative;
		height:21px;
	}
	
	.topestMenu
	{
		position:absolute;
		top:-8px;
		left:-10px;
		width:774px;
		height:17px;
		padding-top:3px;
		border-bottom:1px solid #999999;
		background-image:url(../images/top_tab_cutting.gif);
		font-size:11px;
		text-align:center;
	}
	
	.topestMenu a
	{
		margin-left:5px;
	}
	
	.topBlock
	{
		position:relative;
		height:73px;
		border:0px dashed blue;
		margin-bottom:0px;
	}
	
	img.mainLogo
	{
		position:absolute;
		top:0px;
		left:0px;
	}

	.topBigText
	{
		position:absolute;
		top:7px;
		left:70px;
	}
	
	.topBigText .title
	{
		font-size:36px;
		line-height:36px;
	}
	
	.topBigText .title a,
	.topBigText .title a:link,
	.topBigText .title a:visited,
	.topBigText .title a:active,
	.topBigText .title a:hover
	{
		font-weight:bold;
		color:#666666;
		text-decoration:none;
	}
	
	.topBigText .powered
	{
		font-size:8px;
		font-weight:bold;
		text-transform:uppercase;
		color:#666666;
		margin-left:3px;
	}
	
	.topMenuWrapper
	{
		position:relative;
		height:24px;
		z-index:100;
	}
	
	.topMenu
	{
		position:absolute;
		top:0px;
		left:-11px;
		width:775px;
	}
	
	table.topMenuCont
	{
		width:100%;
		/*background-color:#999999;*/
		/*border-collapse:collapse;*/
	}
	
	
	table.topMenuCont td
	{
		padding:0px;
		margin:0px;
	}
	
	.topMenuItem,
	.topMenuItemActive
	{
		border-top:1px solid #dddddd;
		border-left:1px solid #aaaaaa;
		border-bottom:1px solid #999999;		
	}
	
	td.topMenuItemHover
	{
		border-top:1px solid #bbbbbb;
		border-left:1px solid #bbbbbb;
		border-bottom:1px solid #eeeeee;
	}
	
	
	.topMenuItem .topMenuItemCont
	{
		background-image:url(../images/tab_cutting.gif);
		border-left:1px solid #ffffff;
		border-right:1px solid #ffffff;
	}
	
	.topMenuItemActive .topMenuItemCont
	{
		background-image:url(../images/tab_cutting_h.gif);
		border-left:1px solid #e2e2e2;
		border-right:1px solid #e2e2e2;
		color:#336699;
	}
	
	.topMenuItemHover .topMenuItemCont
	{
		background-image:url(../images/tab_cutting_h.gif);
		border-left:1px solid #ffffff;
		border-right:1px solid #ffffff;
	}
	
	.topMenuItemCont
	{
		text-align:center;
		background-color:#ffffff;
		height:19px;
		padding-top:3px;
		padding-left:3px;
		padding-right:3px;
		font-weight:bold;
		text-transform:capitalize;
		white-space:nowrap;
	}
	
	.topPageHeader
	{
		font-weight:bold;
		font-size:24px;
		color:#666666;
		text-transform:capitalize;
		height:30px;
		margin-bottom:2px;
	}
	
	.topCustomMenu
	{
		margin-bottom:5px;
		font-size:12px;
		font-weight:bold;
		text-transform:capitalize;
		color:#cccccc;
		height:15px;
		position:relative;
	}
	
	.topCustomMenu a,
	.topCustomMenu span
	{
		margin-right:9px;
	}
	
	.hiddenMenu
	{
		position:absolute;
		top:24px;
		left:-10px;
		z-index:101;
	}
	
	.hiddenMenuBgCont
	{
		width:774px;
		height:57px;
		padding-top:8px;
		background-image:url( ../images/h_menu_bg.png );
		background-repeat:repeat-x;
		position:static;
	}
	
	* html .hiddenMenuBgCont
	{
		background-image:none;
		filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(src='templates/tmpl_uni/images/h_menu_bg.png', sizingMethod='scale');
	}
	
	.hiddenMenuCont
	{
		margin-left:14px;
		position:relative;
	}

	a.customMenuItem
	{
		position:relative;
	}
	
	.Notice
	{
		padding:3px;
		width:70%;
		border:1px solid #cc6;
		background-color:#ffc;
		margin:5px auto;
		text-align:center;
		color:black;
	}
	
	.bodyBlock
	{
		margin-top:75px;
		margin-bottom:13px;
		z-index:50;
	}
	
	.leftNavDiv
	{
		position:relative;
		width:182px;
		float:left;
		margin-right:8px;
	}
	
	.rightNavDiv
	{
		position:relative;
		width:749px;
		/*float:left;*/
		padding:0px;
		overflow:hidden;
	}
	
	/* * * * * * */

	
	.bottomBlock
	{
		position:relative;
		height:60px;
		border:1px solid #D0D0D0;
	}
	
	.bottomImages
	{
		margin-top:7px;
		margin-left:7px;
		float:left;
		position:relative;
	}
	
	.bottomTexts
	{
		font-size:11px;
		margin-top:8px;
		margin-left:15px;
		float:left;
	}
	
	.bottomTexts div
	{
		margin-bottom:1px;
	}
	
	.bottomLinks a
	{
		margin-right:2px;
	}
	
	.loginDiv
	{
		position:relative;
		height:201px;
		border:1px solid #ccc;
		margin-bottom:13px;
	}
	* html .loginDiv
	{
		margin-bottom:14px;
	}
	
	
	.shoutboxDiv
	{
		position:relative;
		border:1px solid #ccc;
		margin-bottom:13px;
		height:241px;
	}
	
	* html .shoutboxDiv
	{
		height:242px;
	}
	
	.pollsDiv
	{
		position:relative;
		border:0px solid green;
	}
	
	.boxHeader
	{
		position:relative;
		background-image:url('../images/head_cutting.gif');
	    background-repeat:repeat-x;
		
		height:22px;
		padding:4px 0px 0px 6px;
		font-size:10px;
		font-weight:bold;
		color:#666;
		text-align:left;
		text-transform:uppercase;
	}
	
/**************************************************************/
	
	.menu_item_link
	{
		text-decoration:none;
	}
	
/**************************************************************/	
	
	div.menu_item_line
	{
		position:relative;
		padding:0px 0px 0px 25px;
		margin:0px 0px 1px 0px;
		height:20px;
		line-height:20px;
		vertical-align:middle;
		font-weight:bold;
		text-transform:capitalize;
	}
	div.menu_item_line_active
	{
		position:relative;

		height:20px;
		line-height:20px;
		vertical-align:middle;
		font-weight:bold;
		text-transform:capitalize;

		padding:0px 0px 0px 25px;
		margin:0px 0px 1px 0px;
		background-image:url(../images/bullet.gif);
		background-repeat:no-repeat;
		background-position:left center;
	}
	
/**************************************************************/	

	.disignBoxFirst
	{
		position:relative;
		border:1px solid #CCC;
		margin-bottom:10px;
		background-image:url('../images/head_cutting.gif');
		background-repeat:repeat-x;
		background-color:#fff;
	}
	
	.boxFirstHeader
	{
		position:relative;
		
		height:17px;
		padding:3px 0px 0px 8px;
		font-size:12px;
		font-weight:bold;
		color:#666;
		text-align:left;
		text-transform:uppercase;
		border-bottom: 1px solid #CCC;
	}
	
	.boxContent
	{
		position:relative;
		overflow:hidden;
		font-size:13px;
		color:#000000;
		padding:10px;
	}
	
	.disignBoxFirst .boxFirstHeader .dbTopMenu,
	.disignBoxFirst .boxFirstHeader .caption_item
	{
		position: absolute;
		top: 0px;
		right: 0px;
		white-space:nowrap;
		color: #000;
		font-size: 11px;
		text-transform: capitalize;
		font-weight: bold;
	}
	
	.disignBoxFirst .boxFirstHeader .caption_item
	{
		padding-top:3px;
		padding-right:5px;
	}
	
	.dbTopMenu div
	{
		float: left;
		padding-left: 5px;
		padding-right: 5px;
		border-left: 1px solid #ccc;
		height:17px;
		padding-top:3px;
		position:relative;
	}
	
	.dbTopMenu div a,
	.dbTopMenu div a:link,
	.dbTopMenu div a:hover,
	.dbTopMenu div a:active,
	.dbTopMenu div a:visited,
	.caption_item a,
	.caption_item a:link,
	.caption_item a:hover,
	.caption_item a:active,
	.caption_item a:visited	
	{
		text-decoration: none;
		color: #0000CC;
	}
	
	.caption_item a
	{
		margin-left:4px;
	}
	
	.dbTopMenu div.active
	{
		border-bottom: 1px solid #F7F7F7;
	}
	
	.dbBottomMenu
	{
		position:relative;
	}
	
/**************************************************************/
	div.design_box_border
	{
		position:relative;
		border:1px solid #ccc;
		margin:10px;
		padding:1px;
	}
	div.design_box_border div.header
	{
		position:relative;
		padding:0px 0px 0px 7px;
		height:30px;
		line-height:23px;
		vertical-align:middle;
		font-size:12px;
		font-weight:bold;
		text-transform:uppercase;
		
		background-image:url('../images/design_border_cutting.gif');
	    background-repeat:repeat-x;
		
	}
	div.design_box_border div.keeper
	{
		position:relative;
		padding:5px;
		border:0px solid red;
		text-align:center;
		margin:2px;
	}
	
		
/**************************************************************/	
	.emptyBox
	{
		position:relative;
		border:1px solid #ccc;
		margin:0px;
		padding:3px;
	}
	

/**************************************************************/	
	/*####################################################################*/

	.languageBlock
	{
		position:relative;
		border:0px solid red;
		float:right;
		margin-top:0px;
	}
	
	.skinBlock
	{
		position:relative;
		border:0px solid red;
		float:right;
		margin-top:24px;
		margin-right:-90px;
	}
	
/*####################################################################*/

	.topBannerBlock
	{
		position:relative;
		width:770px;
		/*height:40px;*/
		margin-top:5px;
		border:1px solid red;
		margin-left:auto;
		margin-right:auto;
		
	}
	
	.bannerBlock
	{
		position:relative;
		width:770px;
		margin:0px auto;
		border:0px solid red;
	}
	
	.leftBanner
	{
		position:absolute;
		top:0px;
		left:-150px;
		border:0px solid red;
	}
	
	.rightBanner
	{
		position:absolute;
		top:0px;
		right:-150px;
		border:0px solid red;
	}
	
	.bottomBannerBlock
	{
		position:relative;
		width:770px;
		margin-top:0px;
		border:0px solid red;
		margin:auto;
	}
	
	.bannerInnerBlock
	{
		position:relative;
		margin-left:auto;
		margin-right:auto;
		border:0px solid blue;
		width:470px;
	}
/*####################################################################*/
	div.playerAdminLink
	{
		position:relative;
  		text-align:left;
 		margin-bottom:15px;
 	}
	
	
	
	.action
	{
		margin-top:20px;
	}
/**************************************************************/	
/**************************************************************/	
/* #################################################################### */
	.logInRegistrationText
	{	
		margin:5px;
	}
	
	/**************************************************************/	
	div.pollBlock
	{
		position:relative;
		overflow:hidden;
		height:154px;
		width:260px;
		border:0px solid #96B2C9;
		text-align:left;
		float:left;
		margin-bottom:10px;
	}
	div.pollBody
	{
		border:1px dashed #CCC;
		margin:5px;
	}
	div.pollCaption
	{
		position:relative;
		margin:3px;
		padding:0px;
		overflow:hidden;
		height:15px;
		line-height:15px;
		vertical-align:middle;
		font-weight:bold;
		/*background-color:#96B2C9;
		color:#fff;*/
	}
	div.pollAnswerBlock
	{
		position:relative;
		margin:2px;
		overflow:hidden;
		height:100px;
		border:0px solid #96B2C9;
		text-align:left;
	}
	div.pollUp
	{
		position:absolute;
		left:2px;
		top:2px;
	}
	div.pollDown
	{
		position:absolute;
		left:2px;
		bottom:2px;
	}
	div.pollQuestionBlock
	{
		position:absolute;
		width:190px;
		padding:2px;
		overflow:hidden;
		margin-left:18px;
	}
	div.pollSubmitBlock
	{
		position:relative;
		margin:2px;
		overflow:hidden;
		height:30px;
		border:solid 0px #0000cc;
		text-align:center;
	}
	
	
	
	.small
	{
		font-size:11px;
		color:#333366;
	}
	
	.text2
	{
		border:1px solid #fff;
	}
	
	.pollContainer
	{
		position:relative;
		margin-top:2px;
		padding:10px;
		background-color:transparent;
		border:0px solid red;
	}
	
	.createPollSection
	{
		position:relative;
		padding:10px;
		background-color:transparent;
		border:0px solid red;
	}
	
	.controlsDiv
	{
		position:relative;
		clear:both;
		margin:10px;
		background-color:#ffffff;
	}
	
	.innerControlBlock
	{
		position:relative;
		float:none;
		width:auto;
	}
	
	.controlsHeader
	{
		padding: 0px 2px;
		font-weight:bold;
	}
	
	.deleteDiv
	{
		padding: 2px 0px 0px 2px;
		
	}
	
	/*.rightNavDiv .boxContent table textarea
	{
		width:300px;
	}*/
	
/*####################################################################*/

	.customMenuItemActive
	{
		color:black;
	}
	
	div.menuLine,
	div.menuLine:hover,
	div.menuLineActive
	{
		font-size:13px;
		margin-bottom:5px;
		text-transform:capitalize;
		color:black;
	}
	
	.menuLineDivider
	{
		
	}
	
	div.menuLinkBlock
	{
		padding-left:20px;
		background-repeat:no-repeat;
		background-image:url(../images/menu_pt.gif);
	}
	
	div.menuLine div.menuLinkBlock:hover
	{
		background-image:url(../images/menu_pt_h.gif);
	}
	
	.topMemberBlock
	{
		position:absolute;
		right:5px;
		top:10px;
		height:50px;
		text-align:right;
		padding:3px;
		width:400px;
		font-size:11px;
	}
	
	.topMemberBlock .thumbnail_block, .HelloMemberBlock .thumbnail_block
	{
		margin-left:5px;		
	}
	
	.hello_member
	{
		padding:7px 12px 0px;
		font-size:14px;
	}
	
	.hello_actions
	{
		text-transform:capitalize;
		font-size:11px;
	}
	
	.hello_actions span
	{
		margin-left:5px;
	}
	
	.no_hello_actions
	{
		font-size:18px;
		font-weight:bold;
		padding-right:10px;
		padding-top:9px;
	}
	
	.no_hello_actions a
	{
		margin-left:15px;
	}
	
	/* * * * Tags * * * */
	
	.tags_wrapper
	{
		text-align:center;
		border:0px solid green;
		margin:0px 18px 30px auto;
	}
	
	.one_tag
	{
		margin:0px 1px;
		line-height:30px;
		border:0px solid green;
	}
	
	div.rate_text
	{
		text-align:center;
		font-weight:bold;
	}
	
	
	
	
	/* * * * STANDART * * * */
	
	.newsWrap,
	.categoryBlock1,
	.categoryHeader,
	.articleBlock,
	.articleBlock1,
	.articleBlock2
	{
		margin: 0px 0px 10px;
	}
	
	.categoryBlock1,
	.categoryHeader,
	.articleBlock,
	.articleBlock1,
	.articleBlock2
	{
		margin-left:12px;
		margin-right:12px;
		text-align:justify;
	}
	
	.newsHead,
	.categoryCaption,
	.artCaption,
	.articleBlock1 .title,
	.articleBlock2 .title
	{
		font-size:16px;
		font-weight:bold;
		padding-left:30px;
		padding-bottom:10px;
		background-position:left top;
		background-repeat:no-repeat;
	}

	.newsHead
	{
		background-image:url(../images/icons/news.gif);
		text-align:left;
	}
	
	.newsInfo
	{
		font-size:11px;
		color:#666666;
	}
	
	.newsText
	{
		
	}
		
	.articleBlock1 .title,
	.articleBlock2 .title
	{
		margin-bottom:5px;
		background-image:url(../images/icons/artic_papr.gif);
	}
	
	.categoryCaption,
	.artCaption
	{
		background-image:url(../images/icons/artic_fldr.gif);
	}
	
	.articleBlock .date,
	.articleBlock1 .date,
	.articleBlock2 .date
	{
		font-size:11px;
		color:#666666;
	}

	.guestbookTextArea
	{
		width: 530px;
		height:250px;
	}

	/* Blog Design Box */
	.blogBlock
	{
		margin-bottom:10px;
		margin-top:10px;
	}

	.blog_wrapper
	{
		margin-bottom:10px;
		margin-top:10px;
	}

	.blog_subject
	{
		font-size:16px;
		font-weight:bold;
		padding-left:35px;
		padding-bottom:10px;
		background-repeat:no-repeat;
		background-position:left top;
		background-image:url(../images/icons/artic_papr.gif);
	}

	.blog_author
	{
		font-size:11px;
		font-style:normal;
		color:#666666;
		padding-top:2px;
		padding-bottom:2px;
	}

	.blog_text
	{
		font-size:13px;
		text-align:justify;
	}

	.blogs_pages
	{
		margin:4px;
		text-align:center;
		font-weight:bold;
		font-size:12px;
	}

	.menuLinkBlock 
	{
		font-weight:bold;
		font-size:18px;
		text-decoration:underline;
		color:#333366;
	}
	
	.online_offline_bulb
	{
		position:absolute;
		z-index:10;
		right:0px;
		top:0px;
	}
	
	/* * * * RSS Feed * * * */
	
	.rss_item_wrapper
	{
		padding-bottom:15px;
	}
	
	.rss_item_header
	{
		font-size:16px;
		font-weight:bold;
	}
	
	.rss_item_info
	{
		color:#666;
		font-size:11px;
	}
	
	.rss_read_more
	{
		text-align:right;
		font-weight:bold;
	}
	
	div.thumbnail_block
	{
		position:relative;
		text-align:center;
		padding:0px;
		margin-right:auto;
		background-color:#FFFFFF;
	}
	div.thumbnail_block img
	{
		border:1px solid #9B9A9A;
		background-position:center;
		background-repeat:no-repeat;
	}
	div.thumbnail_block .online_offline_bulb
	{
		border:0px;
	}
