div.galleryObjectsContainer
{
	padding: 1px;
	margin: 0px;
}

div.galleryObjectBlock
{
	width: 160px;
	position: relative;
	float: left;
	margin: 10px 12px;
	padding: 2px;
	border: 1px solid silver;
}

div.galleryObjectInfo
{
	padding: 2px;
	text-align: center;
}

div.galleryObjectIcon
{
	padding: 5px;
	height: 120px;
	cursor: pointer;
}

div.clearBoth
{
	position: relative;
	clear: both;
	width: 0px;
	height: 0px;
	margin: 0px;
	padding: 0px;
	font-size: 0px;
}

div.galleryControls
{
	margin: 6px;
	padding: 2px;
	width: 400px;
	margin-left: auto;
	margin-right: auto;
}
