.mainBlock
{
	position: relative;
	float: left;
	border: 0px solid navy;
	margin: 5px;
	width: 278px;
}

.mainBlock img
{
	border: 1px solid #EDEDED;
}

.checkBox
{
	position: relative;
	float: left;
}

.picture
{
	position: relative;
	float: left;
	margin-left: 4px;
	margin-right: 10px;
}

.thumbBlock
{
	background-position: center;
	background-repeat: no-repeat;
	border: 1px solid  #EDEDED;
	margin-left: 10px;
	margin-right: 10px;
	position: relative;
	float: left;
}

.fileInfo
{
	margin: 0px 10px 10px 10px;
	width: 112px;
	position: relative;
	float: left;
	overflow: hidden;
}

.fileInfo div
{
	margin-bottom: 5px;
}

.photoInfo
{
	margin: 10px;
}
.photoInfo div
{
	margin-top: 5px;
	margin-bottom: 5px;
}