div.pollBlock
{
	position:relative;
	overflow:hidden;
	top:0px;
	left:0px;
	height:154px;
	width:260px;
	border:1px solid #979797;
}
div.pollCaption
{
	position:relative;
	margin:2px;
	padding:0px 5px;
	overflow:hidden;
	height:20px;
	line-height:20px;
	vertical-align:middle;

	font-weight:bold;
	border:solid 0px #00cc00;

	background-image:url(../images/box_border_header_bg.gif);
	background-repeat:repeat-x;
	background-position:center;

}
div.pollAnswerBlock
{
	position:relative;
	margin:2px;
	overflow:hidden;
	height:100px;
	border:solid 0px #cc0000;
}
div.pollUp
{
	position:absolute;
	right:5px;
	top:5px;
}
div.pollDown
{
	position:absolute;
	right:5px;
	bottom:5px;
}
div.pollQuestionBlock
{
	position:absolute;
	width:230px;
	padding:2px;
	overflow:hidden;
	border:solid 0px green;
}
div.pollSubmitBlock
{
	position:relative;
	margin:2px;
	overflow:hidden;
	height:20px;
	border:solid 0px #0000cc;
	text-align:center;
}
