table.profile_fields
{
	border: 1px solid silver;
	border-collapse: collapse;
	font-size: 11px;
}
table.profile_fields td
{
	padding: 3px;
}
table.profile_fields tr.section
{
	font-weight: bold;
	background-color: #c1d3fb;
}
table.profile_fields tr.odd_row
{
	background-color: #e0e0e0;
}
table.profile_fields tr.modified_row
{
	background-color: #ff6666;
}
