/*.prof_stat_Unconfirmed { background-color: #CC6699; }
.prof_stat_Approval { background-color: #66CC66; }
.prof_stat_Active { background-color: #9999FF; }
.prof_stat_Rejected { background-color: #EA7A37; }
.prof_stat_Suspended { background-color: #999999; }*/

.prof_stat_Unconfirmed { background-color: #66CC66; }
.prof_stat_Approval { background-color: #66CC66; }
.prof_stat_Active { background-color: #9999FF; }
.prof_stat_Rejected { background-color: #66CC66; }
.prof_stat_Suspended { background-color: #66CC66; }

.activeMedia
{
 	position: relative;
 	float:left;
 	padding: 0px 3px; 
 	margin:0px 1px 0px 1px;
 	background-color: #66CC66;
 }
.passiveMedia
{
 	position: relative;
 	float:left;
 	padding: 0px 3px; 
 	margin:0px 1px 0px 1px;
 	background-color: #FF6666;
 }
  