
/******** common styles ********/

body
{

}

h2
{
	font-size:16px;
}

h1
{
	margin-top:14px;
	font-size:30px;
	letter-spacing:-1pt;	
}


fieldset
{
	padding: 10px;
	border:1px solid #333333;
}

input.sh, textarea
{
	border:1px solid #999999;
	background-color:#FCFCFC;
	background-image:url(../img/input_bg.gif);
	width:150px;
}

.err
{
	margin-left:5px;
	background-color:red;
	color:white;	
	padding:2px;
	font-size:11px;
	display:none;
}

.err a
{
	font-weight:bold;
	color:white;
	text-decoration:underline;
}

.clear
{
    width:0px;
    height:0px;
    clear:both;
    float:none;
}

/******** button ********/

.btn
{
	position:relative;
	background-image:url(../img/button_bg.gif);
	background-position:0 0;
	background-color:white;
	height:25px;
	width:100px;
	overflow:hidden;
	border:none;
	font-size:11px;
	font-weight:normal;
	color:#000000;
	text-align:center;
	overflow:hidden;
	margin-left:5px;
	float:right; 
}

.btn b
{
	line-height:25px;	
	z-index:1;
	font-weight:normal;
	margin-left:16px;
}

.btn img
{
	position:absolute;
	top:4px; left:8px;
	width:16px;
	height:16px;
	border:none;
	z-index:1;	
}

.btn a img
{
	position:absolute;
	top:0; left:0;
	width:100px;
	height:25px;
	border:none;
	z-index:2;	
}

/******** icon ********/

.icn
{
	position:relative;
	background-image:url(../img/icon_bg.gif);
	background-position:0 0;
	background-color:white;
	height:24px;
	width:24px;
	overflow:hidden;
	border:none;
	font-size:11px;
	font-weight:normal;
	color:#000000;
	text-align:center;
	overflow:hidden;
	margin-right:5px;
	float:left; 
}

.icn img
{
	position:absolute;
	top:4px; left:4px;
	width:16px;
	height:16px;
	border:none;
	z-index:1;	
}

.icn a img
{
	position:absolute;
	top:0; left:0;
	width:24px;
	height:24px;
	border:none;
	z-index:2;	
}

/******** layout ********/

#content
{
	position:relative;
	margin-right:auto;
	margin-left:auto;
	width:769px;	
    background-color:#FFFFFF;    
}

#main
{
	position:relative;
	padding-bottom:5px;
}

/******** footer ********/

#bottom
{
	text-align:center;
	height:30px;
}

/******** titles and navigation before content ********/

#f_header
{
	position:relative;
	margin-top:5px;
	height:25px;
	overflow:visible;
}
#f_header h2
{
	padding:0;
	margin:0;
	margin-left:5px;
	font-size:18px;
	line-height:25px;
}
#f_header span
{
	padding:0;
	margin:0;
	margin-left:5px;
	font-size:11px;
	color:#999999;
}

#f_desc, #f_desc_no
{
    margin-left:5px;
    margin-right:5px;   
    padding-bottom:8px;
    border-bottom:1px dotted #D1D1D1; 
}

#f_desc_no
{
    height:1px;
}

.f_buttons
{
	position:relative;
    height:32px;
    padding:0;
    margin:0;
    margin-left:5px;
    margin-right:7px;
    margin-top:4px;    
}

.f_buttons_icn
{
	position:absolute;
    top:0;
    left:0;
}

/******** breadcrumbs ********/

#f_breadcrumb
{
	position:relative;
	width:759px; 
	padding:5px;
	padding-top:2px;
	font-size:11px;
	border-bottom:1px dotted #D1D1D1; 
}

#f_breadcrumb img
{
	margin-left:3px;
	margin-right:3px;
}

#f_breadcrumb span.permalink
{
	position:absolute;
	top:3px;
	right:5px;
	
}

/******** categories/forums/topics/posts tables ********/

#f_tbl
{
	position:relative;
	border-top:1px solid #B5B5B5;
	border-left:1px solid #B5B5B5;
	border-right:1px solid #B5B5B5;
	background:#F3F3F3;
	margin:5px;
    margin-top:0px;
	width:757px;
	font-size:11px;
}

#f_tbl ul
{
    list-style:none;
    clear:both;
    float:none;
    margin:0;
    padding:0;
	height:35px;
}

#f_tbl ul.tbl_hh
{
	height:24px;
}

#f_tbl ul li
{
    position:relative;
    margin:0;
    padding:0;
    float:left;
	height:35px;
	line-height:35px;
	text-align:center;
	overflow:hidden;
}

#f_tbl ul .tbl_h_forum
{
	text-align:left;
	padding-left:12px;
	width:535px;
	font-size:14px;
	font-weight:bold;
	border-bottom:1px solid #B5B5B5;
	color:#999999;	
	background-image:url(../img/topic_bg.gif);
	height:24px;
	line-height:24px;	
}
#f_tbl ul .tbl_h_topic
{
	width:60px;
	font-size:14px;
	font-weight:bold;
	border-bottom:1px solid #B5B5B5;
	color:#999999;	
	background-image:url(../img/topic_bg.gif);
	height:24px;
	line-height:24px;	
}
#f_tbl ul .tbl_h_date
{
	width:150px;
	font-weight:bold;
	font-size:14px;
	border-bottom:1px solid #B5B5B5;
	color:#999999;	
	background-image:url(../img/topic_bg.gif);
	height:24px;
	line-height:24px;	
}
#f_tbl ul .tbl_c_icon
{
	text-align:left;
	padding-top:3px;
	padding-left:12px;
	height:48px;
	width:48px;
	background:#FFFFFF;
	border-bottom:1px solid #B5B5B5;
}
#f_tbl ul .tbl_c_forum
{
	text-align:left;
	padding-left:5px;
	width:747px;
	height:51px;
	padding-left:10px;
	line-height:51px;
	background:#FFFFFF;
	font-size:14px;
	border-bottom:1px solid #B5B5B5;
}

#f_tbl ul .tbl_c_forum a
{
	margin-left:20px;
}

.colexp
{
	position:absolute;
	top:14px;
	left:10px;
	background-image:url(../img/colexp.gif);
	padding-left:20px;
	background-repeat:no-repeat;
	background-position:0px 0px;
	height:32px;
	width:32px;
	overflow:hidden;
}

.colexp2
{
	position:absolute;
	top:14px;
	left:10px;
	background-image:url(../img/colexp2.gif);
	padding-left:20px;
	background-repeat:no-repeat;
	background-position:0px 0px;
	height:13px;
	width:13px;
	overflow:hidden;
}

#f_tbl ul .tbl_f_forum
{
	text-align:left;
	height:33px;
	padding-top:2px;
	padding-left:34px;
	width:512px;
	background:#FFFFFF;
	line-height:15px;
	border-bottom:1px solid #B5B5B5;	
	border-right:1px solid #B5B5B5;
}

#f_tbl ul .tbl_f_forum img.forum_icon
{
	position:absolute;
	width:29px;
	height:29px;
	top:3px;
	left:2px;
}

#f_tbl ul .tbl_f_topic
{
	width:59px;
	background:#FFFFFF;
	border-bottom:1px solid #B5B5B5;	
	border-right:1px solid #B5B5B5;
}
#f_tbl ul .tbl_f_date
{
	width:150px;
	background:#FFFFFF;
	border-bottom:1px solid #B5B5B5;	
}

#f_tbl ul .tbl_hh_topic
{
	text-align:left;
	padding-left:12px;
	width:385px;	
	font-size:14px;
	font-weight:bold;
	border-bottom:1px solid #B5B5B5;	
	color:#999999;	
	background-image:url(../img/topic_bg.gif);
	height:24px;
	line-height:24px;
}
#f_tbl ul .tbl_hh_posts
{
	width:60px;	
	font-size:14px;
	font-weight:bold;
	border-bottom:1px solid #B5B5B5;
	color:#999999;	
	background-image:url(../img/topic_bg.gif);
	height:24px;
	line-height:24px;
}
#f_tbl ul .tbl_hh_date
{
	width:150px;
	font-weight:bold;	
	font-size:14px;	
	border-bottom:1px solid #B5B5B5;
	color:#999999;	
	background-image:url(../img/topic_bg.gif);
	height:24px;
	line-height:24px;
}
#f_tbl ul .tbl_hh_date2
{
	width:150px;
	font-weight:bold;	
	font-size:14px;
	border-bottom:1px solid #B5B5B5;
	color:#999999;	
	background-image:url(../img/topic_bg.gif);
	height:24px;	
	line-height:24px;
}

#f_tbl ul .tbl_ff_topic
{
	position:relative;
	text-align:left;
	height:33px;
	padding-top:2px;
	line-height:15px;
	padding-left:32px;
	width:364px;
	background:#FFFFFF;
	border-bottom:1px solid #B5B5B5;	
	border-right:1px solid #B5B5B5;
}
#f_tbl ul .tbl_ff_topic img
{
	position:absolute;
	width:26px;
	height:29px;
	top:1px;
	left:2px;
}
#f_tbl ul .tbl_ff_posts
{
	width:59px;
	background:#FFFFFF;
	border-bottom:1px solid #B5B5B5;	
	border-right:1px solid #B5B5B5;
}
#f_tbl ul .tbl_ff_date
{
	height:33px;
	padding-top:2px;
	line-height:15px;
	width:149px;
	background:#FFFFFF;
	border-bottom:1px solid #B5B5B5;	
	border-right:1px solid #B5B5B5;
}
#f_tbl ul .tbl_ff_date2
{
	height:33px;
	padding-top:2px;
	line-height:15px;
	width:150px;
	background:#FFFFFF;
	border-bottom:1px solid #B5B5B5;	
}

#f_tbl ul .tbl_hp_author
{
	float:left;
	text-align:left;
	padding-left:12px;
	width:111px;
	font-size:14px;
	font-weight:bold;
	border-bottom:1px solid #B5B5B5;
	color:#999999;	
	background-image:url(../img/topic_bg.gif);
	height:24px;
	line-height:24px;	
}
#f_tbl ul .tbl_hp_msg
{
	float:left;
	text-align:left;
	padding-left:12px;
	width:622px;
	font-size:14px;
	font-weight:bold;
	border-bottom:1px solid #B5B5B5;
	color:#999999;	
	background-image:url(../img/topic_bg.gif);
	height:24px;
	line-height:24px;	
}


#f_tbl div.tbl_p_author
{
	position:absolute;
	top:0px;
	left:0px;
	padding:5px;
	width:113px;
}

#f_tbl ul .tbl_hh_profile
{
	text-align:left;
	padding-left:12px;
	width:745px;	
	font-size:14px;
	font-weight:bold;
	border-bottom:1px solid #B5B5B5;	
	color:#999999;	
	background-image:url(../img/topic_bg.gif);
	height:24px;
	line-height:24px;
}

div.profile
{
	border-bottom:1px solid #B5B5B5;
	padding:6px;
	background-color:white;
}

#f_tbl .edit_post
{
	position:absolute;
	left:128px;	
	top:20px;
	width:629px;
	background-color:white;
}

#f_tbl .edit_post iframe
{
	width:620px;
	height:200px;
}

#f_tbl .edit_post input
{
	margin-right:20px;
	margin-top:10px;
}

#f_tbl .tbl_p_msg
{
	position:relative;
	height:auto;
	padding-top:30px;
	padding-bottom:10px;
	padding-right:5px;
	padding-left:128px;	
	margin-left:0px;
	width:624px;
	border-bottom:1px solid #B5B5B5;
	text-align:justify;	
	background-image:url(../img/author_bg.gif);	
	background-repeat:repeat-y;
    line-height:15px;
}

#f_tbl .tbl_p_msg span.report
{
	position:absolute;
	left:6px;
	top:-3px;
	font-size:10px;
	color:#999999;	
}

#f_tbl .tbl_p_msg span.posted
{
	font-size:10px;
	color:#999999;	
	margin-right:8px;
	margin-left:20px;
}

#f_tbl .tbl_p_msg div.actions
{
	position:absolute;
	top:5px;
	left:122px; 
	font-size:10px;
	width:621px;
	padding-left:7px;
	padding-right:7px;
	border-bottom:1px dotted #D4D4D4;
}

#f_tbl .tbl_p_msg div.actions .rate
{
	position:absolute;
	right:8px;
	top:0px;
	color:#999999;	
}

#f_tbl .tbl_p_msg div.actions .rate img
{
	border:none;
}

#f_tbl .tbl_p_msg div.actions .rate .rate_text
{
	position:relative;
	top:-2px;
}

.tbl_p_msg
{

}

.tbl_p_msg p
{
	margin:0 0 0 0;
	padding:0 0 0 0;
}

.tbl_p_msg pre
{
	margin:10px 10px 10px 0;
	padding:5px;
	border:1px solid green;
	background-color:white;
	color:#009900;
	overflow-x:scroll;
}

#f_tbl .tbl_p_msg ul, #f_tbl .tbl_p_msg ol
{
    clear:both;
    float:none;
    margin:0px;
	margin-left:20px;
    padding:0px;
	height:auto;
}

#f_tbl .tbl_p_msg ul
{
    list-style:disc outside;
}

#f_tbl .tbl_p_msg ul li, #f_tbl .tbl_p_msg ol li
{
    position:relative;
    margin:0;
    padding:0;
    float:none;
	height:auto;
	line-height:normal;
	text-align:left;
	overflow:visible;
}

/******** post reply ********/

#reply_container
{
    display:none;
}

div.p_reply
{
	padding-left:5px;	
	padding-bottom:5px;	
	border-bottom:1px solid #D1D1D1;
	border-top:1px solid #D1D1D1;
	margin-top:14px;
	overflow:hidden;
}

/******** new topic ********/

.sticky
{
	margin-left:30px;	
}

.sticky label
{
	position:relative;
	top:-3px;
	margin-left:3px;
}

/******** search ********/

.no_sr_box
{
    padding-top:15px; 
    margin-top:5px; 
    border-top:1px solid #B5B5B5;
}

.search_box
{
    position:relative;
    padding:5px; 
    padding-top:15px; 
    margin:5px; 
    background-color:white; 
    border:1px solid #B5B5B5;
}

div.search_field
{
	position:relative;
	margin-left:50px;
}

div.search_field .search_input
{
	position:absolute;
	left:120px;
} 

div.search_field .search_button
{
	position:absolute;
	left:120px;
	width:100px;	
} 

/******** pages navigation ********/

div.pages
{
	text-align:left;
	margin:7px;
}

/******** user avatar ********/

div.avatar
{
	width:48px;
	height:48px;
	border:1px solid #D1D1D1;
	text-align:center;
}

div.avatar img
{
	border:none;
}

/******** popup windows ********/

div.wnd_box
{
	padding:0;
	margin:0;
	border:1px solid #B9CFD8;
	background-color:white;
}

div.wnd_title
{
	height:23px;
	border-bottom:1px solid #B9CFD8;
	overflow:hidden;
	background-image:url(../img/wnd_title_bg.gif);
	background-repeat:no-repeat;
	background-color:#E9F0F4;
}

div.wnd_title h2
{
	text-align:left;
	margin:3px;
	margin-left:12px;
}

div.wnd_content
{
	padding:10px;
}

/******** form fields ********/

fieldset.form_field_row
{
	position:relative;
	left:100px;
	border:none;
	padding:0;	
	text-align:left;
}

fieldset.form_field_row legend
{
	font-weight:bold;
	padding:0;
}

/******** smiles ********/

.smiles
{
	margin-top:29px;
	width:203px;
	height:218px;
	border:1px solid #CCCCCC;
	background-color:white;
	color:#999999;
	text-align:center;
	font-size:10px;
	letter-spacing:-.4pt;
}

/******** preformatted styles ********/

.quote
{
	font-style:italic;
	border-left:1px solid #666666;	
	display:block;
	padding:2px;
	margin:0;
	margin-left:20px;
}

.quote_post
{
	font-style:italic;
	border:1px solid #666666;	
	display:block;
	padding:2px;
	margin:0;
	margin-left:20px;
	margin-bottom:10px;
}

.code
{
	margin:10px 10px 10px 0;
	padding:5px;
	border:1px solid green;
	background-color:white;
	color:#009900;
	display:block;
	margin:0;
}

/******** forums spy ********/

#live_title
{
	padding-left:5px; 
	padding-right:5px; 
    width:759px;
    font-size:18px;
    font-weight:bold;
    margin-top:12px;
    margin-bottom:12px;    
}

#live_title span
{
    color:#999999;
    font-size:14px;
    font-weight:normal;    
}

.live_tracker
{
	position:relative; 

	padding-left:5px; 
	padding-right:5px; 

    padding-top:1px;
	overflow:hidden; 
	height:560px;
    width:759px;
    background-image:url(../img/live_top.gif); 
    background-repeat:no-repeat;    
}

.live_fade
{
	display:inline-block;
	z-index:9999;
	position:absolute; 
	width:100%; 
	height:60px; 
	bottom:0; 
}

.live_tracker .live_post
{
    position:relative; 
    height:59px;
    overflow:hidden; 
    background-image:url(../img/live_bg.gif); 
    z-index:2
}

.lp_date
{
    position:absolute; 
    right:21px; 
    width:160px; 
    height:59px; 
    line-height:59px;
    overflow:hidden;   
    font-size:12px;
    text-align:right;
    font-weight:bold;
}

.lp_date b
{
    position:relative;
    font-size:18px;
    top:2px;
}

.lp_bc
{
    font-size:11px;
}

.lp_img
{
    position:absolute; 
    left:7px; 
    top:6px; 
    width:48px; 
    height:48px; 
    border:none;
}
.lp_u
{
    position:absolute;
    top:35px;
    left:70px;
    width:615px;
    height:12px;
    font-size:11px;
    overflow:hidden;   
}

.lp_txt
{
    position:absolute;
    top:15px;
    left:70px;
    width:550px;
    height:16px;    
    font-size:13px;
    line-height:16px;
    overflow:hidden;
}

.post_text
{
    overflow:hidden;
    width:625px;
    line-height:normal;
}

.post_text_sr
{
    line-height:normal;
}
