
	body
	{
		margin:0px;
		padding:0px;
		background-image:url('../images/body_backgr.gif');
	    background-repeat:repeat;
		
		font-family:Arial;
		font-size:12px;
		color:#000;
	}
	td
	{
		text-align:left;
	}
	
	a img, form 
	{
		border:none;
		margin:0px;
		padding:0px;
	}	
	
	select,
	select.no,
	input,
	input.no,
	textarea,
	textarea.no
	{
		font-size:12px;
		font-family:Arial;
	}


    /* dolphin default styles [begin] */

	div.thumbnail_block
	{
		position:relative;

		text-align:center;
		padding:0px;
		margin-left:auto;
		margin-right:auto;
	}
	div.thumbnail_block img
	{
		border:1px solid #9B9A9A;
		background-color:#EDECEC;
		background-position:center;
		background-repeat:no-repeat;
	}
	div.clear_both
	{
		position:relative;
		clear:both;
		height:0px;
		line-height:0px;
		margin:0px;
		padding:0px;
		font-size:0px;
	}

    /* dolphin default styles [ end ] */

    /* anchors [begin] */

	a,
	a:link,
	a:visited
	{
		color:#333399;
		text-decoration:underline;

	}

	a:hover,
	a:active
	{
		color:#161638;
		text-decoration:none;
	}


	a.menu_item_link,
	a.menu_item_link:link,
	a.menu_item_link:visited,
	a.menu_item_link:active,
	a.menu_item_link:hover
	{
		text-decoration:none;
	}
	
	a.menu_item_link,
	a.menu_item_link:link,
	a.menu_item_link:visited
	{
		color:#336699;
	}
	
	a.menu_item_link:active,
	a.menu_item_link:hover
	{
		color:#000000;
	}

	.no_hello_actions a,
	.no_hello_actions a:link,
	.no_hello_actions a:visited,
	.no_hello_actions a:hover,
	.no_hello_actions a:active
	{
		color:#336699;
	}

	a.customMenuItem,
	a.customMenuItem:link,
	a.customMenuItem:visited
	{
		color:#333399;
		text-decoration:none;
	}

    /* anchors [ end ] */








	.main2
	{
		position:relative;
		width:769px;
		border:1px solid #999;        
		background-color:#fff;
		
		margin-top:4px;
        margin-bottom:5px;
		margin-left:auto;
		margin-right:auto;
		padding:8px 0px 12px 0px; /** 8 11 */
	}
	
	.topestMenuWrapper
	{
		position:relative;
		height:21px;
	}

	.topestMenu
	{
		position:absolute;
		top:-8px;
		left:-11px;
		width:768px;
		height:17px;
		padding-top:3px;
		border-bottom:1px solid #999999;
		background-image:url(../images/top_tab_cutting.gif);
		font-size:11px;
		text-align:center;
	}
 
	.topestMenu a
	{
		margin-left:5px;
	}

	.topBlock
	{
		position:relative;
		height:73px;
		border:0px dashed blue;
		margin-bottom:0px;
	}
	
	img.mainLogo
	{
		position:absolute;
		top:0px;
		left:0px;
	}

	.topBigText
	{
		position:absolute;
		top:7px;
		left:70px;
	}
	
	.topBigText .title
	{
		font-size:36px;
		font-weight:bold;
		color:#666666;
		line-height:36px;
	}
	
	.topBigText .powered
	{
		font-weight:bold;
		text-transform:uppercase;
        font-size:10px;
		color:#666666;
	}
	
	.topMenuWrapper
	{
		position:relative;
		height:24px;
        z-index:100;
        overflow:visible;
	}
	
	.topMenu
	{
		position:absolute;
		top:0px;
		left:-12px;
		width:770px;
	}
	
	table.topMenuCont
	{
		width:100%;
	}
	
	table.topMenuCont td
	{
		padding:0px;
		padding:0px;
		margin:0px; 
	}
	
	.topMenuItem,
	.topMenuItemActive
	{
		border-top:1px solid #dddddd;
		border-left:1px solid #aaaaaa;
		border-bottom:1px solid #999999;		
	}
	
	td.topMenuItemHover
	{
		border-top:1px solid #bbbbbb;
		border-left:1px solid #bbbbbb;
		border-bottom:1px solid #eeeeee;
	}
	
	
	.topMenuItem .topMenuItemCont
	{
		background-image:url(../images/tab_cutting.gif);
		border-left:1px solid #ffffff;
		border-right:1px solid #ffffff;
	}
	
	.topMenuItemActive .topMenuItemCont
	{
		background-image:url(../images/tab_cutting_h.gif);
		border-left:1px solid #e2e2e2;
		border-right:1px solid #e2e2e2;
		color:#336699;
	}
	
	.topMenuItemHover .topMenuItemCont
	{
		background-image:url(../images/tab_cutting_h.gif);
		border-left:1px solid #ffffff;
		border-right:1px solid #ffffff;
	}
	
	.topMenuItemCont
	{
		text-align:center;
		background-color:#ffffff;
		height:19px;
		padding-top:3px;
		padding-left:3px;
		padding-right:3px;
		font-weight:bold;
		text-transform:capitalize;
		white-space:nowrap;
	}    


	.topMemberBlock
	{
		position:absolute;
		right:5px;
		top:10px;
		height:50px;
		text-align:right;
		padding:3px;
		width:500px;        
        font-size:11px;
	}
	
	.topMemberBlock .thumbnail_block
	{
		margin-left:5px;
	}
	
	.hello_member
	{
		padding-top:7px;
		font-size:14px;
	}
	
	.hello_actions
	{
		text-transform:capitalize;
	}
	
	.hello_actions span
	{
		margin-left:8px;
	}

	.no_hello_actions
	{
		font-size:18px;
		font-weight:bold;
		padding-right:10px;
		padding-top:7px;
	}
	
	.no_hello_actions a
	{
		margin-left:15px;
	}





	.rightNavDiv
	{
		position:relative;        
		padding:0px;
        margin:0px;
        height:65px;
		overflow:hidden;
	}

	.topPageHeader
	{
        /*float:left;*/
		font-weight:bold;
		font-size:24px;
        color:#999999;
		text-transform:capitalize;
	}

	.topCustomMenu
	{
        /*float:right;*/
        margin-bottom:5px;
        font-size:12px;
		font-weight:bold;
		text-transform:capitalize;
		color:#cccccc;
        /*text-align:right;*/
        height:15px;
	}
	
    .topCustomMenu a,
    .topCustomMenu span
    {
        margin-right:9px;
    }

	
	.customMenuItemActive
	{
		color:black;
	}

    /* bottom [begin] */

	.bottomBlock
	{
		position:relative;
		height:60px;
		border:1px solid #D0D0D0;
        margin-left:5px;
        margin-right:5px;        
	}    

    .bottomImages
    {
        margin-top:7px;
        margin-left:7px;
        float:left;
        position:relative;
    } 

    .bottomTexts
    {   
        font-size:11px;
        margin-top:8px;
        margin-left:15px;
        float:left; 
    }

    .bottomTexts div
    {
        margin-bottom:1px;
    }

    .bottomLinks a
    {
        margin-right:2px;
    }

	.copyright_box
	{
		position:absolute;
		top:30px;
		left:7px;
		color:#333;
		font-size:11px;
		line-height:18px;
	}

	.btmLinks
	{
		margin-right:8px;
	}


    /* bottom [ end ] */    


	.hiddenMenu
	{
		position:absolute;
		top:24px;
		left:-11px;
		z-index:101;
	}
	
	.hiddenMenuBgCont
	{
		width:769px;
		height:57px;
		padding-top:8px;
		background-image:url( ../images/h_menu_bg.png );
		background-repeat:repeat-x;
		position:static;
	}
	
	* html .hiddenMenuBgCont
	{
		background-image:none;
		filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(src='layout/uni/images/h_menu_bg.png', sizingMethod='scale');
	}
	
	.hiddenMenuCont
	{
		margin-left:14px;
		position:relative;
	}    
