</div><!-- [END] Right Column-->

	</div><!-- [END] Main Content Block -->
	<div class="clear_both"></div>
	<div id="footer"><!--  Footer Block -->
		<div id="bottom_text">__bottom_text__</div>

		<div id="bottom_menu_block">
				<span>__BMI_About__</span>
				<span>|</span>
				<span>__BMI_Privacy__</span>
				<span>|</span>
				<span>__BMI_Termsofuse__</span>
				<span>|</span>
				<span>__BMI_Services__</span>
				<span>|</span>
				<span>__BMI_FAQ__</span>
				<span>|</span>
				<span>__BMI_Articles__</span>
				<span>|</span>
				<span>__BMI_Stories__</span>
				<span>|</span>
				<span>__BMI_Links__</span>
				<span>|</span>
				<span>__BMI_Invitefriend__</span>
				<span>|</span>
				<span>__BMI_Aff__</span>
				<span>|</span>
				<span>__BMI_Contacts__</span>
		</div>

	</div><!-- [END] Footer Block -->
    <div style="margin-bottom:35px; margin-top:10px; text-align:center;">
		<div style="margin-bottom:10px;">
	        Powered by <a href="http://www.boonex.com/products/dolphin/">Dolphin Smart Community Builder</a><br />
			&copy;&nbsp;2007&nbsp;<a href="http://www.boonex.com/">BoonEx - Community Software Experts</a>
		</div>
		<div class="gplBlock">
			<!-- Creative Commons License -->
			<a href="http://creativecommons.org/licenses/GPL/2.0/"><img alt="CC-GNU GPL" src="http://creativecommons.org/images/public/cc-GPL-a.png" border="0" /></a><br />
			This software is licenced under the <a href="http://creativecommons.org/licenses/GPL/2.0/">CC-GNU GPL</a>.
			<!-- /Creative Commons License -->
		</div>
	</div>
	<center>__banner_bottom__</center>
__includebase _footer.html__