__includebase _header.html__


	<div style="display:none;">
		<img src="__images__top_menu_Active_item_bg.png" alt="" />
		<img src="__images__top_menu_Inactive_item_bg.png" alt="" />
		<img src="__images__top_menu_Over_item_bg.png" alt="" />
		<img src="__images__icons/scale_bg.gif" alt="" />
		<img src="__images__icons/scale_index_1.gif" alt="" />
		<img src="__images__icons/scale_index_2.gif" alt="" />
	</div>
	<center>__banner_top__</center>
	__ray_invite_swf__
	<div id="header"><!-- Header Block -->
		<div id="switch_lang">__switch_lang_block__</div>
		<div id="switch_skin">__switch_skin_block__</div>
		<div id="dolphin_top"><a href="__site_url__" style="border-color:#fff;"><img src="__images__dolphin_top.png" alt="__page_header__" title="__page_header__" height="67" width="64"  border="0" /></a></div>
		<div id="header_logo"><a href="__site_url__"><img src="__images__logo.png" width="161" height="47" alt="" /></a></div>
		<div id="header_menu"><span>__BMI_About__</span><span>__BMI_Contacts__</span><span>__BMI_Privacy__</span></div>
	</div>
	<div id="header_line">
		<div style="position:relative; width:770px; margin:0px auto;">
			<div id="top_menu_block">
				__top_menu__
			</div>
		</div>
		<div style="position:relative; width:770px; margin:0px auto; border:0px solid red;">
			<div style="position:absolute; top:26px; left:-160px; border:0px solid red;">__banner_left__</div>
			<div style="position:absolute; top:26px; right:-160px; border:0px solid red;">__banner_right__</div>
		</div>
	</div><!-- [END] Header Block -->

	<div id="content"><!-- Main Content Block -->

		<div id="__left_column__"><!--  Left Column -->
			__menu_right__
			__custom_menu__
			__IM__
			__shout_box__
		</div><!--  [END] Left Column -->

		<div id="__right_column__"><!-- Right Column-->
