__include _header.html__
	<div class="db_1_block">
		<div class="caption">
			<div class="title">__page_header_text__</div>
			<img src="__images__design_box_1_head_left.gif" class="left" alt="" />
			<img src="__images__design_box_1_head_right.gif" class="right" alt="" />
		</div>
		<div class="container">
			<div class="clear_both"></div>
				__page_main_code__
			<div class="clear_both"></div>
		</div>

		<div class="foot">
			<img src="__images__design_box_1_foot_left.gif" class="left" alt="" />
			<img src="__images__design_box_1_foot_right.gif" class="right" alt="" />
		</div>
	</div>
	<div class="clear_both"></div>
__include _footer.html__
