

<!-- Design Box #1 [ Start ] here  -->
	<div class="db_1_block">
		<div class="caption">
			<div class="title">__title__</div>
			__caption_item__
			<img src="__images__design_box_1_head_left.gif" class="left" alt="" />
			<img src="__images__design_box_1_head_right.gif" class="right" alt="" />
		</div>
		<div class="container">
			<div class="clear_both"></div>
			__designbox_content__
			<div class="clear_both"></div>
		</div>

		<div class="foot">
			<img src="__images__design_box_1_foot_left.gif" class="left" alt="" />
			<img src="__images__design_box_1_foot_right.gif" class="right" alt="" />
		</div>
	</div>
	<div class="clear_both"></div>
<!-- Design Box #1 [ End ] here  -->


