

<!-- Search Row Block  -->
	<div class="lastloged_nickname">__nick__</div>
			<div class="lastloged_desc_block">
			
			<div class="lastloged_age_sex_country">__age_sex__ __from__ __city_con__</div>
			
			
		</div>
	</div>
	<div class="clear_both"></div>
<!-- /Search Row Block  -->