__includebase _header.html__
	__ray_invite_swf__
	<div id="header"><!-- Header Block -->
		<div id="dolphin_top"><a href="__site_url__" style="border-color:#fff;"><img src="__images__dolphin_top.png" alt="__page_header__" title="__page_header__" height="67" width="64"  border="0" /></a></div>
		<div id="header_logo"><a href="__site_url__"><img src="__images__logo.png" width="161" height="47" alt="" /></a></div>
<!--		<div id="header_menu"><span>__BMI_About__</span><span>__BMI_Contacts__</span><span>__BMI_Privacy__</span></div>-->
	</div>

	</div><!-- [END] Header Block -->

	<div id="content"><!-- Main Content Block -->

			<div id="ray_chat_content">
				__ray_chat__
			</div>

	</div><!-- [END] Main Content Block -->
	<div class="clear_both"></div>
	<div id="footer"><!--  Footer Block -->
	</div><!-- [END] Footer Block -->
__includebase _footer.html__