__include _header.html__

	<div class="db_1_block">
		<div class="caption">
			<div class="title">__page_header_text__</div>
			<img src="__images__design_box_1_head_left.gif" class="left" alt="" />
			<img src="__images__design_box_1_head_right.gif" class="right" alt="" />
		</div>
		<div class="container">
			<div class="clear_both"></div>



				<div id="my_photos">
					<div class="header">
						__my_photos_head__
					</div>
					<div class="keeper">
						__my_photos__
						<div>__rate__</div>
						<div>__votes__</div>

					</div>
				</div>
				<div id="member_info">
					<div class="header">
						__member_info_head__
					</div>
					<div class="keeper">
						__member_info__
					</div>
				</div>
				<div class="clear_both" style="font-size:1px; margin-bottom:10px;"></div>

				<div id="search">
					<div class="header">
						__search_head__
					</div>
					<div class="keeper">
						__search__
					</div>
				</div>
				<div id="contacts">
					<div class="header">
						__contacts_head__
					</div>
					<div class="keeper">
						__contacts__
					</div>
				</div>
				<div class="clear_both" style="font-size:1px; margin-bottom:10px;"></div>

				<div id="member_stat">
					<div class="header">
						__members_head__
					</div>
					<div class="keeper">
						<div style="position:relative; margin-bottom:5px;">
							__memb_total__
						</div>
						<div style="position:relative;">
							__memb_onl__
						</div>
					</div>
				</div>
				<div id="latest_news">
					<div class="header">
						__news_head__
					</div>
					<div class="keeper">
						__news__
					</div>
				</div>
				<div class="clear_both" style="margin-bottom:10px;"></div>
					__ray_mp3__
			<div class="clear_both"></div>
		</div>

		<div class="foot">
			<img src="__images__design_box_1_foot_left.gif" class="left" alt="" />
			<img src="__images__design_box_1_foot_right.gif" class="right" alt="" />
		</div>
	</div>
	<div class="clear_both"></div>



__include _footer.html__

