__include _header.html__
<div class="db_1_block">
		<div class="caption">
			<div class="title">__page_header_text__</div>
			<img src="__images__design_box_1_head_left.gif" class="left" alt="" />
			<img src="__images__design_box_1_head_right.gif" class="right" alt="" />
		</div>
		<div class="container">
			<div class="clear_both"></div>

			__zip_locator__
			<div class="by_nick_by_id">
				<div class="by_id">__search_by_id__</div>
				<div class="by_id" style="left:10px;">__search_by_nick__</div>
			</div>
			<div class="clear_both"></div>
			<form method="get" action="search_result.php">
			__page_main_code__
			<div class="end_form">
				<div>__online_only__</div>
				<div><input type=checkbox name="online_only" /></div>
				<div>__with_photos_only__</div>
				<div><input type=checkbox name="photos_only" /></div>
				<div><input class=no type="submit" value=" __search__ " /></div>
			</div>
			<div class="clear_both"></div>
			</form>



		<div class="clear_both"></div>
		</div>

		<div class="foot">
			<img src="__images__design_box_1_foot_left.gif" class="left" alt="" />
			<img src="__images__design_box_1_foot_right.gif" class="right" alt="" />
		</div>
	</div>
	<div class="clear_both"></div>


__include _footer.html__

