__include _header.html__

<!-- end of header -->

    <div class="db_1_block">
		<div id="divUnderCustomization">
		<div class="caption">
			<div class="title">__page_header_text__</div>
			<img src="__images__design_box_1_head_left.gif" class="left" alt="" />
			<img src="__images__design_box_1_head_right.gif" class="right" alt="" />
		</div>
		<div class="container">
			<div class="clear_both"></div>



			<div style="position:relative; float:left; width:__thumb_width__px;">
				__thumbnail__
				<div style="position:relative; text-align:center;">__more_photos__</div>
				<div style="position:relative; text-align:center;">__launch_ray_im__</div>
			</div>
			<div class="profole_short_details">
				<div class="text">__nick_text__:</div><div class="value">__nick__</div>
				<div class="text">__sex_text__:</div><div class="value">__sex__</div>
				<div class="text">__age_text__:</div><div class="value">__age__</div>
				<div class="text">__occupation_text__:</div><div class="value">__occupation__</div>
				<div class="text">__from__:</div><div class="value">__city_con__</div>
				__last_login__
			</div>
			<div class="zodiac_match_online">
				<div style="width:24px; margin-left:auto; margin-right:auto;">__offline_online__</div>
				<div style="width:70px; margin-left:auto; margin-right:auto;">__match__</div>
				<div style="width:50px; margin-left:auto; margin-right:auto;">__zodiac_sign__</div>
			</div>
			<div class="clear_both"></div>
			<div class="profile_votes_block">
				__votes__
			</div>
			<div class="user_info">
				__user_info__
			</div>
			<div class="descriptions">
				__descriptions__
			</div>
			<div class="clear_both"></div>
   				__ray_mp3__
			<div class="clear_both"></div>
				__friend_list__
			<div class="clear_both"></div>
				__profile_poll__
			<div class="clear_both"></div>
		</div>


		<div class="foot">
			<img src="__images__design_box_1_foot_left.gif" class="left" alt="" />
			<img src="__images__design_box_1_foot_right.gif" class="right" alt="" />
		</div>
	</div>
	<div class="clear_both"></div>
		__profile_comments__
	</div>



__include _footer.html__

