__includebase _header.html__
	<div style="display:none;">
		<img src="__images__dolphin_promo.png" alt="" />
		<img src="__images__top_menu_Active_item_bg.png" alt="" />
		<img src="__images__top_menu_Inactive_item_bg.png" alt="" />
		<img src="__images__top_menu_Over_item_bg.png" alt="" />
		<img src="__images__icons/scale_bg.gif" alt="" />
		<img src="__images__icons/scale_index_1.gif" alt="" />
		<img src="__images__icons/scale_index_2.gif" alt="" />
	</div>
	__ray_invite_swf__
	<div id="header"><!-- Header Block -->
		<div id="switch_lang">__switch_lang_block__</div>
		<div id="switch_skin">__switch_skin_block__</div>
		<div id="dolphin_top"><a href="__site_url__" style="border-color:#fff;"><img src="__images__dolphin_top.png" alt="__page_header__" title="__page_header__" height="67" width="64"  border="0" /></a></div>
		<div id="header_logo"><a href="__site_url__"><img src="__images__logo.png" width="161" height="47" alt="" /></a></div>
		<div id="header_menu"><span>__BMI_About__</span><span>__BMI_Contacts__</span><span>__BMI_Privacy__</span></div>
	</div>
	<div class="top_mem_stat">__top_mem_stat__ </div>
	<div id="header_line">
		<div style="position:relative; width:770px; margin:0px auto;">
			<div id="top_menu_block">
				__top_menu__
			</div>
		</div>
		<div style="position:relative; width:770px; margin:0px auto; border:0px solid red;">
			<div style="position:absolute; top:26px; left:-160px; border:0px solid red;">__banner_left__</div>
			<div style="position:absolute; top:26px; right:-160px; border:0px solid red;">__banner_right__</div>
		</div>
	</div><!-- [END] Header Block -->

	<div id="content"><!-- Main Content Block -->

	<div class="latest_members">__latest_members__ </div>
	
	<div id="index_promo_block">
				<div class="db_1_block">
				<!--	<div class="caption">
						<div class="title">__welcome__</div>
						<img src="__images__design_box_1_head_left.gif" class="left" alt="" />
						<img src="__images__design_box_1_head_right.gif" class="right" alt="" />
					</div>-->
					<div class="container" style="height: 131px; border-left:none;
border-right:none;">
						<div id="index_promo_caption">
							<h2>__promo_caption__</h2>
							__powered_by_Dolphin__

						</div>
						<div id="index_promo_join">
							__welcome_and_join__
						</div>
					
						
						<div id="index_login_section">
            					
							__login_section__
			
						</div>
			
						
					</div>
					<!--<div class="foot">
						<img src="__images__design_box_1_foot_left.gif" class="left" alt="" />
						<img src="__images__design_box_1_foot_right.gif" class="right" alt="" />
					</div>-->
				</div>
				<div class="clear_both"></div>
			</div>
			
			
		<div id="__left_column__"><!--  Left Column -->
			__latest_loged__
			__compose_index_col1__
		</div><!--  [END] Left Column -->

		<div id="__right_column__"><!-- Right Column-->
			
			__compose_index_col2__
		</div><!-- [END] Right Column-->

	</div><!-- [END] Main Content Block -->
	<div class="clear_both"></div>
	<div id="footer"><!--  Footer Block -->
		<div id="bottom_text">__bottom_text__</div>

		<div id="bottom_menu_block">
				<span>__BMI_About__</span>
				<span>|</span>
				<span>__BMI_Privacy__</span>
				<span>|</span>
				<span>__BMI_Termsofuse__</span>
				<span>|</span>
				<span>__BMI_Services__</span>
				<span>|</span>
				<span>__BMI_FAQ__</span>
				<span>|</span>
				<span>__BMI_Articles__</span>
				<span>|</span>
				<span>__BMI_Stories__</span>
				<span>|</span>
				<span>__BMI_Links__</span>
				<span>|</span>
				<span>__BMI_Invitefriend__</span>
				<span>|</span>
				<span>__BMI_Aff__</span>
				<span>|</span>
				<span>__BMI_Contacts__</span>
		</div>
	</div><!-- [END] Footer Block -->
	<div>
		&nbsp;__banner_bottom__
	</div>
<div style="margin-bottom:35px; margin-top:10px; text-align:center;">
		<div style="margin-bottom:10px;">
	        Powered by <a href="http://www.boonex.com/products/dolphin/">Dolphin Smart Community Builder</a><br />
			&copy;&nbsp;2007&nbsp;<a href="http://www.boonex.com/">BoonEx - Community Software Experts</a>
		</div>
		<div class="gplBlock">
			<!-- Creative Commons License -->
			<a href="http://creativecommons.org/licenses/GPL/2.0/"><img alt="CC-GNU GPL" src="http://creativecommons.org/images/public/cc-GPL-a.png" border="0" /></a><br />
			This software is licenced under the <a href="http://creativecommons.org/licenses/GPL/2.0/">CC-GNU GPL</a>.
			<!-- /Creative Commons License -->
		</div>
	</div>

__includebase _footer.html__
