<div class="searchrow_block">
	__thumbnail__
	<div class="short_desc">
		<div class="nick">__nick__</div>
		<div class="age_from">__age_sex__ __from__ __city_con__</div>
		<div class="desc">__i_am_desc__</div>
		<div class="more">
			__more__
			<div class="more_photos">__more_photos__</div>
		</div>

	</div>
	<div class="match_zodiac">
		__offline_online__
		<div style="text-align:left;">__match__</div>
		__zodiac_sign__
	</div>
	<div class="clear_both"></div>
	<div class="links">
		<span>__al_im__&nbsp;</span>
		<span>__al_viewprof__&nbsp;</span>
		<span>__al_kiss__&nbsp;</span>
		<span>__al_sendmsg__&nbsp;</span>
		<span>__al_email__&nbsp;</span>
		<span>__al_cart__&nbsp;</span>
	</div>
</div>
<div class="clear_both"></div>