

<!-- Search Row Block  -->
	<div class="topmembers_block">
		__thumbnail__
		<div class="topmembers_desc_block">
			<div class="topmembers_nickname">__nick__</div>
			<div class="topmembers_age_sex_country">__age_sex__ __from__ __city_con__</div>
			<div class="topmembers_self_desc">__i_am_desc__</div>
			<div class="topmembers_more">__more__</div>
		</div>
	</div>
	<div class="clear_both"></div>
<!-- /Search Row Block  -->