			<div class="clear_both"></div>
		</div>
	<!-- end of body -->
	
	__banner_bottom__
	
	<!-- bottom -->
		
			<div class="clear_both"></div>
			
			
		<table width="98%" style="height:31px" border="0" align="center" cellpadding="0" cellspacing="0">
        <tr>
          <td width="4" valign="top"><img src="http://myyogahub.com/templates/tmpl_uni/images/box2left.gif" width="4" height="31" alt="left box" /></td>
          <td valign="middle"><div class="bottomBlock"><div class="bottomLinks">__BMI_Links__
					__BMI_News__
					__BMI_ContactUs__
					__BMI_About__
					<!--_ _BMI_Privacy__-->
					__BMI_Termsofuse__
					<!-- _ _BMI_FAQ__ -->
					__BMI_Feedback__
					<!-- _ _BMI_Aff__ -->
					__BMI_Invitefriend__
		 	 		__BMI_Bookmark__ 
					<a href="http://affiliates.yogahub.com">Affiliates</a></div>
          </div></td>
          <td width="4" valign="top"><img src="http://myyogahub.com/templates/tmpl_uni/images/box2right.gif" width="4" height="31" alt="right box" /></td>
        </tr>
</table>
			<div class="bottomCopyright">Copyright &copy; 2007-2010 YogaHub.com</div>
			<div class="clear_both"></div>
	<!-- end of bottom -->
</div>

__includebase _footer.html__
