<link rel="stylesheet" type="text/css" tal:repeat="cssFile cssFiles" href="${templatePath}css/${cssFile}.css"/>
<script tal:repeat="jsFile jsFiles" type="text/javascript" src="${templatePath}js/${jsFile}.js"/>	

<form id="activateForm" name="activateForm" method="post" action="member-update.php">
<input type="hidden" name="globalid" tal:attributes="value globalid"/>
<input type="hidden" name="passPhrase" tal:attributes="value passPhrase"/>
<input type="hidden" name="referer" value="${referer}"/>
	
<table cellspacing="2" cellpadding="4" class="profileInfo">
	<tr tal:condition="exists:errorMsg"><td colspan="2">
		<div class="errorMsg" tal:content="structure errorMsg"></div></td></tr>
	<tr><td colspan="2">
		<span class="intro">The following information will complete your 
			YogaHub community profile so you can start a blog, share photos 
			and videos, while interacting with other members.</span></td>
	</tr>

<!-- ******************* BASIC INFO ******************* -->	
	<tr><td colspan="2">
		<div class="infoSection">
			<span class="infoLabel">Basic Info</span>
			<span class="requiredLabelCont">
				<span class="requiredMark">*</span>
				<span class="requiredLabel">Mandatory</span>
			</span>
		</div>
	</td></tr>

	<tr class="fieldRow">
		<td class="fieldCaption">Gender <span class="requiredMark">*</span></td>
		<td class="fieldInputCont">
			<input type="radio" name="sex" id="sex" value="male" 
				tal:attributes="checked php: male ? 1 : NULL" tabindex="1"/>Male
			<input type="radio" name="sex" id="sex" value="female" 
				tal:attributes="checked php: !male ? 1 : NULL" tabindex="1"/>Female
		</td>
	</tr>
	<tr class="fieldRow">
		<td class="fieldCaption">City <span class="requiredMark">*</span></td>
		<td class="fieldInputCont"><input type="text" class="fieldInput required" 
			name="b_city" id="b_city" tal:attributes="value b_city|default"
			minlength="2" maxlength="64" tabindex="2"/>
			<div class="bottomHint" id="b_city_bottom_hint" style="display:none">
				Your city helps us provide you with content that is relevant to where you live.</div>
		</td>
	</tr>	
	<tr class="fieldRow">
		<td class="fieldCaption">Country <span class="requiredMark">*</span></td>
		<td class="fieldInputCont">
			<select class="fieldInput required" name="b_country" id="b_country" tabindex="3">
				<option value="US">United States</option><option value="CA">Canada</option><option value="AF">Afghanistan</option><option value="AL">Albania</option><option value="DZ">Algeria</option><option value="AS">American Samoa</option><option value="AD">Andorra</option><option value="AO">Angola</option><option value="AI">Anguilla</option><option value="AQ">Antarctica</option><option value="AG">Antigua and Barbuda</option><option value="AR">Argentina</option><option value="AM">Armenia</option><option value="AW">Aruba</option><option value="AU">Australia</option><option value="AT">Austria</option><option value="AZ">Azerbaijan</option><option value="BS">Bahamas</option><option value="BH">Bahrain</option><option value="BD">Bangladesh</option><option value="BB">Barbados</option><option value="BY">Belarus</option><option value="BE">Belgium</option><option value="BZ">Belize</option><option value="BJ">Benin</option><option value="BM">Bermuda</option><option value="BT">Bhutan</option><option value="BO">Bolivia</option><option value="BA">Bosnia and Herzegowina</option><option value="BW">Botswana</option><option value="BV">Bouvet Island</option><option value="BR">Brazil</option><option value="IO">British Indian Ocean Territory</option><option value="VG">British Virgin Islands</option><option value="BN">Brunei Darussalam</option><option value="BG">Bulgaria</option><option value="BF">Burkina Faso</option><option value="BI">Burundi</option><option value="KH">Cambodia</option><option value="CM">Cameroon</option><option value="CA">Canada</option><option value="CV">Cape Verde</option><option value="KY">Cayman Islands</option><option value="CF">Central African Republic</option><option value="TD">Chad</option><option value="CL">Chile</option><option value="CN">China</option><option value="CX">Christmas Island</option><option value="CC">Cocos (Keeling) Islands</option><option value="CO">Colombia</option><option value="KM">Comoros</option><option value="CG">Congo</option><option value="CK">Cook Islands</option><option value="CR">Costa Rica</option><option value="CI">Cote D'ivoire</option><option value="HR">Croatia</option><option value="CU">Cuba</option><option value="CY">Cyprus</option><option value="CZ">Czech Republic</option><option value="DK">Denmark</option><option value="DJ">Djibouti</option><option value="DM">Dominica</option><option value="DO">Dominican Republic</option><option value="TP">East Timor</option><option value="EC">Ecuador</option><option value="EG">Egypt</option><option value="SV">El Salvador</option><option value="GQ">Equatorial Guinea</option><option value="ER">Eritrea</option><option value="EE">Estonia</option><option value="ET">Ethiopia</option><option value="FK">Falkland Islands (Malvinas)</option><option value="FO">Faroe Islands</option><option value="FJ">Fiji</option><option value="FI">Finland</option><option value="FR">France</option><option value="GF">French Guiana</option><option value="PF">French Polynesia</option><option value="TF">French Southern Territories</option><option value="GA">Gabon</option><option value="GM">Gambia</option><option value="GE">Georgia</option><option value="DE">Germany</option><option value="GH">Ghana</option><option value="GI">Gibraltar</option><option value="GR">Greece</option><option value="GL">Greenland</option><option value="GD">Grenada</option><option value="GP">Guadeloupe</option><option value="GU">Guam</option><option value="GT">Guatemala</option><option value="GN">Guinea</option><option value="GW">Guinea-Bissau</option><option value="GY">Guyana</option><option value="HT">Haiti</option><option value="HM">Heard and McDonald Islands</option><option value="HN">Honduras</option><option value="HK">Hong Kong</option><option value="HU">Hungary</option><option value="IS">Iceland</option><option value="IN">India</option><option value="ID">Indonesia</option><option value="IQ">Iraq</option><option value="IE">Ireland</option><option value="IR">Islamic Republic of Iran</option><option value="IL">Israel</option><option value="IT">Italy</option><option value="JM">Jamaica</option><option value="JP">Japan</option><option value="JO">Jordan</option><option value="KZ">Kazakhstan</option><option value="KE">Kenya</option><option value="KI">Kiribati</option><option value="KP">Korea</option><option value="KR">Korea, Republic of</option><option value="KW">Kuwait</option><option value="KG">Kyrgyzstan</option><option value="LA">Laos</option><option value="LV">Latvia</option><option value="LB">Lebanon</option><option value="LS">Lesotho</option><option value="LR">Liberia</option><option value="LY">Libyan Arab Jamahiriya</option><option value="LI">Liechtenstein</option><option value="LT">Lithuania</option><option value="LU">Luxembourg</option><option value="MO">Macau</option><option value="MK">Macedonia</option><option value="MG">Madagascar</option><option value="MW">Malawi</option><option value="MY">Malaysia</option><option value="MV">Maldives</option><option value="ML">Mali</option><option value="MT">Malta</option><option value="MH">Marshall Islands</option><option value="MQ">Martinique</option><option value="MR">Mauritania</option><option value="MU">Mauritius</option><option value="YT">Mayotte</option><option value="MX">Mexico</option><option value="FM">Micronesia</option><option value="MD">Moldova, Republic of</option><option value="MC">Monaco</option><option value="MN">Mongolia</option><option value="MS">Montserrat</option><option value="MA">Morocco</option><option value="MZ">Mozambique</option><option value="MM">Myanmar</option><option value="NA">Namibia</option><option value="NR">Nauru</option><option value="NP">Nepal</option><option value="NL">Netherlands</option><option value="AN">Netherlands Antilles</option><option value="NC">New Caledonia</option><option value="NZ">New Zealand</option><option value="NI">Nicaragua</option><option value="NE">Niger</option><option value="NG">Nigeria</option><option value="NU">Niue</option><option value="NF">Norfolk Island</option><option value="MP">Northern Mariana Islands</option><option value="NO">Norway</option><option value="OM">Oman</option><option value="PK">Pakistan</option><option value="PW">Palau</option><option value="PA">Panama</option><option value="PG">Papua New Guinea</option><option value="PY">Paraguay</option><option value="PE">Peru</option><option value="PH">Philippines</option><option value="PN">Pitcairn</option><option value="PL">Poland</option><option value="PT">Portugal</option><option value="PR">Puerto Rico</option><option value="QA">Qatar</option><option value="RE">Reunion</option><option value="RO">Romania</option><option value="RU">Russian Federation</option><option value="RW">Rwanda</option><option value="LC">Saint Lucia</option><option value="WS">Samoa</option><option value="SM">San Marino</option><option value="ST">Sao Tome and Principe</option><option value="SA">Saudi Arabia</option><option value="SN">Senegal</option><option value="YU">Serbia and Montenegro</option><option value="SC">Seychelles</option><option value="SL">Sierra Leone</option><option value="SG">Singapore</option><option value="SK">Slovakia</option><option value="SI">Slovenia</option><option value="SB">Solomon Islands</option><option value="SO">Somalia</option><option value="ZA">South Africa</option><option value="ES">Spain</option><option value="LK">Sri Lanka</option><option value="SH">St. Helena</option><option value="KN">St. Kitts and Nevis</option><option value="PM">St. Pierre and Miquelon</option><option value="VC">St. Vincent and the Grenadines</option><option value="SD">Sudan</option><option value="SR">Suriname</option><option value="SJ">Svalbard and Jan Mayen Islands</option><option value="SZ">Swaziland</option><option value="SE">Sweden</option><option value="CH">Switzerland</option><option value="SY">Syrian Arab Republic</option><option value="TW">Taiwan</option><option value="TJ">Tajikistan</option><option value="TZ">Tanzania, United Republic of</option><option value="TH">Thailand</option><option value="TG">Togo</option><option value="TK">Tokelau</option><option value="TO">Tonga</option><option value="TT">Trinidad and Tobago</option><option value="TN">Tunisia</option><option value="TR">Turkey</option><option value="TM">Turkmenistan</option><option value="TC">Turks and Caicos Islands</option><option value="TV">Tuvalu</option><option value="UG">Uganda</option><option value="UA">Ukraine</option><option value="AE">United Arab Emirates</option><option value="GB">United Kingdom (Great Britain)</option><option selected="selected" value="US">United States</option><option value="VI">United States Virgin Islands</option><option value="UY">Uruguay</option><option value="UZ">Uzbekistan</option><option value="VU">Vanuatu</option><option value="VA">Vatican City State</option><option value="VE">Venezuela</option><option value="VN">Vietnam</option><option value="WF">Wallis And Futuna Islands</option><option value="EH">Western Sahara</option><option value="YE">Yemen</option><option value="ZR">Zaire</option><option value="ZM">Zambia</option><option value="ZW">Zimbabwe</option>
			</select>
		</td>
	</tr>
	
<!-- ******************* PROFILE DETAILS ******************* -->
	<tr><td colspan="2">
		<div class="infoSection">
			<span class="infoLabel">Profile Details</span>
		</div>	
	</td></tr>	
	<tr class="fieldRow">
		<td class="fieldCaption">Interests <span class="requiredMark">*</span></td>
		<td class="fieldInputCont">
			<input type="text" class="fieldInput required" name="interests" id="interests" 
				maxlength="255" tabindex="4" tal:attributes="value interests|default"/>
			<div class="bottomHint" id="interests_bottom_hint" style="display:none">
				List a few of your general interests and separate them by commas. Example: Yoga, Skiing, Long Walks, Jazz, etc.</div>
		</td>
	</tr>
	<tr class="fieldRow">
		<td class="fieldCaption">Short Title <span class="requiredMark">*</span></td>
		<td class="fieldInputCont">
			<input type="text" class="fieldInput required" name="headline" id="headline" 
				minlength="10" maxlength="64" tabindex="5" tal:attributes="value headline|default"/>
			<div class="bottomHint" id="headline_bottom_hint" style="display:none">
				A brief title to describe yourself. (10 to 64 characters). 
				Example: Phoenix Rising - Personal Yoga Therapist</div>
		</td>
	</tr>	
	<tr class="fieldRow">
		<td class="fieldCaption">Description <span class="requiredMark">*</span></td>
		<td class="fieldInputCont">
			<textarea class="required" minlength="20" name="description" id="description" 
				 rows="5" cols="25" tabindex="6" tal:content="description|default"></textarea>
			<div class="bottomHint" id="description_bottom_hint" style="display:none">
				1 to 3 sentences describing yourself or your business (20 character minimum)</div>
		</td>
	</tr>
	
<!-- ******************* ADDITIONAL INFO ******************* -->	
	<tr><td colspan="2">
		<div class="infoSection">
			<span class="infoLabel">Additional Info</span>
		</div>	
	</td></tr>	
	<tr class="fieldRow">
		<td class="fieldCaption">Security <span class="requiredMark">*</span></td>
		<td class="fieldInputCont">
			<select questionExcept="choose" onchange="showOwnQuestion(this.value);" class="fieldInput required" 
				name="sec_question" id="sec_question" tabindex="7">
				<option value="choose">Choose a question...</option>
				<option value="Who first introduced you to yoga?">Who first introduced you to yoga?</option>
				<option value="What is the name of your favorite mentor?">What is the name of your favorite mentor?</option>
				<option value="What is the last name of your favorite teacher?">What is the last name of your favorite teacher?</option>
				<option value="What is the last name of your favorite musician?">What is the last name of your favorite musician?</option>
				<option value="What is the name of your favorite movie?">What is the name of your favorite movie?</option>
				<option value="What was your high school mascot?">What was your high school mascot?</option>
				<option value="own_question">Write my own question.</option>
			</select>
			<div class="bottomHint" id="sec_question_bottom_hint" style="display:none">
				If you forget your password we will ask for the answer to your security question.</div>
		</td>
	</tr>
	<tr class="fieldRow" style="display:none" id="ownQuestionRow" >
		<td class="fieldCaption">My Question <span class="requiredMark">*</span></td>
		<td class="fieldInputCont">
			<input type="text" class="fieldInput" id="own_question" name="own_question" 
				minlength="4" maxlength="255" tabindex="8" tal:attributes="value sec_question|default"/>
		</td>
	</tr>
	<tr class="fieldRow">
		<td class="fieldCaption">Answer <span class="requiredMark">*</span></td>
		<td class="fieldInputCont">
			<input type="text" class="fieldInput required"	minlength="4" maxlength="255"
				name="sec_answer" id="sec_answer" tabindex="8" tal:attributes="value sec_answer|default"/>
			<div class="bottomHint" id="sec_answer_bottom_hint" style="display:none">
				Answers are not case-sensitive, however we suggest you avoid spaces and multi-word answers.</div>
		</td>
	</tr>	
	<tr class="fieldRow">
		<td class="fieldCaption">Time Zone</td>
		<td class="fieldInputCont">
			<select id="timezoneoffset" name="timezoneoffset" class="fieldInput" tabindex="9">
				<option class="" value="-12">(GMT -12:00) Eniwetok, Kwajalein</option>
				<option class="" value="-11">(GMT -11:00) Midway Island, Samoa</option>
				<option class="" value="-10">(GMT -10:00) Hawaii</option>
				<option class="" value="-9">(GMT -9:00) Alaska</option>
				<option class="" value="-8">(GMT -8:00) Pacific Time (US & Canada)</option>
				<option class="" value="-7">(GMT -7:00) Mountain Time (US & Canada)</option>
				<option class="" value="-6">(GMT -6:00) Central Time (US & Canada), Mexico City</option>
				<option selected="selected" class="" value="-5">(GMT -5:00) Eastern Time (US & Canada), Bogota, Lima</option>
				<option class="" value="-4.5">(GMT -4:30) Caracas</option>
				<option class="" value="-4">(GMT -4:00) Atlantic Time (Canada), La Paz, Santiago</option>
				<option class="" value="-3.5">(GMT -3:30) Newfoundland</option>
				<option class="" value="-3">(GMT -3:00) Brazil, Buenos Aires, Georgetown</option>
				<option class="" value="-2">(GMT -2:00) Mid-Atlantic</option>
				<option class="" value="-1">(GMT -1:00 hour) Azores, Cape Verde Islands</option>
				<option class="" value="0">(GMT) Western Europe Time, London, Lisbon, Casablanca</option>
				<option class="" value="1">(GMT +1:00 hour) Brussels, Copenhagen, Madrid, Paris</option>
				<option class="" value="2">(GMT +2:00) Kaliningrad, South Africa</option>
				<option class="" value="3">(GMT +3:00) Baghdad, Riyadh, Moscow, St. Petersburg</option>
				<option class="" value="3.5">(GMT +3:30) Tehran</option>
				<option class="" value="4">(GMT +4:00) Abu Dhabi, Muscat, Baku, Tbilisi</option>
				<option class="" value="4.5">(GMT +4:30) Kabul</option>
				<option class="" value="5">(GMT +5:00) Ekaterinburg, Islamabad, Karachi, Tashkent</option>
				<option class="" value="5.5">(GMT +5:30) Mumbai, Kolkata, Chennai, New Delhi</option>
				<option class="" value="5.75">(GMT +5:45) Kathmandu</option>
				<option class="" value="6">(GMT +6:00) Almaty, Dhaka, Colombo</option>
				<option class="" value="6.5">(GMT +6:30) Yangon, Cocos Islands</option>
				<option class="" value="7">(GMT +7:00) Bangkok, Hanoi, Jakarta</option>
				<option class="" value="8">(GMT +8:00) Beijing, Perth, Singapore, Hong Kong</option>
				<option class="" value="9">(GMT +9:00) Tokyo, Seoul, Osaka, Sapporo, Yakutsk</option>
				<option class="" value="9.5">(GMT +9:30) Adelaide, Darwin</option>
				<option class="" value="10">(GMT +10:00) Eastern Australia, Guam, Vladivostok</option>
				<option class="" value="11">(GMT +11:00) Magadan, Solomon Islands, New Caledonia</option>
				<option class="" value="12">(GMT +12:00) Auckland, Wellington, Fiji, Kamchatka</option>
			</select>
		</td>
	</tr>
	<tr class="fieldRow" tal:condition="not: exists: source">
		<td class="fieldInputCont heardCont" colspan="2">
			<div class="heardLabel">
				How you heard about us: <span class="requiredMark">*</span>
			</div>			
			<select heardExcept="Choose One" id="source" name="source" class="heardSelect" tabindex="10">
				<option value="Choose One">Choose One</option>
				<option value="Postcard Mailer">Postcard Mailer</option>
				<option value="Friend/Word of Mouth">Friend/Word of Mouth</option>
				<option value="Message Boards">Message Boards</option>
				<option value="Yahoo/Google Groups">Yahoo/Google Groups</option>
				<option value="Google">Google</option>
				<option value="Yahoo">Yahoo</option>
				<option value="MSN">MSN</option>
				<option value="Other Search Engine">Other Search Engine</option>
				<option value="Social Networking Site">Social Networking Site</option>
				<option value="Shopping Comparison Site">Shopping Comparison Site</option>
				<option value="Amazon">Amazon</option>
				<option value="Facebook">Facebook</option>
				<option value="Newspaper Insert">Newspaper Insert</option>
				<option value="ValPak">ValPak</option>
				<option value="Package/Box Insert">Package/Box Insert</option>
				<option value="Coupon Website">Coupon Website</option>
				<option value="Loyalty/Rewards Website">Loyalty/Rewards Website</option>
				<option value="Manufacturer Website">Manufacturer Website</option>
				<option value="Referral Email">Referral Email</option>
				<option value="Referral Coupon">Referral Coupon</option>
				<option value="Newspaper/Magazine Article">Newspaper/Magazine Article</option>
				<option value="Web Article">Web Article</option>
				<option value="Other">Other</option>
			</select>						
		</td>
	</tr>	
	<tr class="fieldRow" tal:condition="not: exists: source">
		<td class="fieldInputCont discountsCont" colspan="2">
			<span class="discountsMsg">Yes, I want to receive discounts and special offers!</span>		
			<input type="checkbox" name="discounts" id="discounts" checked="1"  style="float:right"
				tabindex="11" tal:attributes="checked php: discounts ? 1 : NULL"/>
			<br/><br/>
		</td>
	</tr>		
<!-- ******************* SUBMIT ******************* -->	
	<tr>
		<td colspan="2" class="submitRow">
			<div><a href="http://www.yogahub.com/Problems-Signing-Up.html" 
				class="problems" target="_blank">Problems signing up?</a></div>		
			<div class="submitCont">
				<input class="submit" type="submit" value="" tabindex="12"
					style="background-image:url('${imagesBase}btn_Create-My-Account.gif')"/>
			</div>
		</td>
	</tr>	
</table>

</form>

<script>
	selectValue('b_country', '${b_country}');
	selectValue('timezoneoffset', '${timezone}');	

	var secQuestion = '${sec_question}';
	if (secQuestion != '')
		selectValue('sec_question', '${sec_question}', 'own_question');
	showOwnQuestion(document.getElementById('sec_question').value);
</script>