<td style="{item_style}">
	<table class="results_table">
		<tr class="result_row_{tr_class}">
			<td class="res_checkbox">
				<input type="checkbox" onclick="setCheckbox('{FormName}');" name="{CheckBoxName}" value="on" />
			</td>
			<td class="res_thumb">{Thumbnail}</td>
			<td class="res_nick">
				{NickName}{PicNew}
				<div style="font-weight:normal; clear:both">{Date}</div>
			</td>
			<td class="res_times">{Times}</td>
			<td class="res_kiss">{SendMsg}</td>
		</tr>
	</table>
</td>