
<div class="disignBoxFirst" style="__main_style__">
	  <table width="100%" style="height:31px" border="0" cellpadding="0" cellspacing="0">
        <tr>
          <td width="4" valign="top"><img src="http://myyogahub.com/templates/tmpl_uni/images/box2left.gif" width="4" height="31" alt="left box" /></td>
          <td valign="top"><div class="boxFirstHeader" style="__header_style__">__title____title_content____caption_item__</div></td>
          <td width="4" valign="top"><img src="http://myyogahub.com/templates/tmpl_uni/images/box2right.gif" width="4" height="31" alt="right box" /></td>
        </tr>
  </table>
  <div class="boxContent" style="__content_style__">__designbox_content__</div>
</div>
