<form action="__action_url__" method="post">
	<input type="hidden" name="relocate" value="__relocate_url__" />
	<table>
		<tr><td colspan="2" style="font-weight:bold;color:#bd320b;">__warning_text__</td></tr>
		<tr>
			<td style="text-align:right">__name_label__:</td>
			<td width="80%"><input type="text" name="ID" class="login_form_input"/></td>
		</tr>
		<tr>
			<td style="text-align:right">__password_label__:</td>
			<td width="80%"><input type="password" name="Password" maxlength="8" class="login_form_input" /></td>
		</tr>
		<tr><td colspan="2" style="text-align:right"><input type="submit" class="login_form_submit" name="LoginSubmit" value="__submit_label__"/></td></tr>
		<tr><td colspan="2" style="text-align:right; font-size:11px"><input type="checkbox" name="signedin"/>
			<span style="font-weight:bold">Keep Me Signed In</span> unless I sign out.<br/>[Uncheck if on a shared computer]
		</td></tr>
		<tr><td colspan="2" style="text-align:right"><a href="__forgot_page_url__" style="text-decoration:none">Forget your username or password?</a> |
			<a href="http://www.yogahubsupport.com" style="text-decoration:none">Help</a></td></tr>
	</table>
</form>