<div style="float:left">
<table style="width:100%">
	<tr>
		<td style="width:50%">
			<table>
				<tr tal:repeat="mylink myleftlinks"><td><div metal:use-macro="mylink.tal/mylink"/></td></tr>
			</table>
		</td>
		<td>
			<table>
				<tr tal:repeat="mylink myrightlinks"><td><div metal:use-macro="mylink.tal/mylink"/></td></tr>
			</table>
		</td>
	</tr>	
</table>
</div>

<div tal:content="structure linkAddMore" tal:omit-tag=""/>

<div class="legend" style="border-bottom:1px solid #cccccc">
	<b style="margin-right:10px">Legend:</b>
<script>/*<![CDATA[*/
	for (var i = ${linksMinImage}; i <= ${linksMaxImage}; i++)
		document.write(i + '<img src="templates/tmpl_${tmpl}/images/icons/${imagename}' + 
			i + '.png" style="margin-right:10px"/>');
/*]]>*/</script>
</div>

<script>/*<![CDATA[*/
	var linksShowed = ${linksCount};
	var maxLinks = ${maxRows} * 2;

	function AddMoreLinks()
	{
		var linkAddMore = document.getElementById('linkAddMore');
		if (linksShowed < maxLinks)
		{
			document.getElementById('mylink_' + linksShowed).style.display = 'block';
			document.getElementById('mylink_' + (linksShowed + 1)).style.display = 'block';
			linksShowed += 2;
			if (linksShowed == maxLinks)
				linkAddMore.style.display = 'none';
		}
		else
			linkAddMore.style.display = 'none';
	}
	
	function ChangeMyLinksImage(mylinkNumber, leftright, selectedImage)
	{
		var img = document.getElementById('mylink_' + leftright + '_image_' + mylinkNumber);
		img.src = 'templates/tmpl_${tmpl}/images/icons/${imagename}' + selectedImage + '.png';
	}
		
	function SetMyLinksImages()
	{
		var imageNumbers = document.getElementsByTagName('select');
		var mylinkImage;
		for (var i = 0; i < imageNumbers.length; i++)
		{
			if (imageNumbers[i].name.indexOf('mylink_') == 0 && 
				imageNumbers[i].value != 1) // need to change default mylink image
			{
				mylinkImage = document.getElementById(imageNumbers[i].name);
				mylinkImage.src = mylinkImage.src.replace(/\d+\./, imageNumbers[i].value + '.');
			}
		}
	}

	SetMyLinksImages();
/*]]>*/</script>	