<div class="navigation navigationTop" tal:condition="exists:pagination" 
	tal:content="structure pagination"></div>
<table width="100%">
	<tr tal:repeat="newsItem news">
		<td class="newsItem">
			<div tal:content="structure newsItem/template"/>
		</td>
	</tr>
</table>
<div class="navigation navigationBottom" tal:condition="exists:pagination" 
	tal:content="structure pagination"></div>