__include _header.html__
	<div class="disignBoxFirst">
	  <table width="100%" style="height:31px" border="0" cellpadding="0" cellspacing="0">
        <tr>
          <td width="4" valign="top"><img src="http://myyogahub.com/templates/tmpl_uni/images/box2left.gif" width="4" height="31" alt="left box" /></td>
          <td valign="top"><div class="boxFirstHeader">__page_header_text__</div></td>
          <td width="4" valign="top"><img src="http://myyogahub.com/templates/tmpl_uni/images/box2right.gif" width="4" height="31" alt="right box" /></td>
        </tr>
  </table>
		<div class="boxContent">
			<div class="clear_both"></div>
				__groups_breadcrumbs__
				
				<div class="group_info">
					<div class="group_left_div">
						<div class="thumbnail_block">__group_image__</div>
						__group_gallery_link__
						<div class="group_actions">
							__group_actions__
						</div>
					</div>
					<div class="group_creator_info">
						__group_creator_thumb__
						__group_creator_l__<br>
						<b>__group_creator_link__</b>
					</div>
					
					<div class="group_info_row">__category_l__: <b>__category_link__</b></div>
					<div class="group_info_row">&nbsp;</div>
					<div class="group_info_row">__group_type_l__: <b>__group_type__ (__group_type_help__)</b></div>
					<div class="group_info_row">__created_l__: <b>__created__</b></div>
					<div class="group_info_row">__location_l__: <b>__country__, __city__</b></div>
					<div class="group_info_row">__members_count_l__: <b>__members_count__</b></div>
					<div class="group_info_row">__group_about_l__: <b>__group_about__</b></div>
					<div class="group_info_row"><b>__group_status__</b></div> <!-- shown only to creator if not Active status-->
					
					<div class="clear_both"></div>
				</div>
				<div class="group_description">
					__group_description__
				</div>
			<div class="clear_both"></div>
		</div>
	</div>
	<div class="clear_both"></div>
	__group_members__
	__group_forum__

__include _footer.html__
