__include _header.html__
	<div class="disignBoxFirst">
<table width="100%" style="height:31px" border="0" cellpadding="0" cellspacing="0">
        <tr>
          <td width="4" valign="top"><img src="http://myyogahub.com/templates/tmpl_uni/images/box2left.gif" width="4" height="31" alt="left box" /></td>
          <td valign="top"><div class="boxFirstHeader">__page_header_text__</div></td>
          <td width="4" valign="top"><img src="http://myyogahub.com/templates/tmpl_uni/images/box2right.gif" width="4" height="31" alt="right box" /></td>
        </tr>
  </table>
		
		<div class="boxContent">
			<div class="clear_both"></div>
					
				<div class="news_cont">
					<div class="news_header">__news_header__</div>
					<div class="news_date">__news_date__</div>
					<div class="news_snippet">__news_snippet__</div>
					<div class="news_text">__news_text__</div>
				</div>
						
			<div class="clear_both"></div>
		</div>
	</div>
	<div class="clear_both"></div>	
__include _footer.html__
