
__include _header.html__

		

			<div class="memberMainDiv">
				<div class="memberLeftDiv">
					__content_column_1__
				</div>
				<div class="memberRightDiv">
					__content_column_2__
				</div>
</div>
			

__include _footer.html__
			