__include _header.html__

	<div class="disignBoxFirst">
	  <table width="100%" style="height:31px" border="0" cellpadding="0" cellspacing="0">
        <tr>
          <td width="4" valign="top"><img src="http://myyogahub.com/templates/tmpl_uni/images/box2left.gif" width="4" height="31" alt="left box" /></td>
          <td valign="top"><div class="boxFirstHeader">__page_header_text__</div></td>
          <td width="4" valign="top"><img src="http://myyogahub.com/templates/tmpl_uni/images/box2right.gif" width="4" height="31" alt="right box" /></td>
        </tr>
  </table>
		<div class="boxContent">
			<div class="clear_both"></div>
			
			<form method="get" action="search_result.php">			
				__page_main_code__
				<div class="end_form">
					<div><input type="checkbox" name="online_only" /></div>
					<div>__online_only__</div>
					<div><input type="checkbox" name="photos_only" /></div>
					<div>__with_photos_only__</div>
					<div><input class="no" type="submit" value="__search__" /></div>
				</div>
				<div class="clear_both"></div>
			</form>
			
			<div class="clear_both"></div>
		</div>
	</div>
	
__include _footer.html__
