<div class="qsearch_row">
	<div class="clear_both"></div>
	<div class="qsearch_thumb">
		__thumbnail__
	</div>
	<div class="qsearch_info">
		<b>__NickName__</b>
	</div>
	<div class="qsearch_actions">
		__actions__
	</div>
	<div class="clear_both"></div>
</div>

