<div phptal:cache="15m per settingsID">
     <div class="blogBlock" tal:repeat="item rssFetcher/fetched/items">
     	<div class="blogHead">
     		<a tal:attributes="href item/link; target inNewWindow" tal:content="item/title" style="font-weight:bold"></a>
     	</div>
     	<div class="blogInfo">
     		<span tal:condition="exists: item/pubdate" tal:content="item/pubdate"></span>
     		<img style="width:16px; vertical-align:middle"
				tal:condition="exists: item/category" tal:attributes="src categoryIcon"/>
     		<span style="color:brown" tal:condition="exists: item/category" tal:content="item/category"></span>
     	</div>
     	<div class="blogSnippet">
     		<span tal:content="structure item/description"></span>
     	</div>
     </div>
</div>