<div phptal:cache="15m per settingsID">
     <div class="blogBlock" tal:repeat="item rssFetcher/fetched/items">
     	<div class="blogHead">
     		<a tal:attributes="href item/link; target inNewWindow" tal:content="item/title" style="font-weight:bold"></a>
     	</div>
     	<div class="blogSnippet">
     		<span tal:content="structure item/description"></span>
     	</div>
     </div>
</div>