<div class="groups_result_row">
	<div class="clear_both"></div>
	<div class="thumbnail_block" style="float: left;">
		__thumbnail__
	</div>
	<div class="group_res_info">
		<div class="group_res_info_p">__group_name__</div>
		<div class="group_res_info_p">__group_about__</div>
		<div class="group_res_info_p"><b>__category_l__:</b> <b>__category__</b></div>
		<div class="group_res_info_p"><b>__group_type_l__:</b> __group_type__ (__group_type_help__)</div>
		<div class="group_res_info_p"><b>__created_l__:</b> __created__</div>
		<div class="group_res_info_p"><b>__members_count_l__:</b> __members_count__</div>
		<div class="group_res_info_p"><b>__location_l__:</b> __country__, __city__</div>
	</div>
	<div class="clear_both"></div>
</div>
