<div class="searchrow_block">
<div class="clear_both"></div>
<div style="position:relative;width:112px;float:left;">
	__thumbnail__
</div>
	<div class="match_zodiac">
		<div style="text-align:left;">__match__</div>
		__zodiac_sign__
	</div>
	<div class="short_desc">
		<div class="nick">__nick__</div>
		<div class="age_from">__age_sex__ __from__ __city_con__</div>
		<div class="desc">__i_am_desc__</div>
		
	</div>

	<div class="clear_both"></div>
	<div class="links">
		__al_im__
		__al_kiss__
		__al_sendmsg__
		__al_addfriend__
	</div>
<div class="clear_both"></div>
</div>
<div class="clear_both"></div>