



<!-- Search Row Block  -->

	<div class="topmembers_block">

		__thumbnail__

		<div class="topmembers_nickname">__nick__</div>

	</div>

	

<!-- /Search Row Block  -->







