@charset "iso-8859-1";
@import url(../../base/css/anchor.css);
/*------------------*/

	a:link, a:visited
	{
		color:#3366CC;
		text-decoration:underline;
	}
	a:hover, a:active
	{
		color:#CC333A;
		text-decoration:none;
	}
/*###############################################################*/
	div#top_menu_block ul li a
	{
		text-decoration:none;
	}
/*###############################################################*/
	div#top_members_menu a
	{
		color:#999;
		font-size:11px;
	}
/*###############################################################*/
	a.bottom_text
	{
		font-weight:bold;
	}
