@charset "iso-8859-1";
@import url(../../base/css/compose.css);
/*------------------*/

/* CSS Document */

/* Style For Compose.php */
	div.com_box
	{
		position:relative;
		border:0px solid red;
		margin:0px;
	}

	div.composeHeader
	{
		margin:2px;
	}
	div.composeBody
	{
		position:relative;
		border:0px solid red;
	}
	div.bodySubject
	{
		font-weight:bold;
		margin-bottom:5px;
	}
	div.divInpSubj
	{
		margin-bottom:5px;
		padding-left:15px;
	}
	input.inpSubj
	{
		width:250px;
	}
	div.divMessageText
	{
		font-weight:bold;
		margin-bottom:5px;
		padding-right:15px;
	}
	div.maxCharsTip
	{
		font-weight:normal;
		text-align:right;

	}
	div.composeTextareaBlock
	{
		position:relative;
		text-align:center;
		margin-bottom:10px;
	}
	textarea.messageTxtArea
	{
		width:500px;
		height:200px;
		margin:0px auto;
	}
	textarea.blogText
	{
		width:510px;
		height:350px;
		padding:10px;
		border:1px solid silver;
		background-color:#fff;
	}
	div.divSmiles
	{
		text-align:center;
		margin-bottom:5px;
	}
	div.characterCounter
	{
		position:absolute;
		top:5px;
		right:5px;
	}
	div.divRadBoxes
	{
		border:0px solid red;
		margin-bottom:5px;
	}

/* End Style For Compose.php */












	.profile_disp
	{
		position:absolute;
		top:0px;
		left:100px;
		width:200px;
		margin-left:120px;
		text-align:left;
		border:0px solid blue;
		padding:0px;
		margin:0px;
	}

	.profile_details
	{
		position:relative;
		border:0px solid red;
		padding:0px;
		margin:0px;
		overflow:hidden;
		height:105px;
	}
	.profile_thumb
	{
		position:absolute;
		top:0px;
		left:0px;
		width:102px;
		height:102px;
		border:1px solid #066;
		text-align:center;
		line-height:102px;
		vertical-align:middle;
		float:left;
		padding:0px;
		margin:0px;
		background-repeat:no-repeat;
		background-position:center;
	}
/*Styles For Inbox*/
	div.inbox_block
	{
		position:relative;
		border:0px solid red;
		margin:0px 0px 10px 0px;
	}
/*End Styles For Inbox*/

/*Style for Comunicator Page*/
	.cc_out
	{
		position:relative;
		border:0px solid red;
		height:145px;
		margin-bottom:10px;

	}
	.cc_pre_1
	{
		position:absolute;
		top:0px;
		left:0px;
		border:0px solid red;
		width:190px;
	}
	.cc_pre_2
	{
		position:absolute;
		top:0px;
		left:240px;
		border:0px solid red;
		width:190px;
	}
	.cc_pre_3
	{
		position:absolute;
		top:80px;
		left:0px;
		border:0px solid red;
		width:190px;
	}
	.cc_pre_4
	{
		position:absolute;
		top:80px;
		left:240px;
		border:0px solid red;
		width:190px;
	}
	.cc_pre_icon
	{
		position:absolute;
		top:0px;
		left:0px;
	}
	.cc_pre_link
	{
		position:absolute;
		top:0px;
		left:50px;
		border:0px solid green;
	}
	.cc_link
	{
		font-size:14px;
	}
	.cc_pre_text
	{
		position:absolute;
		top:17px;
		left:50px;
		font-size:12px;
	}
	.cc_action
	{
		position:relative;
		border:0px solid red;
		height:30px;
	}
	.cc_action_block
	{
		position:relative;
		float:left;
		width: 100px;
		border:0px solid green;
		margin:2px 8px;
	}
	.cc_action_img
	{
		position:absolute;
		top:0px;
		left:0px;
	}
	.cc_action_link
	{
		position:absolute;
		top:0px;
		left:25px;
		border:0px solid red;
		width:90px;
	}
	.cc_td_2_border
	{
		text-align:left;
	}


/*End Style for Comunicator Page*/


	tr.tr_hover:hover
	{
		background-color:#FAE4CF;
	}
/**********************************/
/******Styles For Messages Inbox **/
/**********************************/

	div.m_block
	{
		position:relative;
		border:1px solid #F8DAA8;
		margin:20px 0px 0px 0px;
	}
	div.m_subject_date
	{
		position:relative;
		background-color:#F8F8E7;
		border-bottom:1px solid #F8DAA8;

	}
	div.m_subject_date .name
	{
		position:relative;
		float:left;
		width:70px;
		margin:0px 0px 1px 0px;
		text-align:left;
		padding-left:5px;
		height:25px;
		line-height:25px;
		vertical-align:middle;
		font-weight:bold;
	}
	div.m_subject_date .value
	{
		position:relative;
		margin:0px 0px 1px 70px;
		background-color:#FFFFFF;
		text-align:left;
		padding-left:5px;
		height:25px;
		line-height:25px;
		vertical-align:middle;
	}
	div.m_text
	{
		position:relative;
		text-align:left;
		padding:15px;
	}
	div.reply_block
	{
		position:relative;
	}
	div.reply
	{
		position:relative;
		height:25px;
		line-height:25px;
		vertical-align:middle;
		text-align:center;
		float:left;
		padding:0px 10px;
	}
	div.profile_ditails_block
	{
		position:relative;
		height:115px;
		border:0px solid red;
		margin:0px;
		padding:5px;
		overflow:hidden;
	}

	div.thumbnail_block
	{
		border:1px solid #F8DAA8;
		background-color:#FFFFFF;
	}
	div.prof_ditails_block
	{
		position:relative;
		width:298px;
		float:left;
		margin-left:10px;
		text-align:left;
		background-color:#F8F8E7;
		height:105px;
		border:1px solid #F8DAA8;
	}
	div.prof_ditails_block div.li_word
	{
		position:relative;
		float:left;
		width:80px;
		text-align:left;
		border:0px solid red;
		margin:1px;
		font-weight:bold;
		background-color:#F8F8E7;
		height:20px;
		line-height:20px;
		vertical-align:middle;
		padding-left:5px;
	}
	div.prof_ditails_block div.li_value
	{
		position:relative;
		float:left;
		text-align:left;
		width:200px;
		border:0px solid red;
		margin:1px;
		height:20px;
		line-height:20px;
		vertical-align:middle;
		padding-left:5px;
		background-color:#FFFFFF;
	}
/***********************************/
	div.cor_block
	{
		position:relative;
		border:1px solid red;
		padding:3px;
		overflow:hidden;
	}
	div.member_to_sender
	{
		position:relative;
		width:264px;
		float:left;
		border:0px solid red;
	}
	div.sender_to_member
	{
		position:relative;
		width:264px;
		left:7px;
		float:left;
		border:0px solid red;
	}
	div.cor_date
	{
		position:relative;
		float:left;
		width:80px;
		text-align:center;
		border:0px solid red;
	}
	div.cor_subject
	{
		position:relative;
		float:left;
		text-align:left;
		margin-left:5px;
		width:145px;

	}
	div.cor_new
	{
		position:relative;
		float:left;
		width:17px;
		background-color:#999999;
	}
	.cor_title
	{
		height:25px;
		text-align:center;
	}
	.action_result
	{
		position:relative;
		border:0px solid #409bdb;
		margin:20px 0px;
		height:25px;
		line-height:25px;
		vertical-align:middle;
		background-color:#c2daeb;
		font-weight:bold;
		text-align:center;
	}
	div.no_messages
	{
		position:relative;
		height:20px;
		line-height:20px;
		vertical-align:middle;
		text-align:center;
	}
