@charset "iso-8859-1";
@import url(../../base/css/explanation.css);
/*------------------*/

	body
	{
		margin:0px;
		padding:0px;
		font-family:Arial, Helvetica, sans-serif;
		font-size:11px;
		color:#3F3F3F;
		background-color:#FFFFFF;
		width:500px;
	}

	div#main
	{
		position:relative;
		margin-top:25px;
		margin-left:auto;
		margin-right:auto;
		border:0px solid red;
		width:450px;
	}


	div.db_1_block
	{
		position:relative;
		margin-bottom:12px;
	}
	div.db_1_block div.caption
	{
		position:relative;
		height:24px;
		background-image:url(../images/design_box_1_head_bg.gif);
		overflow:hidden;
	}
	div.db_1_block div.container
	{
		position:relative;
		padding:5px;
		border-left:1px solid #D8D8D8;
		border-right:1px solid #D8D8D8;
		overflow:hidden;
	}
	div.db_1_block div.foot
	{
		position:relative;
		height:6px;
		background-image:url(../images/design_box_1_foot_bg.gif);
		background-repeat:repeat-x;
	}
	div.db_1_block div.caption div.title
	{
		position:absolute;
		top:5px;
		left:15px;
		color:#666666;
		text-transform:uppercase;
		font-weight:bold;
	}
	img.left
	{
		position:absolute;
		top:0px;
		left:0px;
	}
	img.right
	{
		position:absolute;
		top:0px;
		right:0px;
	}
* html div#left_column_menu img.right, * html div#left_column_content img.right
	{
		right:-1px;
	}




	div.no_result, div.action
	{
		position:relative;
		border:1px solid #A0C238;
		padding:1px;
		margin:10px 0px;
		width:80%;
		margin-left:auto;
		margin-right:auto;
	}
	div.no_result div, div.action div
	{
		position:relative;
		background-color:#709812;
		vertical-align:middle;
		font-weight:bold;
		color:#fff;
		text-align:center;
		margin:0px;
		padding:0px;
		line-height:20px;
	}
	div.err
	{
		position:relative;
		border:1px solid #FF412D;
		padding:1px;
		margin:10px 0px;
		width:80%;
		margin-left:auto;
		margin-right:auto;
	}
	div.err div
	{
		position:relative;
		background-color:#FF412D;
		vertical-align:middle;
		font-weight:bold;
		color:#fff;
		text-align:center;
		line-height:20px;
	}
/* Do  not delete
	div.action
	{
		position:relative;
		border:1px solid #A0C238;
		padding:1px;
		margin:10px 0px;
		width:80%;
		margin-left:auto;
		margin-right:auto;
	}
	div.action div
	{
		position:relative;
		background-color:#709812;
		vertical-align:middle;
		font-weight:bold;
		color:#fff;
		text-align:center;
	}
*/
* html div.no_result div, * html div.action div, * html div.err div
	{
		line-height:normal;
		padding:3px 0px;
	}
/*##############################################################*/
	div.soundPop
	{
		text-align:center;
	}