@charset "iso-8859-1";
@import url(../../base/css/member_panel.css);
/*------------------*/

	div#my_photos
	{
		position:relative;
		float:left;
		width:170px;
		border:1px solid silver;
	}
	div#search
	{
		position:relative;
		float:left;
		width:170px;
		border:1px solid silver;
	}


	div#member_info
	{
		position:relative;
		float:left;
		left:10px;
		width:350px;
		border:1px solid silver;
	}
	div#contacts
	{
		position:relative;
		float:left;
		left:10px;
		width:350px;
		border:1px solid silver;
	}
	div#member_stat
	{
		position:relative;
		float:left;
		width:170px;
		border:1px solid silver;
	}
	div.membes_statistic_block
	{
		position:relative;
		text-align:center;
	}
	div.member_stat_block
	{
		position:relative;
		display:block;
		width:150px;
		height:auto;
		margin:0px auto;
		border:0px solid red;
		overflow:hidden;
		text-align:left;
	}
	div.member_stat_block div
	{
		border:0px solid red;
		margin:2px 0px;
	}
	div.member_stat_block div select
	{
		background-color:#FFFFFF;
		vertical-align:middle;
		font-size:11px;
		font-family:Arial, Helvetica, sans-serif;
		margin:0px;
		padding:0px;
		border:1px solid silver;
	}
	div#latest_news
	{
		position:relative;
		float:left;
		width:350px;
		left:10px;
		border:1px solid silver;
	}
	div.news_head
	{
		position:relative;
		border:0px solid red;
		height:20px;
		line-height:20px;
		vertical-align:middle;
	}
	div.news_head img
	{
		position:relative;
		top:4px;
	}
	div.news_head span
	{
		position:relative;
		margin-left:7px;
		font-weight:bold;
	}
	div.news_text
	{
		position:relative;
		padding:6px;
		text-align:left;
	}
	div.header
	{
		position:relative;
		border:1px solid #9B9A9A;
		margin:2px 2px 5px 2px;
		padding:0px 0px 0px 7px;
		background-image:url(../images/box_border_header_bg.gif);
		background-repeat:repeat-x;

		background-color:#E4E4E4;
		height:25px;
		line-height:25px;
		vertical-align:middle;
		font-weight:bold;
		text-transform:uppercase;
	}
	div.keeper
	{
		position:relative;
		padding:5px;
		border:0px solid red;
	}
	div.thumbnail_block
	{
		margin-left:auto;
		margin-right:auto;
	}
	div.block_menu
	{
		position: absolute;
		top:0px;
		right: 5px;
		font-weight: bold;
		cursor: pointer;
		text-transform: uppercase;
	}