@charset "iso-8859-1";
@import url(../../base/css/profile_edit.css);
/*------------------*/

	.join_header_first, .join_header
	{
		height:25px;
		background-image:url(../images/box_border_header_bg.gif);
		background-repeat:repeat-x;
		border:1px solid #9B9A9A;
	}