@charset "iso-8859-1";
@import url(../../base/css/profile_view.css);
/*------------------*/

/*

	[	* html - Style only for IE	]

*/

	div.profole_short_details
	{
		position:relative;
		float:left;
		top:10px;
		left:20px;
		width:290px;
		margin:0px;
		padding:0px;
		overflow:hidden;
		text-align:left;
		background-color:#FFFFFF;
	}
* html div.profole_short_details
	{
		left:10px;
	}
	div.profole_short_details div.text
	{
		position:relative;
		width:100px;
		float:left;
		text-transform:capitalize;

	}
	div.profole_short_details div.value
	{
		position:relative;
		font-weight:bold;
	}
	div.zodiac_match_online
	{
		position:relative;
		float:left;
		left:20px;
		width:90px;
	}
	div.zodiac_match_online div
	{
		position:relative;
	}
	div.profile_friends_block
	{
		position:relative;
		margin-top:20px;
		border:1px solid #9B9A9A;
		margin-bottom:10px;
		padding:2px;
		overflow:hidden;
	}
	div.profile_friends_block div.title
	{

		position:relative;
		border:1px solid #9B9A9A;
		margin:0px 0px 5px 0px;
		padding:0px 0px 0px 10px;
		background-image:url(../images/box_border_header_bg.gif);
		background-repeat:repeat-x;
		background-color:#E4E4E4;
		height:25px;
		line-height:25px;
		vertical-align:middle;
		font-weight:bold;
		text-transform:uppercase;
	}
	div.profile_friend_list
	{
		position:relative;
		overflow:hidden;
		margin:0px;
		padding:0px;
		border:0px solid red;
	}
	div.profile_friend_list div
	{
		margin:0px 10px 10px 10px;
	}
	div.descriptions_block
	{
		position:relative;
		border:0px solid red;
		float:left;
	}
	div.user_info
	{
		position:relative;
		float:left;
		width:262px;
		background-color:#FFFFFF;
	}
	td.profile_header_first, .profile_header, .profile_desc_header
	{
		height:25px;
		font-size:10px;
		font-weight:bold;
		text-align:center;
		background-image:url(../images/box_border_header_bg.gif);
		background-repeat:repeat-x;
		border:1px solid #9B9A9A;
	}
	td.profile_td_2_first, .profile_td_2
	{
		font-weight:bold;
	}
	div.descriptions
	{
		position:relative;
		float:left;
		left:10px;
		width:262px;
		background-color:#FFFFFF;
	}
	td.profile_desc_text
	{
		border:0px solid red;
	}
	div.profile_votes_block
	{
		position:relative;
		border:0px solid red;
		width:400px;
		margin-top:10px;
		margin-bottom:15px;
		margin-left:auto;
		margin-right:auto;

	}
	div.profile_votes_block div.title
	{
		position:relative;
		line-height:25px;
		height:25px;
		vertical-align:middle;
		text-align:center;
		text-transform:capitalize;
		font-weight:bold;

	}
	div.profile_votes_block div.form_conteiner
	{
		position:relative;
		border:0px solid green;
		width:300px;
		margin-left:auto;
		margin-right:auto;
		text-align:center;
	}
	div.profile_votes_block div.form_conteiner form, input
	{
		margin:0px;
		padding:0px;
	}
	div.profile_votes_block div.form_conteiner span
	{
		border:0px solid silver;
		margin:4px;
	}
	div.profile_votes_block div.form_conteiner span label
	{
		border:0px solid red;
		position:relative;
	}
	div.profile_votes_block div.form_conteiner img
	{
		position:absolute;
		top:0px;
	}
	div.rate_block
	{
		width:100px;
		margin-left:auto;
		margin-right:auto;
	}
	div.thumbnail_block
	{
		margin:7px;
	}
/*###############################################*/
	div#profileComments
	{
		position:relative;
		border:0px solid red;
	}
	div.comment_row
	{
		position:relative;
		border-bottom:1px solid #cecece;
		margin-bottom:10px;
	}
	div.comment_caption
	{
		position:relative;
		font-weight:bold;
		margin-bottom:5px;
	}
	div.comment_text
	{
		position:relative;
		margin-bottom:5px;
		border:1px solid #cecece;
		background-color:#F3F5FF;
		padding:3px;
	}
/*###############################################*/
	div.block_menu
	{
		position: absolute;
		right: 5px;
		font-weight: bold;
		cursor: pointer;
		text-transform: uppercase;
	}
	div.db_1_block div.block_menu
	{
		top: 5px;
	}
	div.design_box_border div.block_menu
	{
		top: 0px;
	}
/*###############################################*/
	div.add_comment, div.addcomment_submit, div.addcomment_textarea
	{
		position:relative;
		text-align:right;
		margin-bottom:5px;
	}
	textarea.comment_textarea
	{
		width:530px;
		height:70px;
	}
	div.comment_menu
	{
		position:relative;
		border:0px solid red;
		height:16px;
		margin-bottom:5px;
		background-color:#EFF0F4;
	}
	div.comment_menu div.for_all
	{
		position:absolute;
		top:0px;
		right:10px;
		border:0px solid green;
	}
	div.comment_menu div.for_all span
	{
		margin:0px 5px;
	}
	div.comment_menu div.for_edit
	{
		position:absolute;
		top:0px;
		left:10px;
		border:0px solid blue;
	}
	div.addcomment_submit
	{
		border:0px solid red;
	}
	div.answer_smiles
	{
		position:relative;
		text-align:center;
		border:0px solid red;
	}
	div.commentNew
	{
		position:absolute;
		top:4px;
		right:0px;
		color:green;
	}
/*###############################################*/