@charset "iso-8859-1";
@import url(../../base/css/sdating.css);
/*------------------*/

	.profile_header, .profile_desc_header
	{
		height:25px;
		font-weight:bold;
		text-align:center;
		background-image:url(../images/box_border_header_bg.gif);
		background-repeat:repeat-x;
		border:1px solid #9B9A9A;
	}
	td.profile_td_2_first, .profile_td_2
	{
		font-weight:bold;
	}
	.calendar_current
	{
		font-size: 11px;
		font-family: Arial, Helvetica, sans-serif;
		font-weight: bold;
		color: #3F3F3F;
		border: 1px solid #E1E1E1;
	}

	.calendar_non_current
	{
		font-size: 11px;
		font-family: Arial, Helvetica, sans-serif;
		color: #3F3F3F;
		font-weight: normal;
		border: 1px solid #E1E1E1;
	}

	.calendar_today
	{
		font-size: 11px;
		font-family: Arial, Helvetica, sans-serif;
		color: #3F3F3F;
		background-color: #E3E5EE;
		font-weight: bold;
		border: 1px solid #E1E1E1;
	}
/*#########################################*/
	.blockForCalendarAndEvent
	{
		margin-top:10px;
	}